.equipment-list .item {
    display: flex !important; /* Overrides Fomantic-UI */
    align-items: center;
}

.equipment-list .image img {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.equipment-list .equipment-title {
    margin: 0;
}

.equipment-list .delete-modal-button {
    margin-left: auto;
}
