/* --- tools.html --- */

.tools {
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 1fr;
    grid-row-gap: 30px;
    margin: 80px 0;
}

.tool-img {
    grid-column: 2/3;
    width: max-content;
}

.tool-img img {
    display: block;
}

.tool-text {
    position: relative;
    grid-column: 3/4;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow-wrap: break-word;
    overflow: hidden;
}

.tool-title a {
    text-transform: uppercase;
    font-size: 50px;
}

.txtborder {
    position: absolute;
    display: none;
    width: 50px !important;
    height: 50px !important;
}

.txtborder.tl {
    top: 0;
    left: 0;
}

.txtborder.tr {
    top: 0;
    right: 0;
}

.txtborder.bl {
    bottom: 0;
    left: 0;
}

.txtborder.br {
    bottom: 0;
    right: 0;
}

.tool-text.tool-first .txtborder.tr,
.tool-text.tool-last .txtborder.br {
    display: inline;
}


/* --- tool.html --- */

.tool-description {
    font-size: 16px;
    line-height: 26px;
}


/* Switch to mobile layout */
@media screen and (max-width: 992px) {

    /* --- tools.html --- */
    .tools {
        grid-template-columns: 1fr 20fr 1fr;
        grid-row-gap: 0;
        justify-items: center;
    }

    .tool-text {
        grid-column: 2/3;
        margin-bottom: 60px;
    }

    .tool-title {
        text-align: center;
    }

    .txtborder.tl,
    .txtborder.tr,
    .txtborder.bl,
    .txtborder.br {
        display: none !important;
    }
}
