{% extends base_template %}
{% load i18n %}
{% load static %}


{% block title %}{{ contentbox.title }}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'contentbox/css/content_box_detail.css' %}"/>
    {% include 'ckeditor/mathjax_render.html' %}
{% endblock extra_head %}

{% block padding_top %}
    <div class="ui container">
        <a class="{% if not user_can_change %}hidden{% endif %} edit-button ui make-bg-yellow button"
           {% if user_can_change %}href="{% url 'contentbox_edit' contentbox.pk %}"{% endif %}
        >
            <i class="edit icon"></i>{% trans "Edit" %}
        </a>
    </div>
{% endblock padding_top %}

{% block body %}
    <h1 class="ui text-centered make-col-blue header"
            {# Just for fun :)) #}
        {% if contentbox.url_name == 'make-history' %}style="font: normal 3rem/1.25 'Hobbiton Brushhand', fantasy !important;"{% endif %}
    >
        {{ contentbox.title }}
    </h1>
    <div class="contentbox ui container">
        {% block extra_pre_content %}{% endblock %}

        {{ contentbox.content|safe }}

        {% block extra_post_content %}{% endblock %}
    </div>
{% endblock body %}
