{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static "contentbox/css/display.css" %}">
{% endblock %}

{% block body %}
    <div class="contentbox ui container">
        {% if perms.contentbox.change_contentbox %}
            <a class="edit ui yellow button" href="{% url 'contentbox_edit' contentbox.id %}">
                {% trans "Edit" %}
            </a>
        {% endif %}
        {{ contentbox.content|safe }}
    </div>
{% endblock body %}
