{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'contentbox/css/display.css' %}"/>
{% endblock head %}

{% block body %}
    <div class="contentbox ui container">
        {% block extra_pre_content %}{% endblock %}

        {% if perms.contentbox.change_contentbox %}
            <a class="edit ui make-bg-yellow button" href="{% url 'contentbox_edit' contentbox.pk %}">
                <i class="ui edit icon"></i>{% trans "Edit" %}
            </a>
        {% endif %}
        {{ contentbox.content|safe }}

        {% block extra_post_content %}{% endblock %}
    </div>
{% endblock body %}
