{% extends base_template %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Edit" %} {{ contentbox.title }}{% endblock title %}

{% block extra_head %}
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        <h1 class="ui centered header">
            {% block form_header %}
                {% trans "Edit" %} {{ contentbox.title }}
            {% endblock form_header %}
        </h1>

        {% if form.content.errors %}
            <div class="ui error message">
                <i class="close icon"></i>
                <div class="header">{% trans "Missing language" %}</div>
                <div class="content">{% trans "One or more languages have no content." %}</div>
            </div>
        {% endif %}

        <form class="ui form text" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                {{ form.content }}
            </div>

            <input class="ui right floated make-bg-yellow submit button" type="submit" value="{% trans "Save" %}"/>
            <a class="ui right floated red button" href="{% url contentbox.title %}">
                {% trans "Cancel" context "abort action" %}
            </a>
        </form>
    </div>
{% endblock body %}
