{% extends 'web/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Edit" %} {{ contentbox.title }}{% endblock title %}

{% block head %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock head %}

{% block body %}
    <h1 class="ui centered header">
        {% block form_header %}
            {% trans "Edit" %}
            {{ contentbox.title }}
        {% endblock form_header %}
    </h1>
    <form class="ui form text container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <div class="ui tabular pointing secondary menu">
                <a class="active item" data-tab="first"><i class="no flag"></i>&nbsp;{% trans "Norwegian" %}</a>
                <a class="item" data-tab="second"><i class="us flag"></i>&nbsp;{% trans "English" %}</a>
            </div>
            <div class="ui tab active" data-tab="first">
                {{ form.content }}
            </div>
            <div class="ui tab" data-tab="second">
                {{ form.content_en }}
            </div>
        </div>
        <input class="ui blue submit button" type="submit" value="{% trans "Save" %}">
    </form>
    <script>
        $('.tabular.menu .item').tab();
    </script>
{% endblock body %}
