{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "web/css/index.css" %}">
    <script src="{% static "web/js/image-link.js" %}"></script>
{% endblock head %}


{% block body %}
    <h1 class="ui text-centered make_col_blue header">
        {% trans "Available Tools at Makerverkstedet" %}
    </h1>
    <div class="ui container">
        <div class="articles">
            {% for tool in tools_list %}
                <!-- For the pictures -->
                {% thumbnail tool.image "250x250"  as im %}
                    <img class="clickable css = float-right
                    			    {% if forloop.first %}article-first{% endif %}
			                        {% if forloop.last %}article-last{% endif %}"
                         src="{{ im.url }}" href="{% url 'tools' tool.id %}"
                         width="{{ im.width }}" height="{{ im.height }}"
                    style="margin-top: 30px">
                {% endthumbnail %}

                <!-- For the text -->
                <div class="article-text css = float-left
			    {% if forloop.first %}article-first{% endif %}
			    {% if forloop.last %}article-last{% endif %}">
                    <img class="txtborder tl" src="{% static "web/img/top_left.svg" %}">
                    <img class="txtborder tr" src="{% static "web/img/top_right.svg" %}">
                    <img class="txtborder bl" src="{% static "web/img/bottom_left.svg" %}">
                    <img class="txtborder br" src="{% static "web/img/bottom_right.svg" %}">
                    <div>
                        <h2>
                            <a href="{% url 'tools' tool.id %}">{{ tool.title }}</a>
                            {% if perms.tools.add_reservation_rule %}
                                <i class="ui green plus icon"></i>
                            {% endif %}
                        </h2>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock body %}
