#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.search.dropdown {
    width: 100% !important;
}

.ui.basic .skill-image {
    width: 26px !important;
    height: 26px !important;
    object-fit: cover;
}

.label .ui.star.rating .icon:not(.active) {
    color: #000000;
    opacity: 0.7;
}

.basic.image.label img.skill-image {
    height: 29px !important;
    width: 29px !important;
}
