{% extends 'web/header.html' %}
{% load i18n %}
{% load hosts %}
{% load permission_tags %}


{# Linking `web/header.css` and `web/header.js` is required when including this template #}

{% block logo_link_url %}{% url 'home' %}{% endblock logo_link_url %}

{% block nav_buttons %}
    <a class="item" href="{% url 'member_list' %}">
        <div class="text">{% translate "Members" %}</div>
        <div class="make-bg-yellow bubble-background"></div>
    </a>
    <a class="item" href="{% url 'secret_list' %}">
        <div class="text">{% translate "Secrets" %}</div>
        <div class="make-bg-turquoise bubble-background"></div>
    </a>
    <a class="item" href="{% url 'quote_list' %}">
        <div class="text">{% translate "Quotes" %}</div>
        <div class="make-bg-blue bubble-background"></div>
    </a>

    <div class="nav-dropdown ui dropdown item">
        <div class="text">{% translate "Misc." %}</div>
        <i class="dropdown icon text" tabindex{# for disabling focus on click #}></i>
        <div class="make-bg-yellow bubble-background"></div>

        <nav class="menu transition" aria-label="{% translate "Misc." %}">
            <a class="item" href="{% url 'make-history' %}">
                <div class="text">{% translate "The History of MAKE NTNU" %}</div>
            </a>
        </nav>
    </div>
{% endblock nav_buttons %}

{% block user_dropdown_buttons %}
    <a class="item" href="{% host_url 'index_page' host 'main' %}">
        <div class="text">{% translate "Public pages" %}</div>
    </a>
    {% if user|can_view_admin_panel %}
        <a class="item" href="{% host_url 'admin_panel' host 'main' %}">
            <div class="text">{% translate "Administration" %}</div>
        </a>
    {% endif %}
    {% if user.is_staff %}
        <a class="item" href="{% host_url 'admin:index' host 'admin' %}">
            <div class="text">{% translate "Django admin" %}</div>
        </a>
    {% endif %}
    <form class="logout-form item" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="text" type="submit">{% translate "Log out" %}</button>
    </form>
{% endblock user_dropdown_buttons %}

{% block announcements %}{% endblock announcements %}
