{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    {% translate "The wiki of MAKE lore" %}
{% endblock title %}

{% block header_links %}
    <link rel="stylesheet" href="{% static 'internal/css/make_lore.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/header.css' %}"/>
    <script defer src="{% static 'web/js/header.js' %}"></script>
{% endblock header_links %}

{% block body %}
    <div id="lore-page">
        <div id="lore-wiki-list">
            <h2>{% translate "Topics" %}
                {% if perms.internal.add_lore %}
                    <a href="{% url 'add_lore' %}">
                        <i class="green plus icon"></i>
                    </a>
                {% endif %}
            </h2>
            {% include 'internal/includes/lore_articles_list.html' %}
        </div>

        {# Checkbox belongs to hamburger menu. Checkbox status decides if hamburger menu will be shown or not #}
        <input type="checkbox" id="burger-input">
        <label id="lore-burger-icon" for="burger-input"></label>
        <h2>{% translate "Topics" %}
            {% if perms.internal.add_lore %}
                <a href="{% url 'add_lore' %}">
                    <i class="green plus icon"></i>
                </a>
            {% endif %}
        </h2>
        <div id="lore-burger-menu">
            {% include 'internal/includes/lore_articles_list.html' %}
        </div>

        <div id="lore-article">
            {% if show_article %}
                <h1 class="lore-heading">{{ lore_article.title|capfirst }}</h1>
                {% if perms.internal.delete_lore and lore_article.title != "Dev" %}
                    <a class="delete-modal-button"
                        data-url="{% url 'delete_lore' lore_article.slug %}"
                        data-obj-name="{{ lore_article }}">
                        <i class="red trash icon"></i>
                    </a>
                {% endif %}
                {% if perms.internal.change_lore and lore_article.title != "Dev" %}
                    <a href="{% url 'update_lore' lore_article.slug %}">
                        <i class="make-col-yellow pencil icon"></i>
                    </a>
                {% endif %}
                <div class="lore-container">
                    {% if lore_article.image %}
                        <img class="lore-img" src="{{ lore_article.image.url }}" alt="{{ lore_article.title }}">
                    {% endif %}
                    <p>{{ lore_article.text|linebreaks }}</p>
                </div>
            {% else %}
                <h1>{% translate "Welcome to the wiki of MAKE lore" %}</h1>
                <p>{% translate "Click a topic in the menu to access a wiki article" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block footer %}{% endblock footer %}
