{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}{% translate "Quotes" %}{% endblock title %}

{% block body %}
    <div class="ui container">
        <h1 class="ui header">
            {% translate "Quotes" %}
            {% if perms.internal.add_quote %}
                <a href="{% url 'quote_create' %}">
                    <i class="green plus icon"></i>
                </a>
            {% endif %}
        </h1>
        <div class="ui cards">
            {% for quote in quotes %}
                <div class="card">
                    <div class="content">
                        <div class="header">
                            {{ quote.quoted }}:
                            {% if perms.internal.delete_quote or request.user == quote.author %}
                                <a class="delete-modal-button"
                                   data-url="{% url 'quote_delete' quote.pk %}"
                                   data-obj-name="{{ quote }}">
                                    <i class="right floated red trash icon"></i>
                                </a>
                            {% endif %}
                            {% if perms.internal.change_quote or request.user == quote.author %}
                                <a href="{% url 'quote_update' quote.pk %}">
                                    <i class="right floated make-col-yellow pencil icon"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="description">
                            {% blocktranslate with quote=quote.quote %}“{{ quote }}”{% endblocktranslate %}
                        </div>
                        <div class="meta">
                            {{ quote.context }}
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            {{ quote.date }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
