{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}
{% load datetime_tags %}


{% block title %}{% translate "Internal secrets" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'internal/css/secret_list.css' %}"/>
    <!--suppress ES6ConvertVarToLetConst -->
    <script>
        {# These variables are used in `secret_list.js` #}
        var secretsShownSeconds = {{ secrets_shown_seconds }};
        var secretsShownDelayedSeconds = {{ secrets_shown_delayed_seconds }};
    </script>
    <script defer src="{% static 'internal/js/secret_list.js' %}"></script>
    {% include 'ckeditor/mathjax_render.html' %}
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        <h1 class="ui header">
            {% translate "Internal secrets" %}
            {% if perms.internal.add_secret %}
                <a href="{% url 'create_secret' %}">
                    <i class="green plus icon"></i>
                </a>
            {% endif %}
        </h1>
        <div class="ui items">
            {% for secret in secrets %}
                <div class="item">
                    <div class="content">

                        <div class="word-breaking hyphenated header">
                            {{ secret.title }}
                            {% if perms.internal.change_secret %}
                                <a href="{% url 'edit_secret' secret.pk %}">
                                    <i class="make-col-yellow pencil icon"></i>
                                </a>
                            {% endif %}
                            {% if perms.internal.delete_secret %}
                                <a class="delete-modal-button"
                                   data-url="{% url 'delete_secret' secret.pk %}"
                                   data-obj-name="{{ secret }}">
                                    <i class="red trash icon"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="meta">
                            <span>{% translate "last modified"|capfirst %}: {{ secret.last_modified|short_datetime }}</span>
                        </div>
                        <div class="word-breaking description">
                            <button class="secret-show-button ui red button" data-secret-id="secret-{{ secret.pk }}">
                                {% translate "Click to show – only if you're alone!" %}
                            </button>
                            <div id="secret-{{ secret.pk }}" class="display-none">
                                <button class="secret-hide-button ui blue button" data-secret-id="secret-{{ secret.pk }}">
                                    {% translate "Hide – someone's behind me!" %}
                                </button>
                                <button class="secret-delay-hiding-button ui make-bg-yellow button" data-secret-id="secret-{{ secret.pk }}">
                                    {% blocktranslate trimmed with num_seconds=secrets_shown_delayed_seconds %}
                                        Delay hiding for {{ num_seconds }} seconds
                                    {% endblocktranslate %}
                                </button>
                                {{ secret.content|safe }}
                            </div>
                        </div>

                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="ui divider"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
