{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}
{% load datetime_tags %}


{% block title %}{% translate "Internal secrets" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'internal/css/secret_list.css' %}"/>
    <!--suppress ES6ConvertVarToLetConst -->
    <script>
        {# These variables are used in `secret_list.js` #}
        var secretsShownSeconds = {{ secrets_shown_seconds }};
        var secretsShownDelayedSeconds = {{ secrets_shown_delayed_seconds }};
    </script>
    <script defer src="{% static 'internal/js/secret_list.js' %}"></script>
    {% include 'ckeditor/mathjax_render.html' %}
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        <h1 class="ui header">
            {% translate "Internal secrets" %}
            {% if perms.internal.add_secret %}
                <a href="{% url 'create_secret' %}">
                    <i class="green plus icon"></i>
                </a>
            {% endif %}
        </h1>
        <div class="secret-list ui items">
            {% for secret in secrets %}
                <div class="item">
                    <div class="{% if secret.extra_view_permissions.exists %}split{% endif %} content">

                        <div class="word-breaking hyphenated header">
                            {{ secret.title }}
                            {% if perms.internal.change_secret %}
                                <a href="{% url 'edit_secret' secret.pk %}">
                                    <i class="make-col-yellow pencil icon"></i>
                                </a>
                            {% endif %}
                            {% if perms.internal.delete_secret %}
                                <a class="delete-modal-button"
                                   data-url="{% url 'delete_secret' secret.pk %}"
                                   data-obj-name="{{ secret }}">
                                    <i class="red trash icon"></i>
                                </a>
                            {% endif %}
                        </div>
                        {# Don't need to check if the user has the view permissions, as that's handled by the view before this template is rendered #}
                        {% if secret.extra_view_permissions.exists %}
                            <div class="permission-notice meta">
                                {% translate "You can see this secret because you have the following permissions" %}:
                                <div class="ui small list">
                                    {% for perm in secret.extra_view_permissions.all %}
                                        <div class="item">
                                            <div class="item ui tiny label">
                                                {{ perm }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="meta">
                            <span>{% translate "last modified"|capfirst %}: {{ secret.last_modified|short_datetime }}</span>
                        </div>
                        <div class="control-buttons description" data-secret-id="secret-{{ secret.pk }}">
                            <div class="ui compact wrapping spaced buttons">
                                <button class="secret-show-button ui red button">
                                    {% translate "Click to show – only if you're alone!" %}
                                </button>
                                <button class="secret-hide-button ui blue button display-none">
                                    {% translate "Hide – someone's behind me!" %}
                                </button>
                                <button class="secret-delay-hiding-button ui make-bg-yellow button display-none">
                                    {% blocktranslate trimmed with num_seconds=secrets_shown_delayed_seconds %}
                                        Delay hiding for {{ num_seconds }} seconds
                                    {% endblocktranslate %}
                                </button>
                            </div>
                        </div>
                        <div id="secret-{{ secret.pk }}" class="word-breaking secret description display-none">
                            {{ secret.content|safe }}
                        </div>

                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="ui divider"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
