django==3.0.*
django-ckeditor==5.9.*
Pillow
python-social-auth
python-dataporten-auth
social-auth-app-django
sorl-thumbnail
channels
channels_redis
django_ical
xlsxwriter
python_ldap==3.2.*
django-hosts==4.0.0
django-decorator-include>=3.0
uuid
django-phonenumber-field
phonenumbers
