Django==3.0.*
django-hosts==4.0.0
django-ckeditor==5.9.*
django-decorator-include>=3.0
django_ical
django-phonenumber-field
sorl-thumbnail

python-social-auth
python-dataporten-auth
social-auth-app-django
python_ldap==3.2.*

channels
channels_redis

phonenumbers
Pillow
uuid
xlsxwriter
