{% load i18n %}
{% load reservation_extra %}
{% load static %}


<link rel="stylesheet" href="{% static 'make_queue/css/calendar.css' %}"/>
<script src="{% static 'web/js/date_utils.js' %}"></script>
<script src="{% static 'make_queue/js/calendar.js' %}"></script>
<script src="{% static 'make_queue/js/reservation_rule_utils.js' %}"></script>

{# Needed to be able to create a reservation #}
{% csrf_token %}

<div class="reservation-calendar">

    <div class="ui top attached buttons">
        <div class="ui make-bg-yellow labeled icon previous button">
            <i class="left chevron icon"></i>
            {% translate "Previous" %}
        </div>

        <div class="ui make-bg-yellow bordered current button">
            <i class="calendar icon"></i>
            {% translate "Today" %}
        </div>

        <div class="ui make-bg-yellow right labeled icon next button">
            <i class="right chevron icon"></i>
            {% translate "Next" %}
        </div>
    </div>

    <table class="ui attached celled fixed very compact unstackable table">
        <thead>
        <tr>
            {# Full size information #}
            <th>
                <div class="large header"></div>
                <div class="medium header"></div>
            </th>
            {# Mobile size information #}
            <th>
                <div class="large header"></div>
                <div class="medium header"></div>
            </th>
            {# Day headers #}
            {% shorthand_days as days %}
            {% for day in days %}
                <th>
                    <div class="large header">{{ day|capfirst }}</div>
                    <div class="medium header"></div>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr class="wrapping">
            <td class="time information">
                <div class="height adjuster"></div>
                {% numeric_range 1 24 as hours %}
                {% for hour in hours %}
                    <div class="time indicator">{{ hour|stringformat:"02d" }}:00</div>
                {% endfor %}
                <div class="height adjuster"></div>
            </td>
            {% for day in days %}
                <td class="wrapping day">
                    <div class="time indication line"></div>
                    <div class="time indication line"></div>
                    <div class="time indication line"></div>
                    <div class="time indication line"></div>
                    <div class="time indication line"></div>
                    <div class="time indication line"></div>
                    <div class="time indication line"></div>
                    <div class="time indication line"></div>
                    <div class="reservations"></div>
                </td>
            {% endfor %}
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="8">
                <div class="legend right-floated">
                    <div class="legend item">
                        <div class="make reservation box"></div>
                        MAKE NTNU
                    </div>
                    <div class="legend item">
                        <div class="normal reservation box"></div>
                        {% translate "Other reservations" %}
                    </div>
                    <div class="legend item">
                        <div class="event reservation box"></div>
                        {% translate "Events" %}
                    </div>
                    <div class="legend item">
                        <div class="own reservation box"></div>
                        {% translate "My reservations" %}
                    </div>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>

</div>
