{% load staticfiles %}
{% load reservation_extra %}
{% load i18n %}

<div class="ui {% if color_bottom %}{% card_color_from_machine_status machine %} {% endif %}card">
    <link rel="stylesheet" href="{% static 'make_queue/css/stream.css' %}">
    <img class="stream image" name="{{ machine.name }}" src="{% static "make_queue/img/no_stream.jpg" %}">
    <div class="content">
        <div class="header">
            {{ machine.name }}
        </div>
        <div class="meta">
            <div class="ui {% card_color_from_machine_status machine %} tiny header no_bold">
				{% card_text_from_machine_status machine %}
            </div>
        </div>
        {{ machine.model }} <br>
        <a href="{{ machine.location_url }}" target="_blank">
            <i class="icon location arrow"></i>{{ machine.location }}
        </a>
    </div>
    {% if calendar_link %}
        <div>
            <a class="ui bottom attached button {% card_color_from_machine_status machine %}"
               href="{% current_calendar_url machine %}">
                {% trans "View in calendar" %}
            </a>
        </div>
    {% endif %}
    <div id="fader"></div>
    <i id="closefullscreen" class="ui times icon"></i>
    <script src="{% static "make_queue/js/stream.js" %}"></script>
</div>
