{% load static %}
{% load reservation_extra %}
{% load i18n %}


<div class="ui {% if color_bottom %}{% card_color_from_machine_status machine %}{% endif %} card">
    <link rel="stylesheet" href="{% static 'make_queue/css/stream.css' %}"/>
    {% if machine.machine_type.has_stream %}
        <img id="stream-{% sanitize_stream_name machine %}" class="stream image" name="{% sanitize_stream_name machine %}"
             src="{% static 'make_queue/img/no_stream.svg' %}"
             alt="{% blocktrans trimmed with name=machine.name %}Live stream of the machine {{ name }}{% endblocktrans %}"
        />
    {% endif %}
    <div class="content">
        <div class="header">
            {{ machine.name }}
            {% if perms.make_queue.change_machine %}
                <a href="{% url "edit_machine" machine.pk %}">
                    <i class="ui make-col-yellow pencil icon"></i>
                </a>
            {% endif %}
            {% if perms.make_queue.delete_machine %}
                <a class="delete-modal-button"
                   data-url="{% url "delete_machine" machine.pk %}"
                   data-obj-name="{{ machine.name }}">
                    <i class="ui red trash icon"></i>
                </a>
            {% endif %}
        </div>
        <div class="meta">
            <div class="ui {% card_color_from_machine_status machine %} tiny header no_bold">
                {% card_text_from_machine_status machine %}
            </div>
        </div>
        {{ machine.machine_model }}<br/>
        <a href="{{ machine.location_url }}" target="_blank">
            <i class="icon location arrow"></i>{{ machine.location }}
        </a>
    </div>
    {% if calendar_link %}
        <div>
            <a class="ui bottom attached button {% card_color_from_machine_status machine %}"
               href="{% current_calendar_url machine %}">
                {% trans "View in calendar" %}
            </a>
        </div>
    {% endif %}
    {% if machine.machine_type.has_stream %}
        <div id="fader"></div>
        <i id="closefullscreen" class="ui times icon"></i>
        <script>var streamID = "stream-{% sanitize_stream_name machine %}";</script>
        <script src="{% static 'make_queue/js/stream.js' %}"></script>
    {% endif %}
</div>
