{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load datetime_tags %}
{% load reservation_extra %}


{% block title %}{{ machine.name }} - {{ machine.machine_model }}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'make_queue/css/machine_detail.css' %}"/>
    <link rel="stylesheet" href="{% static 'make_queue/css/reservation_actions.css' %}"/>

    {% if machine.machine_type.has_stream %}
        <link rel="stylesheet" href="{% static 'make_queue/css/stream.css' %}"/>
        <!--suppress ES6ConvertVarToLetConst -->
        <script>
            {# These variables are used in `stream.js` #}
            var connectStreamsOutsideViewport = true; // since there's always only one stream on the page
        </script>
        <script defer src="{% static 'make_queue/js/stream.js' %}"></script>
    {% endif %}
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        {% csrf_token %}
        <div class="machine-title-field">
            <div class="word-breaking hyphenated machine-title ui huge header">
                {{ machine.name }}
                {% if perms.make_queue.change_machine %}
                    <a href="{% url 'edit_machine' machine.pk %}">
                        <i class="small make-col-yellow pencil icon"></i>
                    </a>
                {% endif %}
                {% if perms.make_queue.delete_machine %}
                    <a class="delete-modal-button"
                       data-url="{% url 'delete_machine' machine.pk %}"
                       data-obj-name="{{ machine.name }}">
                        <i class="small red trash icon"></i>
                    </a>
                {% endif %}
            </div>
            <div class="ui content">
                <a class="ui primary button" href="{{ machine.machine_type.usage_rule.get_absolute_url }}">
                    {% translate "Show rules" %}
                </a>
            </div>
        </div>

        <div class="machine-info-and-actions">

            <div class="machine-info">
                <h3>{% translate "About the machine" %}</h3>
                <div class="ui relaxed list">
                    <div class="item">
                        <i class="large middle aligned make-col-yellow location arrow icon"></i>
                        <div class="content">
                            <div class="header">{% translate "location"|capfirst %}</div>
                            <a href="{{ machine.location_url }}" target="_blank">{{ machine.location }}</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large middle aligned make-col-yellow cog icon"></i>
                        <div class="content">
                            <div class="header">{% translate "machine type"|capfirst %}</div>
                            {{ machine.machine_type.name }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="large middle aligned make-col-yellow wrench icon"></i>
                        <div class="content">
                            <div class="header">{% translate "model"|capfirst %}</div>
                            {{ machine.machine_model }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="large middle aligned make-col-yellow info circle icon"></i>
                        <div class="content">
                            <div class="header">{% translate "status"|capfirst %}</div>
                            <b>
                                <span class="ui {% card_color_from_machine_status machine %} text">
                                    {% card_text_from_machine_status machine %}
                                </span>
                            </b>
                        </div>
                    </div>
                </div>
            </div>

            {% if machine.info_message %}
                <div class="info-message">
                    <div class="ui header">
                        <i class="make-col-yellow comment dots icon"></i>
                        {% translate "info message"|capfirst %}
                    </div>
                    <div class="content">
                        {{ machine.info_message|linebreaks }}
                    </div>
                </div>
            {% endif %}

            {% if machine.machine_type.has_stream %}
                <div class="machine-image">
                    <img class="stream image" data-stream-name="{{ machine.stream_name }}"
                         src="{% get_stream_image_path machine.status %}"
                         alt="{% blocktranslate with name=machine.name %}Live stream of the machine {{ name }}{% endblocktranslate %}"
                    />
                </div>
                <div id="fader"></div>
                <i id="close-fullscreen-button" class="times icon"></i>
            {% endif %}

            <div class="actions-list {% if machine.machine_type.has_stream %}{% else %}{% endif %}">
                {% include 'make_queue/reservation_actions.html' %}
            </div>

        </div>

        {% include 'make_queue/calendar.html' %}
        <script>
            new ReservationCalendar($(".reservation-calendar"), {
                machine: "{{ machine.pk }}",
                selection: {% if reservation_denied_message %}false{% else %}true{% endif %},
                canBreakRules: {% if can_ignore_rules %}true{% else %}false{% endif %},
                date: new Date("{{ selected_date|iso_datetime }}"),
            });
        </script>
    </div>
{% endblock body %}
