{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load reservation_extra %}


{% block title %}
    {{ machine.name }} - {{ machine.machine_model }}
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'make_queue/css/machine_detail.css' %}"/>
    <link rel="stylesheet" href="{% static 'make_queue/css/reservation_actions.css' %}"/>
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        {% csrf_token %}
        <div class="ui machine-title-field">
            <div class="ui huge header machine-title">
                {{ machine.name }}
            </div>
            <div class="ui content">
                <a class="ui primary button" href="{% url 'machine_usage_rules_detail' machine.machine_type %}">
                    {% trans "Show rules" %}
                </a>
            </div>
        </div>

        <div class="machine-info-and-actions ui three column padded grid vpad">

            <div class="ui five wide no padding column">
                <h3>{% trans "About the machine" %}</h3>
                <div class="ui relaxed list">
                    <div class="item">
                        <i class="ui large middle aligned make-col-yellow location arrow icon"></i>
                        <div class="content">
                            <div class="header">{% trans "location"|capfirst %}</div>
                            <a href="{{ machine.location_url }}" target="_blank">{{ machine.location }}</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ui large middle aligned make-col-yellow cog icon"></i>
                        <div class="content">
                            <div class="header">{% trans "machine type"|capfirst %}</div>
                            {{ machine.machine_type.name }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="ui large middle aligned make-col-yellow wrench icon"></i>
                        <div class="content">
                            <div class="header">{% trans "model"|capfirst %}</div>
                            {{ machine.machine_model }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="ui large middle make-col-yellow aligned info circle icon"></i>
                        <div class="content">
                            <div class="header">{% trans "status"|capfirst %}</div>
                            <b>
                                <span class="ui {% card_color_from_machine_status machine %} text">
                                    {% card_text_from_machine_status machine %}
                                </span>
                            </b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui right floated no padding column tablet computer only">
                {% include 'make_queue/reservation_actions.html' %}
            </div>

            {% if machine.machine_type.has_stream %}
                <div class="ui right floated ten wide mobile five wide tablet five wide computer no padding column">
                    <img class="ui right floated stream medium image" data-stream-name="{{ machine.stream_name }}"
                         src="{% get_stream_image_path machine.status %}"
                         alt="{% blocktrans trimmed with name=machine.name %}Live stream of the machine {{ name }}{% endblocktrans %}"
                    />
                </div>
                <div id="fader"></div>
                <i id="closefullscreen" class="ui times icon"></i>
                <link rel="stylesheet" href="{% static 'make_queue/css/stream.css' %}"/>
                <script src="{% static 'make_queue/js/stream.js' %}"></script>
            {% endif %}

            <div class="ui right floated {% if machine.machine_type.has_stream %}sixteen{% else %}ten{% endif %} wide mobile only no padding column">
                {% include 'make_queue/reservation_actions.html' %}
            </div>

        </div>

        {% include 'make_queue/calendar.html' %}
        <script>
            new ReservationCalendar($(".reservation-calendar"), {
                machine: {{ machine.pk }},
                selection: {% if reservation_denied_message %}false{% else %}true{% endif %},
                canBreakRules: {% if can_ignore_rules %}true{% else %}false{% endif %},
                date: new Date(Date.parse("{{ date|date:"c" }}")),
            });
        </script>

    </div>
{% endblock body %}
