{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load semantic_ui_calendar_extra %}
{% load reservation_extra %}

{% block head %}
    <script type="text/javascript" src="{% static 'web/calendar/calendar.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/calendar/calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'make_queue/css/general.css' %}">
{% endblock %}

{% block body %}
    <div class="ui container">
        {% if error %}
            <div class="ui red message">
                <i class="close icon"></i>
                {{ error }}
            </div>
        {% endif %}
        <div class="ui large header">
            {% if new_reservation %}
                {% trans "New reservation" %}
            {% else %}
                {% trans "Edit reservation" %}
            {% endif %}
        </div>
        <form class="ui form" id="reserve_form" method="post"
              data-max-time-reservation="{{ quota.max_time_reservation }}">
            {% csrf_token %}
            <div class="two fields">
                <div class="field">
                    <label>{% trans "Equipment type" %}</label>
                    <div class="ui fluid selection dropdown {% if not new_reservation %}disabled{% endif %}"
                         id="machine_type_dropdown">
                        <input type="hidden" name="machine_type" value="default">
                        <div class="default text">
                            {% trans "Select equipment type" %}
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for machine_type in machine_types %}
                                {% if machine_type.instances %}
                                    <div class="item {% if selected_machine.literal == machine_type.literal %}selected_machine_type{% endif %}"
                                         data-value="{{ machine_type.literal }}">{{ machine_type.literal }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>{% trans "Equipment" %}</label>
                    <div class="ui fluid selection dropdown disabled" id="machine_name_dropdown">
                        <input type="hidden" name="machine_name" value="default">
                        <div class="default text">
                            {% trans "Select machine" %}
                        </div>
                        <i class="dropdown icon"></i>
                        {% for machine_type in machine_types %}
                            {% if machine_type.instances %}
                                <div class="menu {{ machine_type.literal }}">
                                    {% for instance in machine_type.instances %}
                                        <div class="item {% if selected_machine.pk == instance.pk %}selected_machine_name{% endif %}"
                                             data-value="{{ instance.pk }}">{{ instance.name }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>{% trans "Start time" %}</label>
                    <div class="ui calendar" id="start_time">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="start_time" type="text" placeholder="{% trans "Start time" %}"
                                   value="{% if start_time %}
                                               {{ start_time|date:"Y-m-d H:i" }}
                                          {% else %}
                                               {% set_current_date %}
                                          {% endif %}">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>{% trans "End time" %}</label>
                    <div class="ui calendar" id="end_time">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="end_time" type="text" placeholder="{% trans "End time" %}"
                                   value="{% if end_time %}
                                               {{ end_time|date:"Y-m-d H:i" }}
                                          {% else %}
                                               {% set_current_date 2 %}
                                          {% endif %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="comment">{% trans "Comment" %}</label>
                <textarea rows="2" maxlength="2000" name="comment" id="comment"
                          placeholder="Eventuell kommentar">{{ comment }}</textarea>
            </div>

            {% if perms.make_queue.can_create_event_reservation %}
                <div class="two fields">
                    <div class="ui field">
                        <div class="two fields">
                            <div class="field">
                                <div class="ui checkbox {% if not new_reservation %}disabled{% endif %}"
                                     id="event_checkbox">
                                    <input type="checkbox" name="event" id="event"
                                           {% if not is_new_reservation and event %}checked{% endif %}/>
                                    <label for="event">{% trans "Event" %}</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checkbox {% if not new_reservation %}disabled{% endif %}"
                                     id="special_checkbox">
                                    <input type="checkbox" name="special" id="special"
                                           {% if not is_new_reservation and special %}checked{% endif %}/>
                                    <label for="event">{% trans "MAKE NTNU" %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui field {% if not event %}make_hidden{% endif %}" id="event_name_input">
                        <label>{% trans "Event" %}</label>
                        <div class="ui field selection dropdown" id="event_pk">
                            <input type="hidden" name="event_pk" value="{% if event %}{{ event.pk }}{% endif %}">
                            <div class="default text">
                                {% trans "Select event" %}
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {% for event in events %}
                                    <div class="item" data-value="{{ event.pk }}">
                                        <b>{{ event.event.title }}</b><br>
                                        {% if event.start_date == event.end_date %}{{ event.start_date|date:"d/m/Y" }} -
                                            {{ event.start_time|time:"H:i" }}
                                            {% else %}{{ event.start_date|date:"d/m/Y" }} -
                                            {{ event.end_date|date:"d/m/Y" }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="ui field {% if not special %}make_hidden{% endif %}" id="special_input">
                        <label>{% trans "Reservation text" %}</label>
                        <div class="ui input" id="special_text">
                            <input type="text" placeholder="Reservasjons tekst" maxlength=20 name="special_text"
                                   value="{% if special %}{{ special_text }}{% endif %}">
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="float_fix">
                <input class="ui right floated button" type="submit"
                       value="{% if new_reservation %}{% trans "Reserve" %}{% else %}{% trans "Change" %}{% endif %}">
            </div>
        </form>

        <div id="reservation_calendar">

        </div>
    </div>

    <script>
        let maximum_day = new Date();
        maximum_day.setDate(maximum_day.getDate() + {{ maximum_days_in_advance }});
    </script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static "make_queue/js/make_reservation.js" %}"></script>
    <script>
        getFutureReservations($('#machine_type_dropdown').dropdown('get value'), $('#machine_name_dropdown').dropdown('get value'), {% invert start_time %});
        updateMaxReservationTime("{{ selected_machine.literal }}");
    </script>
{% endblock %}
