{% extends "web/base.html" %}
{% load staticfiles %}
{% load semantic_ui_calendar_extra %}

{% block head %}
    <script type="text/javascript" src="{% static 'web/calendar/calendar.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/calendar/calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'make_queue/css/general.css' %}">
{% endblock %}

{% block body %}
    <br><br>
    <div class="ui container">
        <div class="ui large header">
            {% if new_reservation %}
                Ny reservasjon
            {% else %}
                Endre reservasjon
            {% endif %}
        </div>
        <form class="ui form" id="reserve_form" method="post" data-max-time-reservation="{{ quota.max_time_reservation }}">
            {% csrf_token %}
            <div class="two fields">
                <div class="field">
                    <label>Utstyrs type</label>
                    <div class="ui fluid selection dropdown {% if not new_reservation %}disabled{% endif %}" id="machine_type_dropdown">
                        <input type="hidden" name="machine_type" value="default">
                        <div class="default text">Velg utstyrs type</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for machine_type in machine_types %}
                                {% if machine_type.instances %}
                                    <div class="item {% if selected_machine.literal == machine_type.literal %}selected_machine_type{% endif %}"
                                         data-value="{{ machine_type.literal }}">{{ machine_type.literal }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Utstyr</label>
                    <div class="ui fluid selection dropdown disabled" id="machine_name_dropdown">
                        <input type="hidden" name="machine_name" value="default">
                        <div class="default text">Velg maskin</div>
                        <i class="dropdown icon"></i>
                        {% for machine_type in machine_types %}
                            {% if machine_type.instances %}
                                <div class="menu {{ machine_type.literal }}">
                                    {% for instance in machine_type.instances %}
                                        <div class="item {% if selected_machine.pk == instance.pk %}selected_machine_name{% endif %}"
                                             data-value="{{ instance.pk }}">{{ instance.name }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>Start tidspunkt</label>
                    <div class="ui calendar" id="start_time">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="start_time" type="text" placeholder="Start tidspunkt"
                                   value="{% if start_time %}{{ start_time|date:"Y-m-d H:i" }}{% else %}{% set_current_date %}{% endif %}">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Slutt tidspunkt</label>
                    <div class="ui calendar" id="end_time">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="end_time" type="text" placeholder="Slutt tidspunkt"
                                   value="{% if end_time %}{{ end_time|date:"Y-m-d H:i" }}{% else %}{% set_current_date 2 %}{% endif %}">
                        </div>
                    </div>
                </div>
            </div>

            {% if perms.make_queue.can_create_event_reservation %}
                <div class="two fields">
                    <div class="field">
                        <div class="ui checkbox {% if not new_reservation %}disabled{% endif %}" id="event_checkbox">
                            <input type="checkbox" name="event" id="event" {% if not is_new_reservation and event %}checked{% endif %}/>
                            <label for="event">Arrangement</label>
                        </div>
                    </div>
                    <div class="ui field {% if new_reservation or not event %}make_non_visible{% endif %}" id="event_name_input">
                        <label>Arrangement</label>
                        <div class="ui field selection dropdown" id="event_pk">
                            <input type="hidden" name="event_pk" value="{% if event %}{{ event.pk }}{% endif %}">
                            <div class="default text">Velg event</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {% for event in events %}
                                    <div class="item" data-value="{{ event.pk }}">
                                        <b>{{ event.title }}</b><br>
                                        {% if event.start_date == event.end_date %}{{ event.start_date|date:"d/m/Y" }} - {{ event.start_time|time:"H:i" }}
                                        {% else  %}{{ event.start_date|date:"d/m/Y" }} - {{ event.end_date|date:"d/m/Y" }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <input class="ui right floated button" type="submit" value="{% if new_reservation %}Reserver{% else %}Endre{% endif %}">
        </form>

        <div id="reservation_calendar" class="ui container">
            <div class="make_reservation_calendar">

            </div>
        </div>
    </div>

    <script src="{% static "make_queue/js/make_reservation.js" %}"></script>
{% endblock %}