{% extends 'web/base.html' %}
{% load reservation_extra %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'make_queue/css/general.css' %}">
{% endblock %}

{% block title %}Mine reservasjoner{% endblock %}
{% block body %}
    <br><br>
    <div class="ui container">
        <div class="ui huge header">
            Mine reservasjoner
        </div>
        <div class="ui vertical segment">
            <a class="ui button primary" href="{% url 'reservation_machines_overview' %}">
                Maskiner
            </a>
        </div>
        <table class="ui table">
            <thead>
            <tr>
                <th>Reservasjon</th>
                <th>Tidspunkt</th>
                <th>Se i kalender</th>
                <th>Endre</th>
                <th>Kanseller</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>
                        <div class="ui small header make_collapsed_header">{{ reservation.machine.name }}</div>
                        <div>{{ reservation.machine.model }}</div>
                        <div>
                            <a href="{{ reservation.machine.location_url }}">
                                <i class="location arrow icon"></i>{{ reservation.machine.location }}
                            </a>
                        </div>
                    </td>
                    <td>
                        {% if reservation.start_time.date == reservation.end_time.date %}
                            <div>{{ reservation.start_time|date:"d/m/y" }}</div>
                            <div>{{ reservation.start_time|date:"H:i" }} - {{ reservation.end_time|date:"H:i" }}</div>
                        {% else %}
                            <div>{{ reservation.start_time|date:"d/m/Y - H:i" }}</div>
                            <div>{{ reservation.end_time|date:"d/m/Y - H:i" }}</div>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% calendar_url_reservation reservation %}">
                            <div class="ui button primary">Kalender</div>
                        </a>
                    </td>
                    <td>
                        {% if reservation.can_delete %}
                            <a href="{% url 'change_reservation' reservation=reservation %}">
                                <div class="ui button primary">Endre</div>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if reservation.can_delete %}
                            <form method="post" action="{% url 'delete_reservation' %}">
                                {% csrf_token %}
                                <input type="number" name="pk" class="make_hidden" value="{{ reservation.pk }}"/>
                                <input type="text" name="machine_type" class="make_hidden"
                                       value="{{ reservation.machine.literal }}"/>
                                <input type="submit" class="ui button red" value="Kanseller">
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
    </div>
{% endblock %}