{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load reservation_extra %}

{% block head %}
    <script type="text/javascript" src="{% static 'web/calendar/calendar.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/calendar/calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'make_queue/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'make_queue/css/overview.css' %}">
{% endblock %}

{% block title %}
    {{ machine.name }} - {{ machine.model }}
{% endblock %}

{% block body %}
    {% can_use_machine machine user as can_use %}
    <div class="ui container">
        {% csrf_token %}
        <div class="ui machine-title-field">
            <div class="ui huge header machine-title">
                {% trans "Reservations" %}
            </div>
            <a href="{% url "machine_usage_rules" machine.machine_type %}">(Rules)</a>
        </div>
        <div class="ui grid padded equal width ">
            <div class="column">
                <div class="ui cards">
                    {% include 'make_queue/machine_card.html' with machine=machine color_bottom=1 %}
                </div>
            </div>
            <div class="column no padding">
                <div class="ui vertical buttons make_right_floated">
                    <div class="enable_popup"
                            {% if not user.is_authenticated %}
                         data-content="{% trans "You must be logged in to make new reservations" %}"
                            {% elif not can_use %}
                         data-content="{% get_machine_cannot_use_text machine %}"
                            {% elif not can_make_more_reservations %}
                         data-content="{% trans "You have reached the maximum number of future reservations" %}"
                            {% endif %}>
                        <a class="ui labeled icon wrapped make_yellow button {% if not can_use or not can_make_more_reservations %}disabled{% endif %}"
                           href="{% url 'make_reservation' machine=machine %}">
                            <i class="add icon"></i>
                            {% trans "New reservation" %}
                        </a>
                    </div>
                    <a class="ui labeled icon make_yellow button" href="{% url 'my_reservations' %}">
                        <i class="list icon"></i>
                        {% trans "My reservations" %}
                    </a>
                    <a class="ui labeled icon make_yellow button" href="{% url 'reservation_machines_overview' %}">
                        <i class="cogs icon"></i>
                        {% trans "Other machines" %}
                    </a>
                </div>
            </div>
        </div>
        {% url 'reservation_calendar' year=next.0 week=next.1 machine=machine as link_next %}
        {% url 'reservation_calendar' year=prev.0 week=prev.1 machine=machine as link_prev %}
        {% current_calendar_url machine as link_now %}
        {% include 'make_queue/reservation_calendar.html' with week_days=week_days link_prev=link_prev link_next=link_next %}
    </div>
    <script>let allowed = {% if can_make_more_reservations %}true{% else %}false{% endif %};</script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static "make_queue/js/reservation_calendar.js" %}"></script>
{% endblock body %}
