{% extends 'web/base.html' %}
{% load reservation_extra %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'make_queue/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'make_queue/css/stream.css' %}">
{% endblock %}

{% block title %}{% trans "Machines" %}{% endblock %}

{% block body %}
    <div class="ui container">
        <div class="ui huge header">
            {% trans "Machines" %}
            {% if perms.make_queue.add_machine %}
                <a href="{% url "create_machine" %}" data-tooltip="{% trans "Add" %}">
                    <i class="ui green plus icon"></i>
                </a>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'my_reservations' %}" class="ui primary button">
                {% trans "My reservations" %}
            </a>
            <a href="{% url "find_free_slot" %}" class="ui primary button">
                {% trans "Find free reservation slots" %}
            </a>
        {% endif %}

    <p><br> <b>{% trans "All MAKE's printers are currently making protective visors for healthcare workers as part of a national COVID-19 response dugnad. Interested in helping? Visit the" %}
        <a href="https://www.facebook.com/groups/245163093310432/">Makers Mot COVID-19 </a>
        {% trans "page to find out how you can get involved" %}</b></p>

        {% for machine_type in machine_types %}
            <div class="ui machine-title-field">
                <div class="ui large header machine-title">
                    {{ machine_type.name }}
                </div>
                <a href="{% url "machine_usage_rules" machine_type.type %}">({% trans "Rules" %})</a>
            </div>
            <div class="ui cards">
                {% for machine in machine_type.machines %}
                    {% include 'make_queue/machine_card.html' with machine=machine calendar_link=1 %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
