{% extends "web/base.html" %}
{% load staticfiles %}
{% load reservation_extra %}

{% block head %}
    <script type="text/javascript" src="{% static 'web/calendar/calendar.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/calendar/calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'make_queue/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'make_queue/css/calendar.css' %}">
{% endblock %}


{% block body %}
    {% can_use_machine machine user as can_use %}
    <br><br>
    <div class="ui container">
        <div class="ui huge header">
            Reservasjoner
        </div>
        <!-- Controls desktop -->
        <div class="ui grid padded equal width ">
            <div class="column">
                <div class="ui cards">
                    {% include 'make_queue/machine_card.html' with machine=machine color_bottom=1 %}
                </div>
            </div>
            <div class="column">
                <div class="ui cards">
                    <div class="ui card">
                        <div data-content="{% if not can_use %}{% get_machine_cannot_use_text machine %}
                            {% elif not can_make_more_reservations %}Du har nådd maksimalt antall fremtidige reservasjoner{% endif %}"
                             id="create_new_reservation" data-position="top center">
                            <a class="ui primary button {% if not can_use or not can_make_more_reservations %}disabled{% endif %} make_reservation_calendar_button_full_width"
                               href="{% url 'make_reservation' machine=machine %}">
                                <i class="ui add icon"></i>Ny reservasjon
                            </a>
                        </div>
                        <a class="ui make_bg_yellow button" href="{% url 'my_reservations' %}">
                            Mine reservasjoner
                        </a>
                        <a class="ui primary button" href="{% url 'reservation_machines_overview' %}">
                            Andre maskiner
                        </a>
                    </div>
                </div>
            </div>
            <div class="column make_reservation_calendar_control_header_large">
                <div class="ui cards">
                    <div class="ui card">
                        <div class="content">
                            <div class="ui calendar" id="period_desktop">
                                <div class="ui input left icon make_reservation_calendar_time_table_calendar_fill">
                                    <i class="ui calendar icon"></i>
                                    <input name="start_date" type="text" placeholder="Periode"
                                           value="{{ week_days.0.date|date:"m-d-Y" }}">
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <a class="ui primary button"
                                   href="{% url 'reservation_calendar' year=prev.0 week=prev.1 machine=machine %}">
                                    <i class="ui icon left arrow"></i>Forrige
                                </a>
                                <a class="ui make_bg_yellow button"
                                   href="{% url 'reservation_calendar' year=next.0 week=next.1 machine=machine %}">
                                    Neste<i class="ui icon right arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls mobile -->
        <div class="make_reservation_calendar_control_header_small">
            <div class="make_reservation_calendar_full_width_controller">
                <a class="ui primary button"
                   href="{% url 'reservation_calendar' year=prev.0 week=prev.1 machine=machine %}">
                    <i class="ui icon left arrow"></i>Forrige
                </a>
                <div class="ui calendar make_reservation_calendar_center make_reservation_calendar_high_z_index"
                     id="period_mobile">
                    <div class="ui input left icon">
                        <i class="ui calendar icon"></i>
                        <input name="start_date" type="text" placeholder="Periode"
                               value="{{ week_days.0.date|date:"m-d-Y" }}">
                    </div>
                </div>
                <a class="ui make_bg_yellow right floated button"
                   href="{% url 'reservation_calendar' year=next.0 week=next.1 machine=machine %}">
                    Neste<i class="ui icon right arrow"></i>
                </a>
            </div>
        </div>
        {% include 'make_queue/reservation_calendar.html' with week_days=week_days %}
    </div>
    <script src="{% static "make_queue/js/reservation_calendar.js" %}"></script>
{% endblock body %}
