{% extends 'web/base.html' %}
{% load i18n %}
{% load reservation_extra %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'make_queue/css/general.css' %}">
{% endblock %}

{% block title %}{% trans "My reservations" %}{% endblock %}
{% block body %}
    <div class="ui container">
        <div class="ui huge header">
            {% if admin %}
                {% trans "MAKE NTNU reservations" %}
            {% else %}
                {% trans "My reservations" %}
            {% endif %}
        </div>
        <div class="ui vertical segment">
            <a class="ui button primary" href="{% url 'reservation_machines_overview' %}">
                {% trans "Machines" %}
            </a>
            <div class="make_right_floated make_row_fill">
                <div class="field">
                    <div class="ui checkbox" id="hide_old_reservations">
                        <input type="checkbox" class="hidden"/>
                        <label>{% trans "Hide previous reservations" %}</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Desktop table -->
        <table class="ui table make_my_reservation_desktop">
            <thead>
            <tr>
                <th>{% trans "Reservation" %}</th>
                <th>{% trans "Time" %}</th>
                {% if admin %}
                    <th>
                        {% trans "Information" %}
                    </th>
                {% endif %}
                <th>{% trans "View in calendar" %}</th>
                <th>{% trans "Change" %}</th>
                <th>{% trans "Cancel" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr class="make_my_reservation_desktop" data-is-future-reservation="{{ reservation.can_delete }}">
                    <td>
                        <div class="ui small header make_collapsed_header">{{ reservation.machine.name }}</div>
                        <div>{{ reservation.machine.model }}</div>
                        <div>
                            <a href="{{ reservation.machine.location_url }}" target="_blank">
                                <i class="location arrow icon"></i>{{ reservation.machine.location }}
                            </a>
                        </div>
                    </td>
                    <td>
                        {% if reservation.start_time.date == reservation.end_time.date %}
                            <div>{{ reservation.start_time|date:"d/m/y" }}</div>
                            <div>{{ reservation.start_time|date:"H:i" }}
                                - {{ reservation.end_time|date:"H:i" }}</div>
                        {% else %}
                            <div>{{ reservation.start_time|date:"d/m/Y - H:i" }}</div>
                            <div>{{ reservation.end_time|date:"d/m/Y - H:i" }}</div>
                        {% endif %}
                    </td>
                    {% if reservation.event %}
                        <td>
                            <b class="large-text">{{ reservation.event.title }}</b> <br>
                            {{ reservation.event.start_date|date:"d/m/Y" }}
                        </td>
                    {% elif reservation.special %}
                        <td>
                            <b class="large-text">{{ reservation.special_text }}</b>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% calendar_url_reservation reservation %}">
                            <div class="ui button primary">{% trans "Calendar" %}</div>
                        </a>
                    </td>
                    <td>
                        {% if reservation.can_delete %}
                            <a href="{% url 'change_reservation' reservation=reservation %}">
                                <div class="ui button primary">{% trans "Change" %}</div>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if reservation.can_delete %}
                            <form method="post" action="{% url 'delete_reservation' %}">
                                {% csrf_token %}
                                <input type="number" name="pk" class="make_hidden" value="{{ reservation.pk }}"/>
                                <input type="text" name="machine_type" class="make_hidden"
                                       value="{{ reservation.machine.literal }}"/>
                                <input type="submit" class="ui button red" value="Kanseller">
                                {% if admin %}
                                    <input type="text" name="next" class="make_hidden"
                                           value="{% url 'admin_reservation' %}"/>
                                {% endif %}
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="ui cards make_my_reservation_cards_padding make_my_reservation_tablet">
            {% for reservation in reservations %}
                <div class="card">
                    <div class="content">
                        <div class="header">{{ reservation.machine.name }}</div>
                        <div class="meta">
                            {{ reservation.machine.model }}<br/>
                            <a class="make_my_reservation_blue_link" href="{{ reservation.machine.location_url }}" target="_blank">
                                <i class="location arrow icon"></i>{{ reservation.machine.location }}
                            </a>
                        </div>
                        {% if reservation.start_time.date == reservation.end_time.date %}
                            <div>{{ reservation.start_time|date:"d/m/y" }}</div>
                            <div>{{ reservation.start_time|date:"H:i" }}
                                - {{ reservation.end_time|date:"H:i" }}</div>
                        {% else %}
                            <div>{{ reservation.start_time|date:"d/m/Y - H:i" }}</div>
                            <div>{{ reservation.end_time|date:"d/m/Y - H:i" }}</div>
                        {% endif %}
                    </div>
                    {% if reservation.can_delete %}
                        <div class="ui three bottom attached buttons">
                            <a class="ui primary button make_my_reservation_button_pad"
                               href="{% calendar_url_reservation reservation %}">{% trans "Calendar" %}</a>
                            <a class="ui make_bg_yellow button make_my_reservation_button_pad"
                               href="{% url 'change_reservation' reservation=reservation %}">{% trans "Change" %}</a>
                            <div class="ui button red reservation_calendar_delete">{% trans "Cancel" %}
                                <form method="post" action="{% url 'delete_reservation' %}">
                                    {% csrf_token %}
                                    <input type="number" name="pk" class="make_hidden"
                                           value="{{ reservation.pk }}"/>
                                    <input type="text" name="machine_type" class="make_hidden"
                                           value="{{ reservation.machine.literal }}"/>
                                    {% if admin %}
                                        <input type="text" name="next" class="make_hidden"
                                               value="{% url 'admin_reservation' %}"/>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <a class="ui blue bottom attached button" href="{% calendar_url_reservation reservation %}">
                            {% trans "Calendar" %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'make_queue/js/my_reservations.js' %}"></script>
{% endblock %}
