{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% load datetime_tags %}
{% load reservation_extra %}


{% block title %}
    {% if is_MAKE %}
        {% trans "MAKE NTNU reservations" %}
    {% else %}
        {% trans "My reservations" %}
    {% endif %}
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'make_queue/css/reservation_list.css' %}"/>
    <!--suppress ES6ConvertVarToLetConst -->
    <script>
        {# These variables are used in `reservation_list.js` #}
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script defer src="{% static 'make_queue/js/reservation_list.js' %}"></script>
{% endblock extra_head %}

{% block body %}
    <div class="ui container">

        <div class="ui huge header">
            {% if is_MAKE %}
                {% trans "MAKE NTNU reservations" %}
            {% else %}
                {% trans "My reservations" %}
                {% if perms.make_queue.can_create_event_reservation %}
                    <a class="ui primary button" href="{% url 'MAKE_reservations_list' %}">
                        {% trans "View MAKE's reservations" %}
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <div class="ui vertical segment">
            <a class="ui primary button" href="{% url 'machine_list' %}">
                {% trans "machines"|capfirst %}
            </a>
            <div class="right-floated">
                <div class="field">
                    <div id="hide-old-reservations" class="ui checkbox">
                        <input class="hidden" type="checkbox" checked/>
                        <label>{% trans "Hide previous reservations" %}</label>
                    </div>
                </div>
            </div>
        </div>

        {# Desktop table #}
        <table class="ui table reservation-list-desktop">
            <thead>
            <tr>
                <th>{% trans "Reservation" %}</th>
                <th>{% trans "Time" %}</th>
                {% if is_MAKE or perms.make_queue.can_create_event_reservation %}
                    <th>{% trans "Information" %}</th>
                {% endif %}
                <th>{% trans "View in calendar" %}</th>
                <th>{% trans "Change" %}</th>
                <th>{% trans "Cancel" context "cancel reservation" %}</th>
            </tr>
            </thead>

            <tbody>
            {% for reservation in reservations %}
                {% is_future_reservation reservation as future_reservation %}
                <tr class="reservation-list-desktop reservation-pk-{{ reservation.pk }}
                           {% if not future_reservation %}past-reservation display-none{% endif %}">

                    <td class="word-breaking hyphenated">
                        <div class="ui small header">{{ reservation.machine.name }}</div>
                        <div>{{ reservation.machine.machine_model }}</div>
                        <div>
                            <a href="{{ reservation.machine.location_url }}" target="_blank">
                                <i class="location arrow icon"></i> {{ reservation.machine.location }}
                            </a>
                        </div>
                    </td>
                    <td>
                        {% if reservation.start_time.date == reservation.end_time.date %}
                            <div>{{ reservation.start_time|short_date }}</div>
                            <div>{{ reservation.start_time|only_time }} &ndash; {{ reservation.end_time|only_time }}</div>
                        {% else %}
                            <div>{{ reservation.start_time|short_datetime }}</div>
                            <div>&ndash;&nbsp; {{ reservation.end_time|short_datetime }}</div>
                        {% endif %}
                    </td>
                    {% if is_MAKE or perms.make_queue.can_create_event_reservation %}
                        <td>
                            {% firstof reservation.event.event.title reservation.special_text as reservation_text %}
                            {% if reservation_text %}
                                <div class="word-breaking hyphenated ui small header">
                                    {% if reservation.event %}
                                        <a href="{% url 'admin_event_detail' reservation.event.event.pk %}" target="_blank">
                                            {{ reservation_text }}
                                        </a>
                                    {% else %}
                                        {{ reservation_text }}
                                    {% endif %}
                                </div>
                                {% if reservation.event %}
                                    {{ reservation.event.start_time|short_date }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% calendar_url_reservation reservation %}">
                            <div class="ui primary button">
                                {% trans "Calendar" %}
                            </div>
                        </a>
                    </td>
                    <td>
                        {% can_change_reservation reservation user as can_change %}
                        {% if can_change %}
                            <a href="{% url 'edit_reservation' reservation.pk %}">
                                <div class="ui make-bg-yellow button">
                                    {% trans "Change" %}
                                </div>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% can_delete_reservation reservation user as can_delete %}
                        {% can_mark_reservation_finished reservation as can_mark_finished %}
                        {% if can_mark_finished %}
                            <input class="mark-reservation-finished ui green button" type="submit"
                                   data-pk="{{ reservation.pk }}"
                                   data-url="{% url 'mark_reservation_finished' reservation.pk %}"
                                   value="{% trans "Finish now" %}"/>
                        {% elif can_delete %}
                            <input class="delete-reservation ui red button" type="submit"
                                   data-pk="{{ reservation.pk }}"
                                   data-url="{% url 'delete_reservation' reservation.pk %}"
                                   value="{% trans "Cancel" context "cancel reservation" %}"/>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# Mobile/tablet cards #}
        <div class="ui cards reservation-list-tablet">
            {% for reservation in reservations %}
                {% is_future_reservation reservation as future_reservation %}
                <div class="card reservation-pk-{{ reservation.pk }}
                            {% if not future_reservation %}past-reservation display-none{% endif %}">

                    <div class="content">
                        <div class="word-breaking hyphenated header">{{ reservation.machine.name }}</div>
                        <div class="word-breaking hyphenated meta">
                            {{ reservation.machine.machine_model }}<br/>
                            <a class="ui" href="{{ reservation.machine.location_url }}" target="_blank">
                                <i class="location arrow icon"></i> {{ reservation.machine.location }}
                            </a>
                        </div>
                        {% if reservation.start_time.date == reservation.end_time.date %}
                            <div>{{ reservation.start_time|short_date }}</div>
                            <div>{{ reservation.start_time|only_time }} &ndash; {{ reservation.end_time|only_time }}</div>
                        {% else %}
                            <div>{{ reservation.start_time|short_datetime }}</div>
                            <div>&ndash;&nbsp; {{ reservation.end_time|short_datetime }}</div>
                        {% endif %}

                        {% if is_MAKE or perms.make_queue.can_create_event_reservation %}
                            {% firstof reservation.event.event.title reservation.special_text as reservation_text %}
                            {% if reservation_text %}
                                <div class="ui vertical segment"></div>
                                <div class="word-breaking hyphenated ui small header">
                                    {% if reservation.event %}
                                        <a href="{% url 'admin_event_detail' reservation.event.event.pk %}" target="_blank">
                                            {{ reservation_text }}
                                        </a>
                                    {% else %}
                                        {{ reservation_text }}
                                    {% endif %}
                                </div>
                                {% if reservation.event %}
                                    {{ reservation.event.start_time|short_date }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="ui bottom attached buttons">
                        <a class="ui primary button" href="{% calendar_url_reservation reservation %}">
                            {% trans "Calendar" %}
                        </a>
                        {% can_change_reservation reservation user as can_change %}
                        {% if can_change %}
                            <a class="ui make-bg-yellow button" href="{% url 'edit_reservation' reservation.pk %}">
                                {% trans "Change" %}
                            </a>
                        {% endif %}
                        {% can_mark_reservation_finished reservation as can_mark_finished %}
                        {% can_delete_reservation reservation user as can_delete %}
                        {% if can_mark_finished %}
                            <input class="mark-reservation-finished ui green button" type="submit"
                                   data-pk="{{ reservation.pk }}"
                                   data-url="{% url 'mark_reservation_finished' reservation.pk %}"
                                   value="{% trans "Finish now" %}"/>
                        {% elif can_delete %}
                            <input class="delete-reservation ui red button" type="submit"
                                   data-pk="{{ reservation.pk }}"
                                   data-url="{% url 'delete_reservation' reservation.pk %}"
                                   value="{% trans "Cancel" context "cancel reservation" %}"/>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </div>

    </div>
{% endblock body %}
