{% load i18n %}
{% load reservation_extra %}


<h3>{% trans "Actions" %}</h3>
<div class="ui relaxed divided selection action list">
    <a class="item enable_popup
            {% if not can_use or not machine.is_reservable or not can_create_more_reservations %}
                disable
            {% endif %}"
       href="{% url 'create_reservation' machine=machine %}"
            {% if not user.is_authenticated %}
       data-content="{% trans "You must be logged in to create new reservations" %}"
            {% elif not can_use %}
       data-content="{% get_machine_cannot_use_text machine %}"
            {% elif not can_create_more_reservations %}
       data-content="{% trans "You have reached the maximum number of future reservations" %}"
            {% endif %}
    >
        <i class="large middle aligned make-col-yellow plus icon"></i>
        <div class="content">
            <div class="header">{% trans "New reservation" %}</div>
            {% trans "Click to create a new reservation" %}
        </div>
    </a>
    <a class="item" href="{% url "my_reservations" %}">
        <i class="large middle aligned make-col-yellow list ul icon"></i>
        <div class="content">
            <div class="header">{% trans "My reservations" %}</div>
            {% trans "Click to see your reservations" %}
        </div>
    </a>
    {% if other_machines %}
        <div class="ui right dropdown item">
            <div class="right floated content">
                <i class="ui large make-col-yellow dropdown icon"></i>
            </div>
            <i class="large middle aligned make-col-yellow cogs icon"></i>
            <div id="test" class="content">
                <div class="header">{% trans "Other machines" %}</div>
                {% trans "Click to see other machines" %}
            </div>
            <div class="ui transition bottom hidden menu">
                <a class="ui item" href="{% url "reservation_machines_overview" %}">
                    {% trans "Overview" %}
                </a>
                <h4 class="ui header">
                    {{ machine.machine_type.name }}
                </h4>
                {% for other_machine in other_machines %}
                    <a class="item"
                       href="{% url "reservation_calendar" machine=other_machine year=year week=week %}">
                        {{ other_machine.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a class="item" href="{% url "reservation_machines_overview" %}">
            <i class="large middle aligned make-col-yellow cogs icon"></i>
            <div class="content">
                <div class="header">{% trans "Other machines" %}</div>
                {% trans "Click to see other machines" %}
            </div>
        </a>
    {% endif %}
</div>

<script>
    $(".action.list a.item.disable").on("click touch", function (event) {
        event.preventDefault();
        event.stopPropagation();
        return false;
    });

    $(".dropdown.item").dropdown();
</script>
