{% load i18n %}
{% load reservation_extra %}


{# Linking `reservation_actions.css` is required when including this template #}

<h3>{% trans "Actions" %}</h3>
<div class="ui relaxed divided selection action list">
    {# The button should link to the login page (and not be disabled) when the user is not logged in; #}
    {# it should be disabled if the user is logged in, but reservation is denied for some other reason; #}
    {# and it should lead to the `create_reservation` page when the user is logged in and reservation is allowed. #}
    <a class="item {% if user.is_authenticated and reservation_denied_message %}disable{% endif %}"
       href="{% if user.is_authenticated %}
                 {% url 'create_reservation' machine.pk %}
             {% else %}
                 {% url 'login' %}{{ login_next_param }}
             {% endif %}"
    >
        <i class="large middle aligned make-col-yellow plus icon"></i>
        <div class="content">
            <div class="header">{% trans "New reservation" %}</div>
            {% if reservation_denied_message %}
                <i class="negative-message">{{ reservation_denied_message }}</i>
            {% else %}
                {% trans "Click to create a new reservation" %}
            {% endif %}
        </div>
    </a>
    <a class="item" href="{% url 'my_reservations_list' %}">
        <i class="large middle aligned make-col-yellow list ul icon"></i>
        <div class="content">
            <div class="header">{% trans "My reservations" %}</div>
            {% trans "Click to see your reservations" %}
        </div>
    </a>
    {% if other_machines %}
        <div class="ui right dropdown item">
            <div class="right floated content">
                <i class="large make-col-yellow dropdown icon"></i>
            </div>
            <i class="large middle aligned make-col-yellow cogs icon"></i>
            <div id="test" class="content">
                <div class="header">{% trans "Other machines" %}</div>
                {% blocktrans trimmed with machine_type_name_plural=machine.machine_type.name %}
                    Click to view other {{ machine_type_name_plural }}
                {% endblocktrans %}
            </div>
            <div class="ui transition bottom hidden menu">
                <a class="ui item" href="{% url 'machine_list' %}">
                    {% trans "Overview" %}
                </a>
                <h4 class="ui header">
                    {{ machine.machine_type.name }}
                </h4>
                {% for other_machine in other_machines %}
                    <a class="item"
                       href="{% url 'machine_detail' pk=other_machine.pk year=selected_year week=selected_week %}">
                        {{ other_machine.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a class="item" href="{% url 'machine_list' %}">
            <i class="large middle aligned make-col-yellow cogs icon"></i>
            <div class="content">
                <div class="header">{% trans "Other machines" %}</div>
                {% trans "Click to view other machines" %}
            </div>
        </a>
    {% endif %}
</div>

<script>
    $(".action.list a.item.disable").on("click touch", function (event) {
        event.preventDefault();
        event.stopPropagation();
        return false;
    });

    $(".dropdown.item").dropdown();
</script>
