{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{% block body %}

    <div class="ui container">
        <h1>
            {% block form_title %}
                {% trans "Rule" %}
            {% endblock form_title %}
        </h1>
        {% for error in form.non_field_errors %}
            <div class="ui red message">
                <i class="close icon"></i>
                <p>{{ error }}</p>
            </div>
        {% endfor %}
        <form class="ui form" method="POST">
            {% csrf_token %}
            <div class="ui three fields">
                <div class="ui field">
                    <label>{{ form.start_time.label }}</label>
                    {{ form.start_time }}
                </div>
                <div class="ui field">
                    <label>{{ form.days_changed.label }}</label>
                    {{ form.days_changed }}
                </div>
                <div class="ui field">
                    <label>{{ form.end_time.label }}</label>
                    {{ form.end_time }}
                </div>
            </div>
            <h4>{% trans "Start days" %}</h4>
            <div class="ui seven fields">
                <div class="ui field">
                    <div class="ui checkbox">
                        {{ form.monday }}
                        <label>{% trans "Monday" %}</label>
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui checkbox">
                        {{ form.tuesday }}
                        <label>{% trans "Tuesday" %}</label>
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui checkbox">
                        {{ form.wednesday }}
                        <label>{% trans "Wednesday" %}</label>
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui checkbox">
                        {{ form.thursday }}
                        <label>{% trans "Thursday" %}</label>
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui checkbox">
                        {{ form.friday }}
                        <label>{% trans "Friday" %}</label>
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui checkbox">
                        {{ form.saturday }}
                        <label>{% trans "Saturday" %}</label>
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui checkbox">
                        {{ form.sunday }}
                        <label>{% trans "Sunday" %}</label>
                    </div>
                </div>
            </div>
            <div class="ui three fields">
                <div class="ui field">
                    <label>{{ form.max_hours.label }}</label>
                    {{ form.max_hours }}
                </div>
                <div class="ui field">
                    <label>{{ form.max_inside_border_crossed.label }}</label>
                    {{ form.max_inside_border_crossed }}
                </div>
                <div class="ui field">
                    <label>{{ form.machine_type.label }}</label>
                    {{ form.machine_type }}
                </div>
            </div>

            <button class="ui right floated make-bg-yellow button" type="submit">
                {% trans "Submit" context "edit" %}
            </button>
            <a class="ui right floated red button" href="{% url 'machine_rules' rule.machine_type %}">
                {% trans "Cancel" context "abort action" %}
            </a>
        </form>

    </div>
    <script>
        $(".message .close").on("click", function () {
            $(this).closest(".message").transition("fade");
        });
    </script>

{% endblock body %}
