{% extends "web/base.html" %}
{% load reservation_extra %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block body %}
    <div class="ui container">
        <h1>{% trans "Rules" %} {{ rules.0.machine_type }} {% if perms.make_queue.add_reservation_rule %}
            <a href="{% url "create_machine_rule" %}"><i class="ui green plus icon"></i></a>{% endif %}</h1>
        <table class="ui definition table">
            <tbody>
            <tr>
                <td class="four wide column">{% trans "Future reservations" %}</td>
                <td>3</td>
            </tr>
            <tr>
                <td>{% trans "Concurrent reservations" %}</td>
                <td>1</td>
            </tr>
            <tr>
                <td>{% trans "Reservation duration single period" %}</td>
                <td>
                    {% trans 'Card "single period" value, see cards below' %}
                </td>
            </tr>
            <tr>
                <td>{% trans "Reservation duration multiperiod" %}</td>
                <td>
                    <ul>
                        <li><b>{% trans "Total time" %}:</b> {% trans 'Largest "single period" value' %}</li>
                        <li><b>{% trans "For each time period" %}:</b> {% trans 'Card "multiperiod" value' %}</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ui cards">
            {% for rule in rules %}
                <div class="ui card">
                    <div class="content">
                        <div class="meta">
                            {% if perms.change_reservation_rule %}
                                <a href="{% url "edit_machine_rule" rule.pk %}"><i
                                        class="ui yellow icon pencil"></i></a>
                            {% endif %}
                            {% if perms.delete_reservation_rule %}
                                <a class="delete confirm" href="{% url "delete_machine_rule" rule.pk %}"><i
                                        class="ui red icon trash"></i></a>
                            {% endif %}
                        </div>
                        <div class="description">
                            {% trans "Single period" %}: <b>{{ rule.max_hours|floatformat:0 }} {% trans "hours" %}</b> <br/>
                            {% trans "Multiperiod" %}: <b>{{ rule.max_inside_border_crossed|floatformat:0 }} {% trans "hours" %}</b>
                        </div>
                        <h4 class="subheader">
                            {% trans "Periods" %}
                        </h4>
                        {% for period in rule.time_periods %}
                            <div>
                                {% rule_period_start_text period LANGUAGE_CODE as start %}
                                {% rule_period_end_text period LANGUAGE_CODE as end %}
                                {{ start|capfirst }} - {{ end|capfirst }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}