{% extends "web/base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block body %}
    <div class="ui container">
        <h1>{% trans "Rules for usage of the " %}{{ usage_rules.machine_type.name }}</h1>
        <div style="margin-bottom: 10px">
            <a class="ui blue button" href="{% url "machine_rules" usage_rules.machine_type %}">
                {% trans "Quota and detailed rules for reservation duration" %}
            </a>

            {% if perms.make_queue.change_machineusagerule %}
                <a class="ui yellow button" style="margin-top: 20px"
                   href="{% url 'edit_machine_usage_rules' usage_rules.pk %}">
                    {% trans "Edit" %}
                </a>
            {% endif %}
        </div>
        <div>
            {% autoescape off %}
                {% if request.LANGUAGE_CODE == 'nb' %}
                    {{ usage_rules.content }}
                {% else %}
                    {{ usage_rules.content_en }}
                {% endif %}
            {% endautoescape %}
        </div>
    </div>

{% endblock %}
