{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{# TODO: reduce code duplication between this template and `contentbox/edit.html` #}

{% block title %}
    {% blocktrans with machine_type=machine_type %}Edit usage rules for {{ machine_type }}{% endblocktrans %}
{% endblock title %}

{% block extra_head %}
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        <h1 class="ui centered header">
            {% block form_header %}
                {% blocktrans with machine_type=machine_type %}Edit usage rules for {{ machine_type }}{% endblocktrans %}
            {% endblock form_header %}
        </h1>

        {% if form.content.errors %}
            <div class="ui error message">
                <i class="close icon"></i>
                <div class="header">{% trans "Missing language" %}</div>
                <div class="content">{% trans "One or more languages has no content" %}</div>
            </div>
            <script>
                $(".message .close").click(function () {
                    $(this).closest(".message").fadeOut();
                });
            </script>
        {% endif %}

        <form class="ui form text" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                {{ form.content }}
            </div>

            <input class="ui right floated make-bg-yellow submit button" type="submit" value="{% trans "Save" %}"/>
            <a class="ui right floated red button" href="{% url 'machine_usage_rules_detail' machine_type %}">
                {% trans "Cancel" context "abort action" %}
            </a>
        </form>
    </div>
{% endblock body %}
