{% load i18n %}
{% load static %}
{% load thumbnail %}


{# Linking `article_list_contents.css`, `news_labels.css` and `article_list_contents.js` is required when including this template #}

<div class="articles">
    {% for article in articles %}
        <a class="article-img-container {% cycle "float-right" "float-left" %}" href="{{ article.get_absolute_url }}">
            <div class="ui fluid image">
                {% if article.private %}
                    <p class="ui blue make-bg-blue news-label ribbon label primary large">
                        {% translate "internal"|capfirst context "article" %}
                    </p>
                {% endif %}
                <img {% thumbnail article.image "600x400" crop="center" as image_thumb %}
                    src="{{ image_thumb.url }}"
                {% empty %}
                    src="{{ article.image.url }}"
                {% endthumbnail %}
                    {% if article.contain %}class="contain"{% endif %}
                    alt="{% blocktranslate trimmed with title=article.title description=article.image_description %}
                        View the article “{{ title }}”; image description: {{ description }}
                    {% endblocktranslate %}"
                />
            </div>
        </a>
        <div class="word-breaking hyphenated article-text {% cycle "float-left" "float-right" %}
			    {% if forloop.first %}first{% endif %}
			    {% if forloop.last %}last{% endif %}">
            {% if forloop.first or forloop.last %}
                <img class="text-border-corner top left" src="{% static 'web/img/top_left.svg' %}" alt=""/>
                <img class="text-border-corner top right" src="{% static 'web/img/top_right.svg' %}" alt=""/>
                <img class="text-border-corner bottom left" src="{% static 'web/img/bottom_left.svg' %}" alt=""/>
                <img class="text-border-corner bottom right" src="{% static 'web/img/bottom_right.svg' %}" alt=""/>
            {% endif %}
            <div>
                <h1 class="article-title">
                    <a class="make-col-yellow" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </h1>
                <p>{{ article.clickbait }}</p>
            </div>
        </div>
    {% endfor %}
</div>
