{% extends 'news/news_base_detail.html' %}
{% load static %}
{% load i18n %}
{% load datetime_tags %}
{% load uri_tags %}


{% block og_type %}article{% endblock og_type %}
{% block open_graph_meta %}
    {{ block.super }}
    <meta property="article:published_time" content="{{ news_obj.publication_time|iso_datetime }}"/>
{% endblock open_graph_meta %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'news/css/article/article_detail.css' %}"/>

    {% block google_seo_json %}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "NewsArticle",
                "headline": "{{ news_obj.title }}",
                "image": [
                    "{% get_absolute_uri_for_path request news_obj.image.url %}"
                 ],
                "datePublished": "{{ news_obj.publication_time|iso_datetime }}"
            }
        </script>
    {% endblock google_seo_json %}
{% endblock extra_head %}

{% block image_internal_label_text %}
    {% translate "internal"|capfirst context "article" %}
{% endblock image_internal_label_text %}

{% block admin_page %}
    {% if perms.news.change_article %}
        <div>
            <a class="ui make-bg-yellow button" href="{% url 'article_update' news_obj.pk %}">
                <i class="edit icon"></i>{% translate "Edit" %}
            </a>
        </div>
    {% endif %}
{% endblock admin_page %}

{% block title_extra %}
    <span class="publication-time">{{ news_obj.publication_time|short_date }}</span>
{% endblock title_extra %}
