{% extends 'web/base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "checkin/css/profile.css" %}" />
{% endblock head %}

{% block body %}
    <div class="ui text container">
        <h1>Min Side</h1>


        <img class="profile_pic" src="{{ image.url }}"/>

        <div class="ui feed">
            {% for skill, level in skill_dict.items %}
                <div class="event">
                    <div class="label">
                        <img src=""/>
                    </div>
                    <div class="content">
                        {{ skill }}
                        <div class="ui star rating skill-lvl" data-rating="{{ level }}" data-max-rating="3"></div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="container">
            <form class="ui form" action="" method="post">
                {% csrf_token %}
                <input name="rating" type="number" id="rating-input" value="1" hidden>
                <div class="inline fields">
                    <div class="ten wide field">
                        <label>Ferdigheter</label>
                        <select class="ui fluid dropdown search" name="skill" required>
                            <option value="">Velg/søk</option>
                            {% for skill in all_skills %}
                                <option value="{{ skill.id }}">{{ skill.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="three wide field">
                        <div id="star-rating" class="ui star rating" data-rating="1" data-max-rating="3"></div>
                    </div>
                    <div class="three wide field">
                        <button class="ui button" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    <script>
        $('.ui.rating').rating();
        $('.ui.dropdown').dropdown();
        $('.rating.skill-lvl').rating('disable');

        $('#star-rating').click(function () {
            var rating = $(this).rating('get rating');
            if (rating == $('#rating-input').val()) {
                $('#rating-input').val(0);
                $(this).rating('set rating', 0);
            }
            else {
                $('#rating-input').val(rating);
            }
        });


    </script>
{% endblock scripts %}