{% extends 'web/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load checkin_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "checkin/css/profile.css" %}"/>
{% endblock head %}

{% block body %}
    <div class="ui text container">
        <h1>Min Side</h1>
        <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>

        <div class="ui container">
            <div class="ui image" data-tooltip="Endre bilde" data-position="right center">
            {% if image %}
                {% thumbnail image "150x150" crop="center" as im %}
                    <img id="profile-pic" src="{{ im.url }}">
                {% endthumbnail %}
            {% else %}
                <img id="profile-pic" src="{% static "checkin/img/placeholder_profile.png" %}"/>
            {% endif %}
            </div>
            <br>
            <div class="ui container">
                <form id="image-form" class="ui form" action="{% url "profile_picture" %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id="input-image" type="file" name="image" accept="image/jpeg, image/png, image/svg" hidden>
                </form>
            </div>
        </div>

        <br>

        {% if make_member %}

            <div class="ui container">
                <h4>Mine ferdigheter</h4>
                {% for skill, level in skill_dict.items %}
                    <div class="ui basic image label">
                        <img class="skill-image" src="{% if skill.image %}{{ skill.image.url }}{% else %}
                                  {% static "checkin/img/placeholder_skill.svg" %}{% endif %}">
                        <span>{{ skill|locale_title:request.LANGUAGE_CODE }}</span>
                        <div class="detail make_bg_blue">
                            <div class="ui star rating skill-lvl" data-rating="{{ level }}" data-max-rating="3"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <br>

            <div class="container">
                <form class="ui form" action="" method="post">
                    {% csrf_token %}
                    <input name="rating" type="number" id="rating-input" value="1" hidden>
                    <div class="inline fields">
                        <div class="ten wide field">
                            <label>Legg til ferdigheter</label>
                            <select class="ui fluid dropdown search" name="skill" required>
                                <option value="">Velg/søk</option>
                                {% for skill in all_skills %}
                                    <option value="{{ skill.id }}">{{ skill|locale_title:request.LANGUAGE_CODE }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="two wide field">
                            <div id="star-rating" class="ui star rating" data-rating="1" data-max-rating="3"></div>
                        </div>
                        <div class="three wide field">
                            <button class="ui button" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        {% endif %}

        <br>

        {% if not profile.card_id %}
            <div class="card-register">
                <p>Legg kortet på kortskanneren og trykk på knappen under for å registrere kortet</p>
                <button class="ui button register-profile">Registrer</button>
            </div>
        {% endif %}

    </div>
{% endblock body %}

{% block scripts %}
    <script>
        $('.ui.rating').rating();
        $('.ui.dropdown').dropdown();
        $('.rating.skill-lvl').rating('disable');

        $('#star-rating').click(function () {
            var rating = $(this).rating('get rating');
            if (rating == $('#rating-input').val()) {
                $('#rating-input').val(0);
                $(this).rating('set rating', 0);
            }
            else {
                $('#rating-input').val(rating);
            }
        });

        $('.register-profile').click(function () {
            register_profile_post($(this));
        });

        function register_profile_post(element) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            });
            $.ajax({
                type: "POST",
                url: '/checkin/register/profile/',
                data: {},
                success: function (data) {
                    if (data['scan_exists']) {
                        if (data['scan_is_recent']) {
                            element.removeClass('red');
                            element.removeAttr('data-tooltip');
                            element.removeAttr('data-position');
                            element.addClass('green');
                            element.addClass('disabled');
                            element.html('Registrert!');
                        }
                        else {
                            element.addClass('red');
                            element.attr('data-tooltip', 'Skann kortet igjen!');
                            element.attr('data-position', 'right center');
                        }
                    }
                    else {
                        element.addClass('red');
                        element.attr('data-tooltip', 'Skann kortet!');
                        element.attr('data-position', 'right center');
                    }

                }
            });
        }

        $('#profile-pic').click(function () {
            $('#input-image').click();
        });

        $('#profile-pic').hover(function () {
            $(this).css('cursor', 'pointer');
        });

        $('#input-image').change(function () {
            $('#image-form').submit()
        });


    </script>
{% endblock scripts %}