{% extends 'web/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load checkin_tags %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "checkin/css/profile.css" %}"/>
    <script defer src="{% static "web/js/utils.js" %}"></script>
    <script defer src="{% static "checkin/js/profile.js" %}"></script>
    <script>
        var csrfToken = "{{ csrf_token }}"; // used in profile.js
    </script>
{% endblock head %}

{% block body %}
    <div class="ui text container">
        <h1>
            {% trans "My profile" %}
        </h1>
        <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>

        <div class="ui container">
            {% for message in messages %}
                <div class="ui red message">
                    <i class="close icon"></i>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="ui image" data-tooltip="{% trans "Change picture" %}" data-position="right center">
                {% if image %}
                    {% thumbnail image "150x150" crop="center" as image_thumb %}
                        <img id="profile-pic" src="{{ image_thumb.url }}">
                    {% empty %}
                        <img id="profile-pic" src="{{ image.url }}">
                    {% endthumbnail %}
                {% else %}
                    <img id="profile-pic" src="{% static "checkin/img/placeholder_profile.png" %}"/>
                {% endif %}
            </div>
            <br>
            <div class="ui container">
                <form id="image-form" class="ui form" action="{% url "profile_picture" %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {# TODO: replace image/* with actual allowed file types #}
                    <input id="input-image" type="file" name="image" accept="image/*" hidden>
                </form>
            </div>
        </div>

        <br>

        {% if make_member %}

            <div class="ui container">
                <h4>
                    {% trans "My skills" %}
                </h4>
                {% for skill, level in skill_dict.items %}
                    <div class="ui basic image label">
                        {% if skill.image %}
                            {% thumbnail skill.image "64x64" crop="center" as im %}
                                <img class="skill-image" src="{{ im.url }}">
                            {% endthumbnail %}
                        {% else %}
                            <img class="skill-image" src="{% static "checkin/img/placeholder_skill.svg" %}"/>
                        {% endif %}
                        <span>{{ skill|locale_title:request.LANGUAGE_CODE }}</span>
                        <div class="detail make_bg_blue">
                            <div class="ui star rating skill-lvl" data-rating="{{ level }}" data-max-rating="3"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <br>

            <div class="container">
                <form class="ui form" action="" method="post">
                    {% csrf_token %}
                    <input name="rating" type="number" id="rating-input" value="1" hidden>
                    <div class="inline fields">
                        <div class="ten wide field">
                            <label>{% trans "Add skills" %}</label>
                            <select class="ui fluid dropdown search" name="skill" required>
                                <option value="">{% trans "Select/search" %}</option>
                                {% for skill in all_skills %}
                                    <option value="{{ skill.id }}">{{ skill|locale_title:request.LANGUAGE_CODE }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="two wide field">
                            <div id="star-rating" class="ui star rating" data-rating="1" data-max-rating="3"></div>
                        </div>
                        <div class="three wide field">
                            <button class="ui button" type="submit">{% trans "Add" %}</button>
                        </div>
                    </div>
                </form>
                <a href="{% url "suggest" %}">{% trans "Suggest new skills" %}</a>
            </div>

        {% endif %}

        <br>

        {% if not profile.card_id %}
            <div class="card-register">
                <h3>{% trans "No registered card" %}</h3>
                <p>
                    {% trans "Place the card on the card reader and press the button below to register the card" %}
                </p>
                <button class="ui button register-profile">{% trans "Register" %}</button>
            </div>
        {% endif %}

    </div>
{% endblock body %}
