{% extends "web/base.html" %}

{% block body %}
    <div class="ui container">
        <h2>Ferdigheter på makerverkstedet akkurat nå:</h2>
        <div class="ui feed">
            {% for skill, level in skill_dict.items %}
                <div class="event">
                    <div class="label">

                    </div>
                    <div class="content">
                        <li>{{ skill }} (nivå: {{ level }})</li>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
