{% extends "web/base.html" %}

{% block body %}
    <div class="ui text container">
        <h2>Ferdigheter på makerverkstedet akkurat nå:</h2>
        <div class="ui feed">
            {% for skill, level in skill_dict.items %}
                <div class="event">
                    <div class="label">
                        <img src=""/>
                    </div>
                    <div class="content">
                        {{ skill }}
                        <div class="ui star rating skill-lvl" data-rating="{{ level }}" data-max-rating="3"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.ui.rating').rating();
        $('.rating.skill-lvl').rating('disable');
    </script>
{% endblock %}
