{% extends 'web/base.html' %}
{% load static %}
{% load checkin_tags %}
{% load thumbnail %}
{% load i18n %}


{% block body %}

    <div class="ui text container">
        <h1>{% trans "Suggest new skills at Makerverkstedet" %}</h1>

        <form class="ui form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inline fields">
                <div class="ten wide field">
                    <label>{% trans "title (Norwegian)"|capfirst %}</label>
                    <input required type="text" name="suggested-skill" placeholder="Ferdighet"/>
                </div>
                <div class="five wide field">
                    <input id="skill-image" type="file" name="image"
                           accept="image/jpeg, image/png, image/svg, image/gif"/>
                </div>
                <div class="three wide field">
                    <button class="ui button" type="submit">{% trans "Submit" %}</button>
                </div>
            </div>

            <div class="inline fields">
                <div class="nine wide field">
                    <label>{% trans "title (English)"|capfirst %}</label>
                    <input required type="text" name="suggested-skill-english" placeholder="Skill"/>
                </div>
            </div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </form>

        <br/>

        {% if suggestions %}
            <h3>{% trans "Suggested skills" %}</h3>
            <table class="ui very basic collapsing celled table">
                <thead>
                <tr>
                    <th>{% trans "Skill" %}</th>
                    <th>{% trans "Number of votes" %}</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for suggestion in suggestions %}
                    <tr>
                        <td>
                            <h5 class="ui header image">
                                {% if suggestion.image %}
                                    <img {% thumbnail suggestion.image "64x64" crop="center" as image_thumb %}
                                        src="{{ image_thumb.url }}"
                                    {% empty %}
                                        src="{{ suggestion.image.url }}"
                                    {% endthumbnail %}
                                        class="ui mini rounded image"
                                            {% with skill=suggestion.title|add:" / "|add:suggestion.title_en %}
                                        alt="{% blocktrans trimmed with skill=skill %}Illustration image of {{ skill }}{% endblocktrans %}"
                                            {% endwith %}
                                    />
                                {% else %}
                                    <img class="ui mini rounded image" src="{% static 'checkin/img/placeholder_skill.svg' %}"
                                         alt="{% trans "Placeholder image" %}"
                                    />
                                {% endif %}
                                <div class="content">{{ suggestion.title }} / {{ suggestion.title_en }}</div>
                            </h5>
                        </td>

                        <td id="vote-count">{{ suggestion.voters.count }}</td>
                        <td>
                            {% if request.user|can_force_suggestion %}
                                <button class="ui make-bg-yellow button add-voter"
                                        data-pk="{{ suggestion.pk }}" data-forced="true">
                                    {% trans "Approve" %}
                                </button>
                            {% else %}
                                <button class="ui {% if suggestion|has_voter:request.user %}green disabled{% endif %} button add-voter"
                                        data-pk="{{ suggestion.pk }}" data-forced="false">
                                    {% if suggestion|has_voter:request.user %}
                                        {% trans "Voted!" %}
                                    {% else %}
                                        {% trans "Vote" %}
                                    {% endif %}
                                </button>
                            {% endif %}
                        </td>
                        <td>
                            {% if request.user|can_delete_suggestion %}

                                <button class="ui red button delete-suggestion"
                                        data-delete-url="{% url 'delete_skill_suggestion' suggestion.pk %}">
                                    {% trans "Delete" %}
                                </button>

                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock body %}

{% block extra_scripts %}
    <script>
        $(".add-voter").click(function () {
            addVoterPost($(this), $(this).data("pk"), $(this).data("forced"));
        });

        $(".delete-suggestion").click(function () {
            deleteSuggestionPost($(this), $(this).data("delete-url"));
        });

        function addVoterPost($element, pk, forced) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
            });
            $.ajax({
                type: "POST",
                url: "{% url 'vote_for_skill_suggestion' %}",
                data: {
                    "pk": pk,
                    "forced": forced,
                },
                success: function (data) {
                    if (data["is_forced"]) {
                        $element.closest("tr").remove();
                    }
                    $element.addClass("green");
                    $element.addClass("disabled");
                    $element.html('{% trans "Voted!" %}');

                    if (!data["user_exists"]) {
                        const incrementedCount = parseInt($element.parent().siblings("#vote-count").html()) + 1;
                        $element.parent().siblings("#vote-count").html(incrementedCount);
                    }
                    if (data["skill_passed"]) {
                        $element.closest("tr").remove();
                    }
                },
            });
        }

        function deleteSuggestionPost($element, deleteURL) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
            });

            $.ajax({
                type: "DELETE",
                url: deleteURL,
                success: function (data) {
                    if (data["suggestion_deleted"]) {
                        $element.closest("tr").remove();
                    }
                },
            });
        }
    </script>
{% endblock extra_scripts %}
