{% extends 'web/base.html' %}
{% load static %}
{% load checkin_tags %}
{% load thumbnail %}
{% load i18n %}


{% block title %}{% translate "Suggest new skills" %}{% endblock title %}

{% block extra_head %}
    <!--suppress ES6ConvertVarToLetConst -->
    <script>
        {# These variables are used in `suggest_skill.js` #}
        var csrfToken = "{{ csrf_token }}";
        var voteForSkillSuggestionURL = "{% url 'vote_for_skill_suggestion' %}";
    </script>
    <script defer src="{% static "checkin/js/suggest_skill.js" %}"></script>
{% endblock extra_head %}

{% block body %}

    <div class="ui text container">
        <h1>{% translate "Suggest new skills" %}</h1>

        <form class="ui form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inline fields">
                <div class="ten wide field">
                    <label>{% translate "title (Norwegian)"|capfirst %}</label>
                    <input required type="text" name="suggested-skill" placeholder="Ferdighet"/>
                </div>
                <div class="five wide field">
                    <input id="skill-image" type="file" name="image"
                           accept="image/jpeg, image/png, image/svg, image/gif"/>
                </div>
                <div class="three wide field">
                    <button class="ui button" type="submit">{% translate "Submit" %}</button>
                </div>
            </div>

            <div class="inline fields">
                <div class="nine wide field">
                    <label>{% translate "title (English)"|capfirst %}</label>
                    <input required type="text" name="suggested-skill-english" placeholder="Skill"/>
                </div>
            </div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </form>

        <br/>

        {% if suggestions %}
            <h3>{% translate "Suggested skills" %}</h3>
            <table class="ui very basic collapsing celled table">
                <thead>
                <tr>
                    <th>{% translate "Skill" %}</th>
                    <th>{% translate "Number of votes" %}</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for suggestion in suggestions %}
                    <tr>
                        <td>
                            <h5 class="ui header image">
                                {% if suggestion.image %}
                                    <img {% thumbnail suggestion.image "64x64" crop="center" as image_thumb %}
                                        src="{{ image_thumb.url }}"
                                    {% empty %}
                                        src="{{ suggestion.image.url }}"
                                    {% endthumbnail %}
                                        class="ui mini rounded image"
                                            {% with skill=suggestion.title|add:" / "|add:suggestion.title_en %}
                                        alt="{% blocktranslate with skill=skill %}Illustration image of {{ skill }}{% endblocktranslate %}"
                                            {% endwith %}
                                    />
                                {% else %}
                                    <img class="ui mini rounded image" src="{% static 'checkin/img/placeholder_skill.svg' %}"
                                         alt="{% translate "Placeholder image" %}"
                                    />
                                {% endif %}
                                <div class="content">{{ suggestion.title }} / {{ suggestion.title_en }}</div>
                            </h5>
                        </td>

                        <td id="vote-count">{{ suggestion.voters.count }}</td>
                        <td>
                            {% if request.user|can_force_suggestion %}
                                <button class="ui make-bg-yellow button add-voter"
                                        data-pk="{{ suggestion.pk }}" data-forced="true">
                                    {% translate "Approve" %}
                                </button>
                            {% else %}
                                <button class="ui {% if suggestion|has_voter:request.user %}green disabled{% endif %} button add-voter"
                                        data-pk="{{ suggestion.pk }}" data-forced="false">
                                    {% if suggestion|has_voter:request.user %}
                                        {% translate "Voted!" %}
                                    {% else %}
                                        {% translate "Vote" %}
                                    {% endif %}
                                </button>
                            {% endif %}
                        </td>
                        <td>
                            {% if request.user|can_delete_suggestion %}

                                <button class="ui red button delete-suggestion"
                                        data-delete-url="{% url 'delete_skill_suggestion' suggestion.pk %}">
                                    {% translate "Delete" %}
                                </button>

                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock body %}
