.content .header span a i {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.accordion .title {
    position: absolute;
    top: -6px;
    right: -6px;
}

.item {
    position: relative;
}

.accordion,
.accordion .content {
    padding: 0 !important;
}

.makeicon {
    width: 20px;
    margin-bottom: -2px;
}

.ui.list > .item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.toggle {
    cursor: pointer;
}

span::selection,
span img::selection {
    background-color: rgba(0, 0, 0, 0);
}
