.copy-button-container {
    font-size: large;
    display: inline;
}

.copy-button-container .copy-token.button {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.copy-button-container i.icon {
    font-size: large;
}

.input-monospace {
    font-family: "Courier New", Courier, monospace !important;
    width: 100%;
    margin-top: 0.5em;
}
.send-email-container {
    display: inline;
}
