.lalign {
    width: calc(100% - 315px);
}

.grey.link.text {
    float: right;
    color: rgba(0, 0, 0, 0.4);
}

.grey.link.text:hover,
.grey.link.text:focus {
    color: rgba(0, 0, 0, 0.6);
}

.rail {
    --rail-padding: 17px;

    padding-top: var(--rail-padding) !important; /* Overrides Fomantic-UI */
}

.rail-content {
    padding: var(--rail-padding) 0;
}

.rail-content:first-child {
    padding-top: 0;
}

.card {
    border: none !important;
    box-shadow: 0 0 0 0 #000, 0 0 0 1px #EEE !important;
    border-radius: 0 !important;
}

.card p,
.accordion p {
    margin: 0 !important;
}

.card .hidden.icon {
    visibility: hidden;
}

.card .place {
    font-weight: bold;
}

.card .calendar-link {
    position: absolute;
    top: 1em;
    right: 0.25em;
}

.card .button {
    border-radius: 0 !important;
    margin-bottom: -1px !important;
}

.accordion {
    display: none;
}

.accordion .content {
    position: relative;
}


/* Tablet and mobile layout */
@media screen and (max-width: 1023px) {
    .lalign {
        width: 100%;
    }

    .right.rail {
        display: none;
    }

    .accordion-padding {
        height: 3em;
    }

    .accordion {
        display: inline;
    }

    .accordion .card .calendar-link {
        top: 0.4em;
        right: 0;
    }
}


/* Mobile layout */
@media screen and (max-width: 426px) {
    .accordion .card {
        width: auto;
    }
}
