{% extends "internal/base.html" %}
{% load i18n %}

{% block body %}
    <div class="ui container">
        <h1>{% trans "Add new member" %}</h1>
        <form class="ui form" method="POST" action="">
            {% csrf_token %}
            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.user.label }}</label>
                    {{ form.user }}
                </div>
                <div class="ui field">
                    <label>{{ form.date_joined.label }}</label>
                    {{ form.date_joined }}
                </div>
            </div>
            <div class="ui field">
                <label>{{ form.committees.label }}</label>
                {{ form.committees }}
            </div>
            <button class="ui right floated submit yellow button">{% trans "Submit" %}</button>
            <a class="ui right floated red button" href="{% url "members" %}">
                {% trans "Cancel" context "abort action" %}
            </a>
        </form>
    </div>
{% endblock %}
