{% load staticfiles %}
{% load i18n %}
{% load hosts %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% trans "MAKE NTNU Internal" %}{% endblock title %}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.8"/>
    <link rel="shortcut icon" type="image/png" href="{% static "web/img/favicon.png" %}"/>
    <meta name="theme-color" content="rgb(248, 200, 17)"/>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700" rel="stylesheet"/>
    <script defer src="{% host_url "javascript-catalog" host "main" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "lib/fomantic-ui/semantic.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "web/css/style.css" %}"/>
    <script src="{% static "lib/jquery/jquery-3.1.1.min.js" %}"></script>
    <script defer src="{% static "lib/fomantic-ui/semantic.min.js" %}"></script> {# depends on jQuery #}
    <script>let langPrefix = {% if LANGUAGE_CODE == "nb" %} "" {% else %} "/{{ LANGUAGE_CODE }}" {% endif %};</script>
    {# Temporary fix for CKEditor not being able to find its static files (see https://django-ckeditor.readthedocs.io/en/latest/#required) #}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {% block head %}{% endblock head %}
</head>
<body>
    {# TODO: Gjør om filtrering fra JavaScript til URL-parametre (lettere å gå fram og tilbake mellom sider og sende linker) #}
    {# TODO: Gjør at "Avbryt"-knappen på endring av et medlem tar deg tilbake til forrige side (krever TODO-en over), istedenfor /members #}
    <div class="wrapper">
        <div class="content">
            {% block header %}
                {% include "internal/header.html" %}
            {% endblock header %}

            {% block padding-top %}
                <div class="make_content_padding"></div>
            {% endblock %}

            <main>
                {% block body %}
                {% endblock body %}
            </main>

            {% block padding-bottom %}
                <div class="make_content_padding"></div>
            {% endblock padding-bottom %}
        </div>

        {% include "web/delete_modal.html" %}
    </div>

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
