{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "MAKE NTNU Internal" %}{% endblock title %}

{% block open_graph_meta %}{% endblock open_graph_meta %}

{% block analytics %}{% endblock analytics %}

{% block header_links %}
    <link rel="stylesheet" href="{% static 'web/css/header.css' %}"/>
    <script defer src="{% static 'web/js/header.js' %}"></script>
{% endblock header_links %}

{% block header %}
    {% include 'internal/header.html' %}
{% endblock header %}

{% block footer %}{% endblock footer %}
