{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}


{%block head%}
<style>
    .ui.selection.dropdown {
        color: white;
    }
</style>
{%endblock head%}

{% block body %}
    <div class="ui container">
        <table class="ui celled inverted make_bg_blue table">
            <thead>
                <tr>
                    <th> {% trans "Time" %} </th>
                    <th> {% trans guidance_hour.day %} </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ guidance_hour.start_time }}-{{ guidance_hour.end_time}} </td> 
                       
                    <form class="ui form" method="post" action=""> 
                        {% csrf_token %}
                        {% for slot in form %}
                            <td class="field">
                                {{ slot }}
                                {% if slot.errors %}
                                <div class="ui error mini floating message">
                                    {{ slot.errors | striptags }}
                                </div>
                                {% endif %}
                            </div>
                            </div>
                            </td>
                        {% endfor %}
                        <input class="ui yellow button" type="submit" value="{% trans "Save" %}"/>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock body %}

{% block scripts %}

{% endblock scripts %}