{% extends 'web/header.html' %}
{% load i18n %}
{% load hosts %}


{# Linking `web/header.css` and `web/header.js` is required when including this template #}

{% block logo_link_url %}{% url 'home' %}{% endblock logo_link_url %}

{% block nav_buttons %}
    <a class="item" href="{% url 'member_list' %}">
        <div class="text">{% trans "Members" %}</div>
        <div class="make-bg-yellow bubble-background"></div>
    </a>
    <a class="item" href="{% url 'secret_list' %}">
        <div class="text">{% trans "Secrets" %}</div>
        <div class="make-bg-turquoise bubble-background"></div>
    </a>
{% endblock nav_buttons %}

{% block user_dropdown_buttons %}
    <a class="item" href="{% host_url 'front_page' host 'main' %}">
        <div class="text">{% trans "Public pages" %}</div>
    </a>
    <a class="item" href="{% host_url 'logout' host 'main' %}">
        <div class="text">{% trans "Log out" %}</div>
    </a>
{% endblock user_dropdown_buttons %}

{% block announcements %}{% endblock announcements %}
