{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}
{% load datetime_tags %}
{% load member %}
{% load hosts %}


{% block title %}{% trans "Member list" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'internal/css/member_list.css' %}"/>
{% endblock extra_head %}

{% block body %}

    <div class="ui container">
        <h1 class="title-with-buttons">
            {% trans "Member list" %}
            {% if perms.internal.can_register_new_member %}
                <a class="ui right floated make-bg-yellow button" href="{% url 'create_member' %}">
                    <i class="ui plus icon"></i>{% trans "Add member" %}
                </a>
            {% endif %}
        </h1>

        <form class="ui form">
            <div id="filter-fields" class="ui fields">
                <div class="ui six wide field">
                    <input id="search" type="text" name="search-text" placeholder="{% trans "Search name and username" %}"/>
                </div>
                <div id="filter-dropdowns" class="ui fields field">

                    <div class="ui multiple blue labeled compact button icon dropdown">
                        <input type="hidden" name="filter-status"/>
                        <i class="ui filter icon"></i>
                        <span class="ui text">{% trans "Filter membership status" %}</span>
                        <div class="menu">
                            <div class="scrolling menu">
                                <div class="item" data-value="{% trans "Active" %}">
                                    <i class="ui green circle icon"></i>{% trans "Active" %}
                                </div>
                                <div class="item" data-value="{% trans "Inactive" %}">
                                    <i class="ui grey circle icon"></i>{% trans "Inactive" %}
                                </div>
                                <div class="item" data-value="{% trans "Retired" %}">
                                    <i class="ui blue circle icon"></i>{% trans "Retired" %}
                                </div>
                                <div class="item" data-value="{% trans "Honorary" %}">
                                    <i class="ui make-col-yellow circle icon"></i>{% trans "Honorary" %}
                                </div>
                                <div class="item" data-value="{% trans "Quit" %}">
                                    <i class="ui red circle icon"></i>{% trans "Quit" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui multiple blue labeled compact button icon dropdown">
                        <input type="hidden" name="filter-committee"/>
                        <i class="ui filter icon"></i>
                        <span class="ui text">{% trans "Filter committees" %}</span>
                        <div class="menu">
                            <div class="scrolling menu">
                                <div class="item" data-value="Dev">
                                    <i class="ui green circle icon"></i>Dev
                                </div>
                                <div class="item" data-value="Mentor">
                                    <i class="ui red circle icon"></i>Mentor
                                </div>
                                <div class="item" data-value="Event">
                                    <i class="ui blue circle icon"></i>Event
                                </div>
                                <div class="item" data-value="PR">
                                    <i class="ui make-col-yellow circle icon"></i>PR
                                </div>
                                <div class="item" data-value="Styret">
                                    <i class="ui purple circle icon"></i>Styret
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>

        <table id="member-table" class="ui celled unstackable selectable striped table">
            <thead>
            <tr>
                <th>
                    {% trans "Name" %}<i id="member-sort-name" class="ui sort icon"></i>
                </th>
                <th>
                    {% trans "Committee" %}<i id="member-sort-committees" class="ui up sort icon"></i>
                </th>
                <th>
                    {% trans "Role" %}<i id="member-sort-role" class="ui sort icon"></i>
                </th>
                <th class="mobile hidden">
                    {% trans "Status" %}<i id="member-sort-status" class="ui sort icon"></i>
                </th>
                <th class="computer only">
                    {% trans "Joined" %}<i id="member-sort-dateJoinedSortable" class="ui sort icon"></i>
                </th>
                <th class="mobile hidden">
                    {% trans "Contact email" %}<i id="member-sort-email" class="ui sort icon"></i>
                </th>
                <th class="computer only">
                    {% trans "Phone number" %}<i id="member-sort-phone" class="ui sort icon"></i>
                </th>
            </tr>
            </thead>
            <tbody id="member-table-content">
            {% for member in members %}
                {% get_committees member as committees %}
                {% get_membership_statuses member as membership_status %}
                <tr data-pk="{{ member.pk }}"
                    data-phone="{{ member.phone_number_display }}"
                    data-name="{{ member.user.get_full_name }}"
                    data-email="{{ member.email }}"
                    data-card-number="{{ member.user.card_number }}"
                    data-study-program="{{ member.study_program }}"
                    data-term-joined="{{ member.term_joined }}"
                    data-date-joined="{{ member.date_joined|short_date }}"
                    data-date-joined-sortable="{{ member.date_joined|iso_date }}"
                    data-date-quit="{{ member.date_quit|short_date }}"
                    data-term-quit="{{ member.term_quit|default:"" }}"
                    data-reason-quit="{% if member.quit and perms.internal.can_edit_group_membership %}{{ member.reason_quit }}{% endif %}"
                    data-status="{{ membership_status }}"
                    data-committees="{{ committees }}"
                    data-role="{{ member.role }}"
                    data-guidance-exemption="
                            {% if member.guidance_exemption %}
                                {% trans "Yes" %}
                            {% else %}
                                {% trans "No" %}
                            {% endif %}"
                    data-comment="{{ member.comment }}"
                    data-system-accesses="{% get_system_accesses member request.user %}"
                    data-edit-url="
                            {% if member.user == request.user or perms.internal.change_member %}
                                {% url 'edit_member' member.pk %}
                            {% endif %}"
                    data-set-quit-url="
                            {% if not member.retired and not member.quit and perms.internal.can_edit_group_membership %}
                                {% url 'member_quit' member.pk %}
                            {% endif %}"
                    data-can-undo-quit="{% if member.quit and perms.internal.can_edit_group_membership %}true{% endif %}"
                    data-can-set-retired="{% if not member.retired and not member.quit and perms.internal.can_edit_group_membership %}true{% endif %}"
                    data-can-undo-retired="{% if member.retired and perms.internal.can_edit_group_membership %}true{% endif %}"
                    data-edit-status-url="{% url 'edit_member_status' member.pk %}"
                >
                    <td>{{ member.user.get_short_full_name }}</td>
                    <td class="label-cell">
                        {% for committee_name, color in committees %}
                            <div class="ui {{ color }} label">{{ committee_name }}</div>
                        {% endfor %}
                    </td>
                    <td>{{ member.role }}</td>
                    <td class="label-cell mobile hidden">
                        {% for status_name, color in membership_status %}
                            <div class="ui {{ color }} label">{{ status_name }}</div>
                        {% endfor %}
                    </td>
                    <td class="computer only">{{ member.term_joined }}</td>
                    <td class="mobile hidden">
                        {% if member.email %}
                            {{ member.email|urlize }}
                        {% endif %}
                    </td>
                    <td class="computer only">
                        {% with phone_number=member.phone_number_display %}
                            {% if phone_number %}
                                <a href="tel:{{ phone_number }}">{{ phone_number }}</a>
                            {% endif %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <span>
            {% trans "Displaying" %}
            <b>
                <span id="displayed-members-count">{{ members|length }}</span>/{{ members|length }}
            </b>
            {% trans "registered members" %}
        </span>
    </div>

    {# Modal for showing detailed information about the user #}
    <div id="detailed-member-info" class="ui longer modal">
        <div class="header">
            <span id="member-name-header"></span>
            <a id="member-editUrl-button">
                <i class="ui make-col-yellow pencil icon"></i>
            </a>
            <span id="member-status-header"></span>
        </div>
        <div class="scrolling content">
            <h4 class="ui horizontal divider header">
                <i class="ui make-col-yellow user icon"></i>{% trans "Basic information" %}
            </h4>
            <table class="ui very basic unstackable celled table">
                <tbody>
                <tr>
                    <td class="six wide column">
                        <b>{% trans "Name" %}</b>
                    </td>
                    <td id="member-name"></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Phone number" %}</b>
                    </td>
                    <td>
                        <b><a id="member-phone"></a></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Contact email" %}</b>
                    </td>
                    <td>
                        <b><a id="member-email"></a></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Card number" %}</b>
                    </td>
                    <td id="member-cardNumber"></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Study program" %}</b>
                    </td>
                    <td id="member-studyProgram"></td>
                </tr>
                </tbody>
            </table>

            <h4 class="ui horizontal divider header">
                <i class="ui make-col-yellow users icon"></i>{% trans "Membership information" %}
            </h4>
            <table class="ui very basic unstackable celled table">
                <tbody>
                <tr>
                    <td class="six wide column">
                        <b>{% trans "Joined" %}</b>
                    </td>
                    <td id="member-dateJoined"></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Quit" %}</b>
                    </td>
                    <td id="member-dateQuit"></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Reason quit" %}</b>
                    </td>
                    <td id="member-reasonQuit"></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Status" %}</b>
                    </td>
                    <td id="member-status"></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Committee" %}</b>
                    </td>
                    <td id="member-committee"></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Role" %}</b>
                    </td>
                    <td id="member-role"></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Guidance exemption" %}</b>
                    </td>
                    <td id="member-guidanceExemption"></td>
                </tr>
                <tr>
                    <td>
                        <b>{% trans "Comment" %}</b>
                    </td>
                    <td id="member-comment"></td>
                </tr>
                </tbody>
            </table>

            <h4 class="ui horizontal divider header">
                <i class="ui make-col-yellow key icon"></i>{% trans "System accesses" %}
            </h4>
            <form id="edit-system-access-form" method="POST">
                {% csrf_token %}
                <table class="ui very basic unstackable celled table">
                    <tbody id="member-system-accesses">

                    </tbody>
                </table>
            </form>

            {% if perms.internal.can_edit_group_membership %}
                <h4 class="ui horizontal divider header">
                    <i class="ui wrench make-col-yellow icon"></i>{% trans "Actions" %}
                </h4>
                <form id="edit-member-status-form" class="member-action-buttons" method="POST">
                    {% csrf_token %}
                    <a id="member-setQuitUrl-button" class="ui red button">
                        {% trans "Set member as quit" %}
                    </a>
                    <button id="member-canUndoQuit-button" class="ui green button" type="submit"
                            data-status-action="{{ StatusAction.UNDO_QUIT }}">
                        {% trans "Set member as not quit" %}
                    </button>
                    <button id="member-canSetRetired-button" class="ui make-bg-yellow button" type="submit"
                            data-status-action="{{ StatusAction.RETIRE }}">
                        {% trans "Set member as retired" %}
                    </button>
                    <button id="member-canUndoRetired-button" class="ui make-bg-yellow button" type="submit"
                            data-status-action="{{ StatusAction.UNDO_RETIRE }}">
                        {% trans "Set member as not retired" %}
                    </button>
                    <input id="member-status-action" class="ui green button" type="hidden" name="status_action"/>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock body %}

{% block extra_scripts %}
    <script>
        $("div.ui.dropdown").dropdown();
        $("input[name=filter-status]").parent().dropdown("set selected", ["{% trans "Active" %}"]);
    </script>
    <script src="{% static 'internal/js/member_list.js' %}"></script>
    {% if selected_member %}
        <script>
            showDetailedMemberInformation(state.allMembers.find(
                (member) => member.data.pk === {{ selected_member.pk }}
            ));
        </script>
    {% endif %}

    {# Show any possible messages created by actions (changing retirement/quit status) #}
    <script>
        {% for message in messages %}
            $("body").toast({
                displayTime: 0,
                message: "{{ message }}",
                class: "warning",
            });
        {% endfor %}
    </script>
{% endblock extra_scripts %}
