{% extends 'internal/base.html' %}
{% load i18n %}


{# TODO: refactor this template and the `member_quit` template, to reduce code duplication #}

{% block extra_head %}
    {{ form.media }}
{% endblock extra_head %}

{% block body %}

    <div class="ui container">
        <h1>{% blocktrans with name=form.instance.user.get_full_name %}Set member {{ name }} as retired{% endblocktrans %}</h1>
        <form class="ui form" method="POST" action="">
            {% csrf_token %}
            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.date_quit_or_retired.label }}</label>
                    {{ form.date_quit_or_retired }}
                </div>
            </div>
            <button class="ui right floated make-bg-yellow button">{% trans "Set retired" %}</button>
            <a class="ui right floated red button" href="{% url 'member_list' %}">{% trans "Cancel" context "abort action" %}</a>
        </form>
    </div>

{% endblock body %}
