{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}

{% block body %}
    <div class="contentbox ui container">
        <h1>
            {% trans "Internal secrets" %}
            <a href="{% url 'create-secret' %}">
                <i class="ui green plus icon"></i>
            </a>
        </h1>
        {% for secret in secrets %}
            <h3>
                {{ secret.title }}
                {% if perms.internal.change_SecretContent %}
                    <a href="{% url 'edit-secret' secret.id %}">
                        <i class="ui yellow pencil icon"></i>
                    </a>
                    <a class="delete confirm">
                        <i class="red trash icon"></i>
                    </a>
                {% endif %}
            </h3>
            {{ secret.description |safe }}
            {{ secret.date |safe }}
        {% endfor %}
    </div>
{% endblock body %}
