{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "internal/css/secrets.css" %}"/>
    <script defer src="{% static 'internal/js/secrets.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="contentbox ui container">
        <h1>
            {% trans "Internal secrets" %}
            {% if perms.internal.add_SecretContent %}
                <a href="{% url 'create-secret' %}">
                    <i class="ui green plus icon"></i>
                </a>
            {% endif %}
        </h1>
        {% for secret in secrets %}
            <h3>
                {{ secret.title }}
                {% if perms.internal.change_SecretContent %}
                    <a href="{% url 'edit-secret' secret.pk %}">
                        <i class="ui yellow pencil icon"></i>
                    </a>
                {% endif %}
                {% if perms.internal.delete_SecretContent %}
                    <a class="delete confirm" href="{% url 'delete-secret' secret.pk %}">
                        <i class="red trash icon"></i>
                    </a>
                {% endif %}
                <button class="secret-button ui red button" data-secret-id="secret-{{ secret.pk }}">
                    {% trans "Press if you're alone" %}
                </button>
            </h3>
            <div id="secret-{{ secret.pk }}" class="hidden">
                {{ secret.description|safe }}
                <p>{% trans "Last edited:" %} {{ secret.date|safe }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
