{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}
{% load datetime_tags %}


{% block head %}
    <link rel="stylesheet" href="{% static 'internal/css/secret_list.css' %}"/>
    <script defer src="{% static 'internal/js/secret_list.js' %}"></script>
{% endblock head %}

{% block body %}
    <div class="ui container">
        <h1 class="ui header">
            {% trans "Internal secrets" %}
            {% if perms.internal.add_secret %}
                <a href="{% url 'create-secret' %}">
                    <i class="ui green plus icon"></i>
                </a>
            {% endif %}
        </h1>
        <div class="ui items">
            {% for secret in secrets %}
                <div class="item">
                    <div class="content">

                        <div class="header">
                            {{ secret.title }}
                            {% if perms.internal.change_secret %}
                                <a href="{% url 'edit-secret' secret.pk %}">
                                    <i class="ui make-col-yellow pencil icon"></i>
                                </a>
                            {% endif %}
                            {% if perms.internal.delete_secret %}
                                <a class="delete-modal-button"
                                   data-url="{% url 'delete-secret' secret.pk %}"
                                   data-obj-name="{{ secret }}">
                                    <i class="red trash icon"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="meta">
                            <span>{% trans "Last modified" %}: {{ secret.last_modified|short_datetime }}</span>
                        </div>
                        <div class="description">
                            <button id="button-secret-{{ secret.pk }}" class="secret-button ui red button"
                                    data-secret-id="secret-{{ secret.pk }}">
                                {% trans "Click to show - only if you're alone!" %}
                            </button>
                            <div id="secret-{{ secret.pk }}" class="display-none">
                                {{ secret.content|safe }}
                            </div>
                        </div>

                    </div>
                    <button class="secret-close-button ui red button" data-secret-id="secret-{{ secret.pk }}">
                        {% trans "Close - someone's behind me!" %}
                    </button>
                </div>
                {% if not forloop.last %}
                    <div class="ui divider"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
