{% extends "internal/base.html" %}
{% load i18n %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static "internal/css/secrets.css" %}"/>
    <script defer src="{% static "internal/js/secrets.js" %}"></script>
{% endblock head %}

{% block body %}
    <div class="ui container">
        <h1 class="ui header">
            {% trans "Internal secrets" %}
            {% if perms.internal.add_secret %}
                <a href="{% url 'create-secret' %}">
                    <i class="ui green plus icon"></i>
                </a>
            {% endif %}
        </h1>
        <div class="ui items">
            {% for secret in secrets %}
                <div class="item">
                    <div class="content">

                        <div class="header">
                            {{ secret.title }}
                            {% if perms.internal.change_secret %}
                                <a href="{% url 'edit-secret' secret.pk %}">
                                    <i class="ui make-col-yellow pencil icon"></i>
                                </a>
                            {% endif %}
                            {% if perms.internal.delete_secret %}
                                <a class="delete-modal-button"
                                   data-url="{% url 'delete-secret' secret.pk %}"
                                   data-obj-name="{{ secret }}">
                                    <i class="red trash icon"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="meta">
                            <span>{% trans "Last edited:" %} {{ secret.last_modified|date:"d.m.Y H:i" }}</span>
                        </div>
                        <div class="description">
                            <button class="secret-button ui red button" data-secret-id="secret-{{ secret.pk }}">
                                {% trans "Press if you're alone" %}
                            </button>
                            <div id="secret-{{ secret.pk }}" class="display-none">
                                {{ secret.content|safe }}
                            </div>
                        </div>

                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="ui divider"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
