{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'internal/css/secret_list.css' %}"/>
    <script defer src="{% static 'internal/js/secret_list.js' %}"></script>
{% endblock head %}

{% block body %}
    <div class="ui container">
        <h1>
            {% trans "Internal secrets" %}
            {% if perms.internal.add_secret %}
                <a href="{% url 'create-secret' %}">
                    <i class="ui green plus icon"></i>
                </a>
            {% endif %}
        </h1>
        {% for secret in secrets %}
            <h3>
                {{ secret.title }}
                {% if perms.internal.change_secret %}
                    <a href="{% url 'edit-secret' secret.pk %}">
                        <i class="ui make-col-yellow pencil icon"></i>
                    </a>
                {% endif %}
                {% if perms.internal.delete_secret %}
                    <a class="delete confirm" href="{% url 'delete-secret' secret.pk %}">
                        <i class="red trash icon"></i>
                    </a>
                {% endif %}
                <button class="secret-button ui red button" data-secret-id="secret-{{ secret.pk }}">
                    {% trans "Press if you're alone" %}
                </button>
            </h3>
            <div id="secret-{{ secret.pk }}" class="display-none">
                {{ secret.content|safe }}
                <p>{% trans "Last edited:" %} {{ secret.last_modified|date:"d.m.Y H:i" }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
