{% extends "internal/base.html" %}
{% load i18n %}

{% block body %}
    <div class="ui container">
        <h1>{% trans "Change system access" %}</h1>
        <form class="ui form" method="POST" action="">
            {% csrf_token %}
            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.member.label }}</label>
                    {{ form.member }}
                </div>
                <div class="ui field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
            </div>
            <div class="ui field">
                <div class="ui toggle checkbox">
                    {{ form.value }}
                    <label>{{ form.value.label }}</label>
                </div>
            </div>
            <button class="ui right floated yellow button">{% trans "Save" %}</button>
            <a href="{% url "members" %}" class="ui right floated red button">{% trans "Cancel" context "abort action" %}</a>
        </form>
    </div>
{% endblock %}
