{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'news/css/event/ticket/ticket_card.css' %}"/>
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        <h1>{% trans "My tickets" %}</h1>
        <div class="ui cards">
            {% for ticket in tickets %}
                {% include 'news/event/ticket/ticket_card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
