{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{% translate "equipment"|capfirst %} | {% translate "Admin panel" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'makerspace/css/admin_equipment_list.css' %}"/>
{% endblock extra_head %}

{% block body %}
    <h1 class="ui text-centered make-col-yellow header">
        {% translate "equipment"|capfirst %}
        <a href="{% url 'equipment_create' %}" title="{% translate "Add new equipment" %}">
            <i class="green add icon"></i>
        </a>
    </h1>
    <div class="ui text container">
        {% if equipment_list %}
            <div class="equipment-list ui divided list">
                {% for equipment in equipment_list %}
                    <div class="item">

                        <a class="image" href="{% url 'equipment_update' equipment.pk %}">
                            <img src="{{ equipment.image.url }}"
                                 alt="{% blocktranslate with equipment=equipment.title %}Image of {{ equipment }}{% endblocktranslate %}"
                            />
                        </a>
                        <h3 class="word-breaking hyphenated equipment-title">
                            <a class="make-col-blue" href="{% url 'equipment_update' equipment.pk %}">
                                {{ equipment.title }}
                            </a>
                        </h3>
                        {% if perms.makerspace.delete_equipment %}
                            <a class="delete-modal-button"
                               data-url="{% url 'equipment_delete' equipment.pk %}"
                               data-obj-name="{{ equipment }}">
                                <i class="large red delete icon"></i>
                            </a>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock body %}
