{% load i18n %}


This event is of type “{% language "en" %}{{ event.get_event_type_display }}{% endlanguage %}”
and therefore has no tickets connected to {% if event.standalone %}each time place{% else %}the event itself{% endif %};
see {% if not event.standalone %}one of{% endif %} the following page{% if not event.standalone %}s{% endif %} instead:
{% if event.standalone %}
    <br/>
    <a href="{% url 'admin_event_ticket_list' event.pk %}">
        Ticket list for “{% language "en" %}{{ event }}{% endlanguage %}”
    </a>
{% else %}
    <ul>
        {% for time_place in event.timeplaces.all %}
            <li>
                <a href="{% url 'admin_time_place_ticket_list' event.pk time_place.pk %}">
                    Ticket list for “{% language "en" %}{{ time_place }}{% endlanguage %}”
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
