{% extends "web/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "news/css/admin.css" %}">
{% endblock head %}

{% block body %}
    <div style="height: 50px;"></div>
    <h1 class="ui text-centered make_col_yellow header">
        Arrangementer
        <a class="make_col_blue" href="/news/event/create/"><i class="ui add icon"></i></a>
    </h1>
    <div class="ui text container">
        <div class="ui divided list">
            {% for event in events %}
                <div class="item">
                    <i class="ui icon"><img class="inline square_36" src="{{ event.image.url }}"></i>
                    <div class="content">
                        <div class="header">
                            <a class="inline-block make_col_blue header"
                               href="/news/event/{{ event.id }}/">{{ event.title }}</a>
                            <span>
                                {% if perms.news.change_event %}
                                    <a class="inline-block make_col_blue" href="/news/event/{{ event.id }}/edit/">
                                        <i class="ui edit icon"></i>
                                    </a>
                                {% endif %}
                                {% if perms.news.delete_event %}
                                    <a class="inline-block make_col_blue" href="/news/event/{{ event.id }}/delete/">
                                        <i class="ui delete icon"></i>
                                    </a>
                                {% endif %}
                                {% if perms.news.create_timeplace %}
                                    <a class="inline-block make_col_blue" href="/news/timeplace/{{ event.id }}/new/">
                                        <i class="icons">
                                            <i class="time icon"></i>
                                            <i class="noshadow bottom right corner add icon"></i>
                                        </i>
                                    </a>
                                {% endif %}
                            </span>
                        </div>
                        <div class="description">
                            {{ event.clickbait }}
                        </div>
                        {% if event.timeplace_set.exists %}
                            <div class="ui accordion list">
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                </div>
                                <div class="content">
                                    {% for timeplace in event.timeplace_set.all %}
                                        <div class="item">
                                            <i class="icon"></i>
                                            <div class="content">
                                                <div class="header">
                                                    {{ timeplace.start_date|date:"d. M" }} {{ timeplace.start_time|date:"H:i" }}
                                                    <span>
                                                    {% if perms.news.change_timeplace %}
                                                        <a class="make_col_blue"
                                                           href="/news/timeplace/{{ timeplace.id }}/edit/">
                                                            <i class="ui edit icon"></i>
                                                        </a>
                                                    {% endif %}
                                                        {% if perms.news.delete_timeplace %}
                                                            <a class="make_col_blue"
                                                               href="/news/timeplace/{{ timeplace.id }}/delete/">
                                                            <i class="ui delete icon"></i>
                                                        </a>
                                                        {% endif %}
                                                        {% if perms.news.add_timeplace %}
                                                            <a class="make_col_blue"
                                                               href="/news/timeplace/{{ timeplace.id }}/duplicate/">
                                                            <i class="ui copy icon"></i>
                                                        </a>
                                                        {% endif %}
                                                </span>
                                                </div>
                                                <div class="description">
                                                    {{ timeplace.place }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <h1 class="ui text-centered make_col_yellow header">
            Artikler
            <a class="make_col_blue" href="/news/article/create/"><i class="ui add icon"></i></a>
        </h1>
        <div class="ui divided list">
            {% for article in articles %}
                <div class="item">
                    <i class="ui icon"><img class="inline square_36" src="{{ article.image.url }}"></i>
                    <div class="content">
                        <div class="header">
                            <a class="inline-block make_col_blue header"
                               href="/news/article/{{ article.id }}/">{{ article.title }}</a>
                            <span>
                                {% if perms.news.change_article %}
                                    <a class="inline-block  make_col_blue" href="/news/article/{{ article.id }}/edit/">
                                        <i class="ui edit icon"></i>
                                    </a>
                                {% endif %}
                                {% if perms.news.delete_article %}
                                    <a class="inline-block make_col_blue" href="/news/article/{{ article.id }}/delete/">
                                    <i class="ui delete icon"></i>
                                </a>
                                {% endif %}
                            </span>
                        </div>
                        <div class="description">
                            {{ article.clickbait }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $('.ui.accordion').accordion();
    </script>

    <div style="height: 50px;"></div>
{% endblock body %}
