{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load news_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "news/css/admin.css" %}">
{% endblock head %}

{% block body %}
    <div class="ui text container">
        <h1 class="ui text-centered make_col_yellow header">
            {% trans "Articles" %}
            <a class="make_col_blue explanation-popup" data-title="{% trans "Create" %}"
               data-content="{% trans "If clicked, a new article will be created." %}"
               href="{% url 'article-create' %}">
                <i class="ui add icon"></i>
            </a>
        </h1>
        {% if articles %}
            <div class="ui divided list">
                {% for article in articles %}
                    <div class="item">
                        <i class="ui icon"><img class="inline square_36" src="{{ article.image.url }}"></i>
                        <div class="content">
                            <div class="header">
                                <a class="inline-block make_col_blue header"
                                   href="{% url 'article' article.id %}">{{ article.title }}</a>
                                <span>
                                    &nbsp;&nbsp;
                                    <i class="ui {{ article.featured|color }} star icon toggle explanation-popup"
                                       data-title="{% trans "Feature" %}"
                                       data-content="{% trans "If selected, the article is shown on the front page." %}"
                                       data-pk="{{ article.pk }}" data-toggle="featured" data-model="article"></i>
                                    <i class="ui {{ article.hidden|color }} eye slash icon toggle explanation-popup"
                                       data-title="{% trans "Hidden" %}"
                                       data-content="{% trans "If selected, the article is hidden for non-admin users." %}"
                                       data-pk="{{ article.pk }}" data-toggle="hidden" data-model="article"></i>
                                    <img data-title="{% trans "Internal" %}" class="makeicon toggle explanation-popup"
                                         data-content="{% trans "If selected, the article is only available for MAKE members." %}"
                                            {% if article.private %}
                                         src="{% static "web/img/m_yellow.svg" %}"
                                            {% else %}
                                         src="{% static "web/img/m_grey.svg" %}"
                                            {% endif %}
                                         data-pk="{{ article.pk }}" data-toggle="private" data-model="article">
                                    &nbsp;&nbsp;&nbsp;
                                    {% if perms.news.change_article %}
                                        <a class="inline-block  make_col_blue explanation-popup"
                                           data-title="{% trans "Change" %}"
                                           data-content="{% trans "If clicked, a form for editing the article is shown." %}"
                                           href="{% url 'article-edit' article.id %}">
                                            <i class="ui edit icon"></i>
                                        </a>
                                    {% endif %}
                                    {% if perms.news.delete_article %}
                                        <a class="delete confirm inline-block make_col_blue explanation-popup"
                                           data-title="{% trans "Delete" %}"
                                           data-content="{% trans "If clicked, the article will be deleted." %}"
                                           href="{% url 'article-delete' article.id %}">
                                            <i class="ui delete icon"></i>
                                        </a>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="description">
                                {{ article.clickbait }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-centered"><i>{% trans "No articles" %}</i></p>
        {% endif %}
    </div>

    <script>
        $('.ui.accordion').accordion();

        $(".explanation-popup").popup();

        $('.toggle').click(function () {
            toggle_post($(this), $(this).data('pk'), $(this).data('model'), $(this).data('toggle'));
        });

        function toggle_post(element, pk, model, toggle) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            });
            $.ajax({
                type: "POST",
                url: '/news/admin/toggle/' + model + '/',
                data: {
                    'pk': pk,
                    'toggle': toggle,
                },
                success: function (data) {
                    if (!data['color']) {
                        return;
                    }
                    if (toggle === 'private') {
                        if (data['color'] === 'yellow') {
                            element.attr('src', '{% static "web/img/m_yellow.svg" %}');
                        } else {
                            element.attr('src', '{% static "web/img/m_grey.svg" %}');
                        }
                    } else {
                        element.removeClass('yellow grey').addClass(data['color']);
                    }
                }
            });
        }
    </script>

{% endblock body %}
