{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'news/css/admin_event_participants_search.css' %}"/>
{% endblock extra_head %}

{% block body %}
    <h1 class="ui centered header">
        {% translate "Find events users have attended or are registered for" %}
    </h1>

    <div class="ui text container">
        <form class="dont-prevent-leaving ui small form" method="POST">
            {% csrf_token %}
            <div class="eight wide field">
                <label>
                    {{ form.search_string.label }}
                    <span data-content="{{ form.search_string.help_text }}">
                    <i class="make-col-yellow question circle icon"></i>
                </span>
                </label>
                {{ form.search_string }}
            </div>
            <button class="ui make-col-blue button" type="submit">
                {% translate "Search" %}
            </button>
        </form>
        {% if found_users %}
            <br/>
            {% for user in found_users %}
                <ul id="found-users-list">
                    <h1>{{ user.get_full_name }}</h1>
                    {% for ticket in user.tickets %}
                        {% if ticket.active %}
                            {% if ticket.timeplace %}
                                <a href="{% url 'timeplace_ticket_list' ticket.timeplace.event.pk ticket.timeplace.pk %}" target="_blank">
                                    {{ ticket.timeplace.event.title }}:
                                    {{ ticket.timeplace.start_time.date }}
                                </a>
                            {% else %}
                                <a href="{% url 'event_ticket_list' ticket.event.pk %}" target="_blank">
                                    {{ ticket.event }}:
                                    {{ ticket.first_standalone_event_occurrence.date }}
                                    {% if ticket.first_standalone_event_occurrence != ticket.last_standalone_event_occurrence %}
                                        &ndash; {{ ticket.last_standalone_event_occurrence.date }}
                                    {% endif %}
                                </a>
                            {% endif %}
                            <br/>
                        {% endif %}
                    {% endfor %}
                    <hr/>
                </ul>
            {% endfor %}
        {% endif %}
    </div>
{% endblock body %}
