{% extends "web/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <script type="text/javascript" src="{% static "news/js/email_copy.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "news/css/admin_event_tickets.css" %}">
{% endblock head %}

{% block body %}

    <div class="ui container">
        <h1>{{ event.title }}</h1>
        <a href="{% url "admin-event" event.pk %}">
            <i class="ui angle double left icon"></i>{% trans "Event admin page" %}
        </a>

        <h3>{% trans "Emails" %}
            <button class="copy-token"><i class="clipboard icon"></i></button>
            <span data-content="{% trans "Click to copy the emails of the active tickets to the clipboard" %}.">
                <i class="ui yellow question circle icon"></i>
            </span>
        </h3>
        <div>
            <input
                class="input-monospace copy-input"
                value="{{ ticket_emails }}"
                readonly> 
        </div>
        <h3>{% trans "Tickets" %}</h3>
        <b>{{ object.number_of_registered_tickets }}/{{ object.number_of_tickets }} {% trans "tickets reserved" %}</b>
        <div class="ui relaxed divided list">
            {% for ticket in tickets %}
                <div class="item">
                    <span class="right floated ">
                        {% if ticket.active %}
                            <span class="ui green label">{% trans "Active" %}</span>
                        {% else %}
                            <span class="ui red label">{% trans "Canceled" %}</span>
                        {% endif %}
                    </span>
                    <i class="ui very large middle aligned {% if ticket.active %}green{% else %}red{% endif %} circle icon"></i>
                    <div class="ui content">
                        <div class="header">
                            {{ ticket.name }} - <a href="mailto:{{ ticket.email }}">{{ ticket.email }}</a>
                        </div>
                        <div class="description">
                            <div>
                                <b>{% trans "Ref #" %}:</b>
                                <a href="{% url "ticket" ticket.uuid %}">{{ ticket.uuid }}</a>
                            </div>
                            <div>
                                <b>{% trans "Language" %}</b> {{ ticket.get_language_display }}
                            </div>
                            {% if ticket.comment %}
                                <div>
                                    <b>{% trans "Comment" %}:</b> {{ ticket.comment }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                {% trans "No tickets have been registered for this event" %}
            {% endfor %}
        </div>
    </div>
    <script>
        $(".message .close").click(function () {
            $(this)
                .closest(".message")
                .transition("fade");
        });
        $("span[data-content]").popup();
    </script>
{% endblock %}
