{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load news_tags %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "news/css/admin_list.css" %}">
{% endblock head %}

{% block body %}
    <div class="ui container">
        <h1 class="ui text-centered">
            {% trans "Articles" %}
            <a href="{% url 'article-create' %}">
                <i class="ui green add icon"></i>
            </a>
        </h1>

        <div class="ui three doubling stackable cards">
            {% for article in articles %}
                <div class="ui card">
                    <a class="image" href="{% url "article" article.id %}">
                        <img src="{{ article.image.url }}" alt="{% trans "Article image" %}">
                    </a>
                    <div class="content">
                        <a class="header" href="{% url "article" article.id %}">{{ article.title }}</a>
                        <div class="meta">
                            {% if article.featured %}
                                <div class="ui green mini label">
                                    {% trans "Featured" %}
                                </div>
                            {% endif %}

                            {% if article.hidden %}
                                <div class="ui red mini label">
                                    {% trans "Hidden" %}
                                </div>
                            {% endif %}

                            {% if article.private %}
                                <div class="ui make-bg-yellow mini label">
                                    {% trans "Internal" %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="description">{{ article.clickbait }}</div>
                    </div>
                    <div class="ui two bottom attached buttons">
                        <a class="ui make-bg-yellow button" href="{% url "article-edit" article.id %}">
                            <i class="ui edit icon"></i>{% trans "Edit" %}
                        </a>
                        {% if perms.news.delete_article %}
                            <a class="ui red delete confirm button" href="{% url "article-delete" article.id %}">
                                <i class="ui trash icon"></i>{% trans "Delete" %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
