{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load news_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "news/css/admin.css" %}">
{% endblock head %}

{% block body %}
    <div style="height: 50px;"></div>
    <h1 class="ui text-centered make_col_yellow header">
        {% trans "Events" %}
        <a class="make_col_blue" href="{% url 'event-create' %}"><i class="ui add icon"></i></a>
    </h1>
    <div class="ui text container">
        {% if events %}
            <div class="ui divided list">
                {% for event in events %}
                    <div class="item">
                        <i class="ui icon"><img class="inline square_36" src="{{ event.image.url }}"></i>
                        <div class="content">
                            <div class="header">
                                <a class="inline-block make_col_blue header"
                                   href="{% url 'event' event.id %}">{{ event.title }}</a>
                                <span>
                                    &nbsp;&nbsp;
                                    <i class="ui {{ event.featured|color }} star icon toggle"
                                       pk="{{ event.pk }}" toggle="featured" model="event"></i>
                                    <i class="ui {{ event.hidden|color }} eye slash icon toggle"
                                       pk="{{ event.pk }}" toggle="hidden" model="event"></i>
                                    <img class="makeicon toggle"
                                        {% if event.private %}
                                            src="{% static "web/img/m_yellow.svg" %}"
                                        {% else %}
                                            src="{% static "web/img/m_grey.svg" %}"
                                        {% endif %}
                                    pk="{{ event.pk }}" toggle="private" model="event">
                                    &nbsp;&nbsp;&nbsp;
                                    {% if perms.news.change_event %}
                                        <a class="inline-block make_col_blue" href="{% url 'event-edit' event.id %}">
                                            <i class="ui edit icon"></i>
                                        </a>
                                    {% endif %}
                                    {% if perms.news.delete_event %}
                                        <a class="delete confirm inline-block make_col_blue" href="{% url 'event-delete' event.id %}">
                                            <i class="ui delete icon"></i>
                                        </a>
                                    {% endif %}
                                    {% if perms.news.add_timeplace %}
                                        <a class="inline-block make_col_blue"
                                           href="{% url 'timeplace-new' event.id %}">
                                            <i class="icons">
                                                <i class="time icon"></i>
                                                <i class="noshadow bottom right corner add icon"></i>
                                            </i>
                                        </a>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="description">
                                {{ event.clickbait }}
                            </div>
                            {% if event.timeplace_set.exists %}
                                <div class="ui accordion list">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                    </div>
                                    <div class="content">
                                        {% for timeplace in event.timeplace_set.all %}
                                            <div class="item">
                                                <i class="icon"></i>
                                                <div class="content">
                                                    <div class="header">
                                                        {{ timeplace.start_date|date:"d. M" }} {{ timeplace.start_time|date:"H:i" }}
                                                        <span>
                                                        &nbsp;&nbsp;
                                                        <i class="ui {{ timeplace.hidden|color }} eye slash icon toggle"
                                                           pk="{{ timeplace.pk }}" toggle="hidden"
                                                           model="timeplace"></i>
                                                        &nbsp;&nbsp;&nbsp;
                                                            {% if perms.news.change_timeplace %}
                                                                <a class="make_col_blue"
                                                                   href="{% url 'timeplace-edit' timeplace.id %}">
                                                                <i class="ui edit icon"></i>
                                                            </a>
                                                            {% endif %}
                                                            {% if perms.news.delete_timeplace %}
                                                                <a class="delete confirm make_col_blue"
                                                                   href="{% url 'timeplace-delete' timeplace.id %}">
                                                                    <i class="ui delete icon"></i>
                                                                </a>
                                                            {% endif %}
                                                            {% if perms.news.add_timeplace %}
                                                                <a class="make_col_blue"
                                                                   href="{% url 'timeplace-duplicate' timeplace.id %}">
                                                                <i class="ui copy icon"></i>
                                                            </a>
                                                            {% endif %}
                                                    </span>
                                                    </div>
                                                    <div class="description">
                                                        {{ timeplace.place }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-centered"><i>{% trans "No events" %}</i></p>
        {% endif %}

        <h1 class="ui text-centered make_col_yellow header">
            {% trans "Articles" %}
            <a class="make_col_blue" href="{% url 'article-create' %}"><i class="ui add icon"></i></a>
        </h1>
        {% if articles %}
            <div class="ui divided list">
                {% for article in articles %}
                    <div class="item">
                        <i class="ui icon"><img class="inline square_36" src="{{ article.image.url }}"></i>
                        <div class="content">
                            <div class="header">
                                <a class="inline-block make_col_blue header"
                                   href="{% url 'article' article.id %}">{{ article.title }}</a>
                                <span>
                                    &nbsp;&nbsp;
                                    <i class="ui {{ article.featured|color }} star icon toggle"
                                       pk="{{ article.pk }}" toggle="featured" model="article"></i>
                                    <i class="ui {{ article.hidden|color }} eye slash icon toggle"
                                       pk="{{ article.pk }}" toggle="hidden" model="article"></i>
                                    <img class="makeicon toggle"
                                        {% if article.private %}
                                            src="{% static "web/img/m_yellow.svg" %}"
                                        {% else %}
                                            src="{% static "web/img/m_grey.svg" %}"
                                        {% endif %}
                                    pk="{{ article.pk }}" toggle="private" model="article">
                                    &nbsp;&nbsp;&nbsp;
                                    {% if perms.news.change_article %}
                                        <a class="inline-block  make_col_blue"
                                           href="{% url 'article-edit' article.id %}">
                                            <i class="ui edit icon"></i>
                                        </a>
                                    {% endif %}
                                    {% if perms.news.delete_article %}
                                        <a class="delete confirm inline-block make_col_blue"
                                           href="{% url 'article-delete' article.id %}">
                                            <i class="ui delete icon"></i>
                                        </a>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="description">
                                {{ article.clickbait }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-centered"><i>{% trans "No articles" %}</i></p>
        {% endif %}
    </div>

    <script>
        $('.ui.accordion').accordion();

        $(".toggle").popup();

        $('.toggle').click(function () {
            toggle_post($(this), $(this).attr('pk'), $(this).attr('model'), $(this).attr('toggle'));
        });

        function toggle_post(element, pk, model, toggle) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            });
            $.ajax({
                type: "POST",
                url: '/news/admin/toggle/' + model + '/',
                data: {
                    'pk': pk,
                    'toggle': toggle,
                },
                success: function (data) {
                    if (!data['color']) {
                        return;
                    }
                    if (toggle == 'private') {
                        if (data['color'] == 'yellow') {
                            element.attr('src', '{% static "web/img/m_yellow.svg" %}');
                        } else {
                            element.attr('src', '{% static "web/img/m_grey.svg" %}');
                        }
                    } else {
                        element.removeClass('yellow grey').addClass(data['color']);
                    }
                }
            });
        }
    </script>

    <div style="height: 50px;"></div>
{% endblock body %}
