{% load i18n %}
{% load datetime_tags %}


{# Linking `admin_event_detail.css` and `admin_event_detail.js` is required when including this template #}

<div class="item">
    {% if timeplace.event.repeating %}
        <span class="ui right floated">
            {% if timeplace.number_of_tickets %}
                <a href="{% url 'timeplace_ticket_list' pk=timeplace.pk %}">
                    {% blocktrans trimmed with num_registered_tickets=timeplace.number_of_registered_tickets num_tickets=timeplace.number_of_tickets %}
                        {{ num_registered_tickets }}/{{ num_tickets }} tickets reserved
                    {% endblocktrans %}
                </a>
            {% else %}
                <b>{% trans "No registration required" %}</b>
            {% endif %}
        </span>
    {% endif %}
    <div class="content">
        <div class="header">
            {{ timeplace.start_time|long_datetime }}
            <span>
                &nbsp;&nbsp;
                    <i class="ui {% if timeplace.hidden %}yellow{% else %}grey{% endif %} eye slash icon toggle explanation-popup"
                       data-title="{% trans "hidden"|capfirst %}" data-pk="{{ timeplace.pk }}"
                       data-toggle="hidden" data-model="timeplace"
                       data-content="{% trans "If selected, the occurrence is hidden for non-admin users." %}">
                    </i>
                &nbsp;&nbsp;
                {% if perms.news.change_timeplace %}
                    <a class="make-col-blue explanation-popup" data-title="{% trans "Edit" %}"
                       data-content="{% trans "If clicked, a form for editing the occurrence is shown." %}"
                       href="{% url 'timeplace_edit' timeplace.pk %}">
                        <i class="ui edit icon"></i>
                    </a>
                {% endif %}
                {% if perms.news.delete_timeplace %}
                    <a class="delete-modal-button make-col-blue explanation-popup"
                       data-title="{% trans "Delete" %}" data-content="{% trans "If clicked, the occurrence will be deleted." %}"
                       data-url="{% url 'timeplace_delete' timeplace.pk %}" data-obj-name="{{ timeplace }}">
                        <i class="ui delete icon"></i>
                    </a>
                {% endif %}
                {% if perms.news.add_timeplace %}
                    <a class="make-col-blue explanation-popup"
                       data-title="{% trans "Duplicate" %}"
                       data-content="{% trans "If clicked, the occurrence is duplicated." %}"
                       href="{% url 'timeplace_duplicate' timeplace.pk %}">
                        <i class="ui copy icon"></i>
                    </a>
                {% endif %}
            </span>
        </div>
        <div class="description">
            {{ timeplace.place }}
        </div>
    </div>
</div>
