{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock title %}

{% block og_image %}{{ article.image.url }}{% endblock og_image %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "news/css/article.css" %}">
{% endblock head %}

{% block body %}
    <div class="article">
        <div id="sticky" class="ui text container basic segment">
            <img src="{{ article.image.url }}"
                 {% if article.contain %}style="object-fit: contain; height: auto;" {% endif %}>
            {% block rail %}
            {% endblock rail %}

            {% block event_cards %}
            {% endblock event_cards %}

            <h1>{{ article.title }}<span class="pub_date">{{ article.pub_date|date:"d.m.Y" }}</span></h1>
            <div>
                {% if article.content == "<p>x</p>" %}
                    <p>{{ article.clickbait }}</p>
                {% else %}
                    {% autoescape off %}
                        {{ article.content }}
                    {% endautoescape %}
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $('.ui.sticky').sticky({
            context: '#sticky'
        });
    </script>
{% endblock body %}
