{% extends 'news/news_base_edit.html' %}
{% load i18n %}


{% block title %}{% trans "Edit article" %}{% endblock title %}
{% block form_header %}{% trans "Edit article" %}{% endblock form_header %}

{% block extra_head %}
    {{ form.media }}
{% endblock extra_head %}

{% block pre_title_content %}
    <a href="{% url 'admin_article_list' %}">
        <i class="angle double left icon"></i>{% trans "Admin page for articles" %}
    </a>
{% endblock pre_title_content %}

{% block custom_fields %}
    <div class="field">
        <label>{% trans "Publication" %}
            <span data-content="{% trans "The article will be hidden until this date" %}.">
                <i class="make-col-yellow question circle icon"></i>
            </span>
        </label>
        {{ form.publication_time }}
    </div>
{% endblock custom_fields %}

{% block cancel_url %}{% url 'admin_article_list' %}{% endblock cancel_url %}
