{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock title %}

{% block og_title %}{{ article.title }}{% endblock og_title %}
{% block og_image %}{{ article.image.url }}{% endblock og_image %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "news/css/article.css" %}">
{% endblock head %}

{% block body %}
    <div class="article{% block event_classes %}{% endblock event_classes %}">
        <div id="sticky" class="ui text container basic segment">
            <img src="{{ article.image.url }}"
                 {% if article.contain %}style="object-fit: contain; height: auto;" {% endif %}>
            {% block rail %}
            {% endblock rail %}

            <h1>
                {{ article.title }}
                {% if article.hidden %}<i class="ui eye slash black icon"></i>{% endif %}
                <span class="pub_date">{{ article.pub_date|date:"d.m.Y" }}</span>
            </h1>
            <div>
                {% if article.content == "<p>x</p>" %}
                    <p>{{ article.clickbait }}</p>
                {% else %}
                    {% autoescape off %}
                        {{ article.content }}
                    {% endautoescape %}
                {% endif %}
            </div>
            <br><br>
            {% block event_accordian %}
            {% endblock event_accordian %}
        </div>
    </div>
    <script>
        $('.ui.sticky').sticky({
            context: '#sticky'
        });
    </script>
{% endblock body %}
