{% extends 'news/news_base_detail.html' %}
{% load static %}
{% load i18n %}
{% load datetime_tags %}


{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'news/css/article_detail.css' %}"/>
{% endblock extra_head %}

{% block admin_page %}
    {% if perms.news.change_article %}
        <div>
            <a class="ui make-bg-yellow button" href="{% url 'article_edit' news_obj.pk %}">
                <i class="edit icon"></i>{% trans "Edit" %}
            </a>
        </div>
    {% endif %}
{% endblock admin_page %}

{% block title_extra %}
    <span class="publication-time">{{ news_obj.publication_time|short_date }}</span>
{% endblock title_extra %}
