{% extends 'web/base.html' %}
{% load i18n %}


{% block body %}
    <div class="ui container">
        <h2>
            {% firstof timeplace.event.title event.title as event_title %}
            {% blocktrans with title=event_title %}Register for the event “{{ title }}”{% endblocktrans %}
        </h2>

        {% for error in form.non_field_errors %}
            <div class="ui error message">
                {{ error }}
            </div>
        {% endfor %}

        <form class="ui form" method="POST">
            {% csrf_token %}
            <div class="ui field">
                <label>{{ form.language.label }}</label>
                {{ form.language }}
            </div>
            <div class="ui field">
                <label>{{ form.comment.label }}</label>
                {{ form.comment }}
            </div>
            <button class="ui right floated blue button">{% trans "Register" %}</button>
        </form>
    </div>
{% endblock body %}
