{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "web/css/index.css" %}">
{% endblock head %}

{% block body %}
    <h1 class="ui text-centered make_col_blue header">
        {% trans "Upcoming events" %}
    </h1>
    {% if future %}
        <div class="ui items events" style="margin: 80px 0;">
            {% for event in future %}
                <div class="item">
                    <div class="ui small image">
                        <p class="ui yellow make_bg_yellow ribbon label">
                            {{ event.first_occurrence.start_time|date:"d M" }}
                            {% if event.number_of_occurrences > 1 %}
                                <br><span>+{{ event.number_of_occurrences|add:-1 }} {% if event.number_of_occurrences > 2 %}{% trans "dates" %}{% else %}{% trans "date" %}{% endif %}</span>
                            {% endif %}
                        </p>

                        {% thumbnail event.event.image "300" crop="center" as im %}
                            <img src="{{ im.url }}" class="clickable" href="{% url 'event' event.event.id %}"
                                 {% if event.event.contain %}style="object-fit: contain !important;" {% endif %}>
                        {% endthumbnail %}
                    </div>

                    <div class="content">
                        <div class="header">
                            <a href="{% url 'event' event.event.id %}">{{ event.event.title }}</a>
                        </div>
                        <div class="meta">
                            <span>{{ event.first_occurrence.place }}</span>
                        </div>
                        <div class="description">
                            <p>{{ event.event.clickbait }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="noevents">
            {% trans "No upcoming events" %}
        </div><br>
    {% endif %}


    <h1 class="ui text-centered make_col_blue header">
        {% trans "Previous events" %}
    </h1>
    {% if past %}
        <div class="ui items events" style="margin: 80px 0;">
            {% for event in past %}
                <div class="item">
                    <div class="ui small image">
                        <p class="ui yellow make_bg_yellow ribbon label">
                            {{ event.last_occurrence.start_time|date:"d M Y" }}
                            {% if event.number_of_occurrences > 1 %}
                                <br><span>+{{ event.number_of_occurrences|add:-1 }} {% if event.number_of_occurrences > 2 %}{% trans "dates" %}{% else %}{% trans "date" %}{% endif %}</span>
                            {% endif %}
                        </p>
                        {% thumbnail event.event.image "300" crop="center" as im %}
                            <img src="{{ im.url }}" class="clickable" href="{% url 'event' event.event.id %}"
                                 {% if event.event.contain %}style="object-fit: contain !important;" {% endif %}>
                        {% endthumbnail %}
                    </div>

                    <div class="content">
                        <div class="header">
                            <a href="{% url 'event' event.event.id %}">{{ event.event.title }}</a>
                        </div>
                        <div class="meta">
                            <span>{{ event.place }}</span>
                        </div>
                        <div class="description">
                            <p>{{ event.event.clickbait }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="noevents">
            {% trans "No previous events" %}
        </div>
        <br>
    {% endif %}
{% endblock body %}
