{% extends 'news/news_base_edit.html' %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Edit event" %}{% endblock title %}
{% block form_header %}{% trans "Edit event" %}{% endblock form_header %}

{% block extra_head %}
    {{ block.super }}
    <script src="{% static 'news/js/event_type.js' %}"></script>
{% endblock extra_head %}

{% block custom_fields %}
    <div class="two fields">
        <div class="ui field">
            <div class="grouped fields">
                <label>{{ form.event_type.label }}</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input id="repeating" type="radio" name="{{ form.event_type.name }}" value="{{ Event.Type.REPEATING }}"
                               {% if form.event_type.value == Event.Type.REPEATING %}checked{% endif %}/>
                        <label for="repeating">{% trans "Repeating" %}
                            <span data-content="
                                {% trans "Used for repeating events where the user is to register for one of several occurrences. Each occurrence will have its own registration." %}
                            ">
                                <i class="make-col-yellow question circle icon"></i>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui radio checkbox">
                        <input id="standalone" type="radio" name="{{ form.event_type.name }}" value="{{ Event.Type.STANDALONE }}"
                               {% if form.event_type.value == Event.Type.STANDALONE %}checked{% endif %}/>
                        <label for="standalone">{% trans "Standalone" %}
                            <span data-content="
                                {% trans "Used for events that happen once, e.g. a weekend-long happening. All occurrences of the event will have a common registration." %}
                            ">
                                <i class="make-col-yellow question circle icon"></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label>{{ form.number_of_tickets.label }}</label>
                {{ form.number_of_tickets }}
                <div id="info-message-tickets" class="ui blue pointing basic label">
                    {% trans "A value of zero indicates that no registration is required" %}
                </div>
            </div>
            <div id="info-message-tickets-repeating" class="ui red pointing basic label">
                {% trans "Only used for standalone events. For repeating events, tickets are administered per occurrence." %}
            </div>
        </div>
    </div>
{% endblock custom_fields %}

{% block cancel_url %}{% url 'admin_event_detail' form.instance.pk %}{% endblock cancel_url %}
