{% extends 'news/article.html' %}
{% load staticfiles %}
{% load i18n %}
{% load event_tags %}

{% block event_classes %} lalign{% endblock event_classes %}

{% block admin-page %}
    {% if perms.news.change_event %}
        <a href="{% url "admin-event" article.id %}" class="ui right floated yellow button">
            <i class="ui sticky note icon"></i>{% trans "Admin page" %}
        </a>
    {% endif %}
{% endblock admin-page %}

{% block rail %}
    <div class="ui right attached rail">
        {% if is_old %}
            <div class="ui info message">
                {% trans "You are viewing an old event" %}.
                {% if last_occurrence %}
                    {% trans "The last occurrence of this event was" %} {{ last_occurrence.start_date|date:"d.m.Y" }}
                {% endif %}
            </div>
        {% endif %}
        <div class="ui sticky rail-content">
            {% for event in timeplaces %}
                <div class="ui card">
                    <div class="content">
                        {% if event.start_date == event.end_date or not event.end_date %}
                            <p>
                                <i class="ui make_yellow wait icon"></i>
                                {{ event.start_date|date:"d. M" }}, {{ event.start_time|time:"H:i" }}
                                {% if event.end_time %}
                                    - {{ event.end_time|time:"H:i" }}
                                {% endif %}
                            </p>
                        {% else %}
                            <p>
                                <i class="ui make_yellow wait icon"></i>
                                {{ event.start_date|date:"d. M" }}, {{ event.start_time|time:"H:i" }}
                                - {{ event.end_date|date:"d. M" }}, {{ event.end_time|time:"H:i" }}</p>
                        {% endif %}
                        {% if event.place %}
                            {% if event.place_url %}
                                <p>
                                    <i class="ui make_yellow marker icon"></i>
                                    <a class="place" href="{{ event.place_url }}" target="_blank">{{ event.place }}</a>
                                </p>
                            {% else %}
                                <p>
                                    <i class="ui make_yellow marker icon"></i>
                                    {{ event.place }}
                                </p>
                            {% endif %}
                        {% endif %}

                        <a class="calendar-link" href="{% url 'timeplace-ical' event.id %}" target="_blank">
                            <i class="ui make_yellow large calendar outline icon"></i>
                        </a>
                    </div>
                    {% if event.event.repeating %}
                        {% if event.number_of_tickets %}
                            {% get_ticket event user as ticket %}
                            {% if ticket %}
                                <a href="{% url "ticket" pk=ticket.pk %}" class="ui green fluid button">
                                    {% trans "You are registered for this event" %}
                                </a>
                            {% elif event.number_of_registered_tickets < event.number_of_tickets %}
                                <div class="ui two buttons">
                                    <a class="ui make_bg_yellow black button"
                                       href="{% url "register-timeplace" event.id %}">
                                        {% trans "Registration" %}
                                    </a>
                                </div>
                            {% else %}
                                <div class="ui two buttons">
                                    <p class="ui disabled button">{% trans "Sold out" %}</p>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="ui two buttons">
                                <p class="ui disabled button">-</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            {% if article.standalone and article.timeplace_set.future %}
                <div class="ui card">
                    {% if article.number_of_tickets %}
                        {% get_ticket article user as ticket %}
                        {% if ticket %}
                            <a href="{% url "ticket" pk=ticket.pk %}" class="ui green fluid button">
                                {% trans "You are registered for this event" %}
                            </a>
                        {% elif article.number_of_registered_tickets < article.number_of_tickets %}
                            <a class="ui make_bg_yellow black button" href="{% url "register-event" article.id %}">
                                {% trans "Registration" %}
                            </a>
                        {% else %}
                            <p class="ui disabled button">
                                {% trans "Sold out" %}
                            </p>
                        {% endif %}
                    {% else %}
                        <p class="ui disabled button">
                            {% trans "No registration" %}
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock rail %}


{% block event_accordion %}
    <div class="accordion">
        {% if article.standalone %}
            {% if article.number_of_tickets %}
                {% get_ticket article user as ticket %}
                {% if ticket %}
                    <a href="{% url "ticket" pk=ticket.pk %}" class="ui green fluid button">
                        {% trans "You are registered for this event" %}
                    </a>
                {% elif article.number_of_registered_tickets < article.number_of_tickets %}
                    <a class="ui make_bg_yellow black fluid button" href="{% url "register-event" article.id %}"
                       target="_blank">
                        {% trans "Registration" %}
                    </a>
                {% else %}
                    <p class="ui disabled fluid button">
                        {% trans "Sold out" %}
                    </p>
                {% endif %}
            {% elif timeplaces %}
                <p class="ui disabled fluid button">
                    {% trans "No registration" %}
                </p>
            {% endif %}
        {% endif %}
    </div>
    <div class="ui styled accordion">
        {% for event in timeplaces %}
            <div class="title">
                <i class="dropdown icon"></i>
                {{ event.start_date|date:"d. M" }}
            </div>
            <div class="content">
                <div class="transition hidden">
                    {% if event.start_date == event.end_date or not event.end_date %}
                        <p>
                            <i class="ui make_yellow wait icon"></i>
                            {{ event.start_time|time:"H:i" }}
                            {% if event.end_time %}
                                - {{ event.end_time|time:"H:i" }}
                            {% endif %}
                        </p>
                    {% else %}
                        <p>
                            <i class="ui make_yellow wait icon"></i>
                            {{ event.start_date|date:"d. M" }}, {{ event.start_time|time:"H:i" }}
                            - {{ event.end_date|date:"d. M" }}, {{ event.end_time|time:"H:i" }}</p>
                    {% endif %}
                    {% if event.place %}
                        {% if event.place_url %}
                            <p>
                                <i class="ui make_yellow marker icon"></i>
                                <a class="place" href="{{ event.place_url }}" target="_blank">{{ event.place }}</a>
                            </p>
                        {% else %}
                            <p>
                                <i class="ui make_yellow marker icon"></i>
                                {{ event.place }}
                            </p>
                        {% endif %}
                    {% endif %}

                    <div class="attend">
                        <a class="calendar-link" href="{% url 'timeplace-ical' event.id %}" target="_blank">
                            <i class="ui make_yellow large calendar outline icon"></i>
                        </a>
                    </div>
                    {% if event.event.repeating %}
                        {% if event.number_of_tickets %}
                            {% get_ticket event user as ticket %}
                            {% if ticket %}
                                <a href="{% url "ticket" pk=ticket.pk %}" class="ui green fluid button">
                                    {% trans "You are registered for this event" %}
                                </a>
                            {% elif event.number_of_registered_tickets < event.number_of_tickets %}
                                <a class="ui yellow button" href="{% url "register-timeplace" event.id %}">
                                    {% trans "Registration" %}
                                </a>
                            {% else %}
                                <p class="ui disabled button">
                                    {% trans "Sold out" %}
                                </p>
                            {% endif %}
                        {% else %}
                            <p class="ui disabled button">
                                {% trans "No registration" %}
                            </p>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>
    <script>$('.ui.accordion').accordion('open', 0);</script>
{% endblock event_accordion %}
