{% extends 'news/article.html' %}
{% load staticfiles %}
{% load i18n %}

{% block event_classes %} lalign{% endblock event_classes %}

{% block rail %}
    <div class="ui right attached rail">
        <div class="ui sticky rail-content">
            {% for event in timeplaces %}
                <div class="ui card">
                    <div class="content">
                        {% if event.start_date == event.end_date or not event.end_date %}
                            <p>
                                <i class="ui wait icon"></i>
                                {{ event.start_date|date:"d. M" }}, {{ event.start_time|time:"H:i" }}
                                {% if event.end_time %}
                                    - {{ event.end_time|time:"H:i" }}
                                {% endif %}
                            </p>
                        {% else %}
                            <p>
                                <i class="ui wait icon"></i>
                                {{ event.start_date|date:"d. M" }}, {{ event.start_time|time:"H:i" }}
                                - {{ event.end_date|date:"d. M" }}, {{ event.end_time|time:"H:i" }}</p>
                        {% endif %}
                        {% if event.place %}
                            {% if event.place_url %}
                                <p>
                                    <i class="ui marker icon"></i>
                                    <a class="place" href="{{ event.place_url }}" target="_blank">{{ event.place }}</a>
                                </p>
                            {% else %}
                                <p>
                                    <i class="ui marker icon"></i>
                                    {{ event.place }}
                                </p>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if not event.event.multiday %}
                        {% if event.hoopla %}
                            <div class="ui two buttons">
                                <a class="ui make_bg_yellow black button" href="{{ event.hoopla }}"
                                   target="_blank">{% trans "Registration" %}</a>
                            </div>
                        {% else %}
                            <div class="ui two buttons">
                                <p class="ui disabled button">-</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            {% if article.multiday and article.hoopla %}
                <div class="ui card">
                    <a class="ui make_bg_yellow black button" href="{{ article.hoopla }}"
                       target="_blank">{% trans "Registration" %}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock rail %}


{% block event_accordion %}
    <div class="accordion">
        {% if article.multiday and article.hoopla %}
            <a class="ui make_bg_yellow black button" href="{{ article.hoopla }}"
               target="_blank">{% trans "Registration" %}</a>
        {% endif %}
    </div>
    <div class="ui styled accordion">
        {% for event in timeplaces %}
            <div class="title">
                <i class="dropdown icon"></i>
                {{ event.start_date|date:"d. M" }}
            </div>
            <div class="content">
                <div class="transition hidden">
                    {% if event.start_date == event.end_date or not event.end_date %}
                        <p>
                            <i class="ui wait icon"></i>
                            {{ event.start_time|time:"H:i" }}
                            {% if event.end_time %}
                                - {{ event.end_time|time:"H:i" }}
                            {% endif %}
                        </p>
                    {% else %}
                        <p>
                            <i class="ui wait icon"></i>
                            {{ event.start_date|date:"d. M" }}, {{ event.start_time|time:"H:i" }}
                            - {{ event.end_date|date:"d. M" }}, {{ event.end_time|time:"H:i" }}</p>
                    {% endif %}
                    {% if event.place %}
                        {% if event.place_url %}
                            <p>
                                <i class="ui marker icon"></i>
                                <a class="place" href="{{ event.place_url }}" target="_blank">{{ event.place }}</a>
                            </p>
                        {% else %}
                            <p>
                                <i class="ui marker icon"></i>
                                {{ event.place }}
                            </p>
                        {% endif %}
                    {% endif %}
                    {% if not event.event.multiday %}
                        {% if event.hoopla %}
                            <a class="ui yellow button attend" href="{{ event.hoopla }}" target="_blank">{% trans "Registration" %}</a>
                        {% else %}
                            <p class="make_col_ligray attend"><i>{% trans "No registrations" %}</i></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>$('.ui.accordion').accordion('open', 0);</script>
{% endblock event_accordion %}
