{% extends 'web/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Edit event" %}{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "web/calendar/calendar.min.css" %}">
    <script type="text/javascript" src="{% static "web/calendar/calendar.min.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "news/js/event_type.js" %}"></script>
{% endblock head %}

{% block body %}
    <h1 class="ui centered header">
        {% block form_header %}{% trans "Edit event" %}{% endblock form_header %}
    </h1>
    <form class="ui form text container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <label>{{ form.title.label }}</label>
            {{ form.title }}
        </div>
        <div class="field">
            <label>{{ form.content.label }}
                <span data-content="{% trans "The main description of the event" %}">
                    <i class="ui yellow question circle icon"></i>
                </span>
            </label>
            {{ form.content }}
        </div>
        <div class="field">
            <label>{{ form.clickbait.label }}
                <span data-content="{% trans "A short text designed to bait users into clicking the event" %}">
                    <i class="ui yellow question circle icon"></i>
                </span>
            </label>
            {{ form.clickbait }}
        </div>
        <div class="two fields">
            <div class="ui field">
                <div class="grouped fields">
                    <label>{{ form.event_type.label }}</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" id="repeating" name="{{ form.event_type.name }}" value="R"
                                   {% if form.event_type.value == "R" %}checked{% endif %}>
                            <label for="repeating">{% trans "Repeating" %}
                                <span data-content="{% trans "Used for repeating events where the user is to register for one of several occurrences. Each occurrence will have its own registration." %}">
                                    <i class="ui yellow question circle icon"></i>
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" id="standalone" name="{{ form.event_type.name }}" value="S"
                                   {% if form.event_type.value == "S" %}checked{% endif %}>
                            <label for="standalone">{% trans "Standalone" %}
                                <span data-content="{% trans "Used for events that happen once, e.g. a weekend-long happening. All occurrences of the event will have a common registration." %}">
                                    <i class="ui yellow question circle icon"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field">
                    <label>{{ form.number_of_tickets.label }}</label>
                    {{ form.number_of_tickets }}
                    <div id="info-message-tickets" class="ui blue pointing basic label">
                        {% trans "A value of zero indicates that no registration is required" %}
                    </div>
                </div>
                <div id="info-message-tickets-repeating" class="ui red pointing basic label">
                    {% trans "Only used for standalone events. For repeating events, tickets are administered per occurrence." %}
                </div>
            </div>
        </div>
        <div class="field">
            <label>{{ form.image.label }} <i style="font-weight: normal">({% trans "Preferred format is" %} 16:10)</i></label>
            {{ form.image }}
            <div class="ui checkbox" style="float: right; margin-top: 1em">
                {{ form.contain }}
                <label for="id_contain"><b>{{ form.contain.label }}</b></label>
            </div>
        </div>
        <h4>{% trans "Attributes" %}</h4>
        <div class="ui three fields">
            <div class="field">
                <div class="ui checkbox">
                    {{ form.featured }}
                    <label>{{ form.featured.label }}
                        <span data-content="{% trans "If selected, the event may be shown on the front page." %}">
                            <i class="ui yellow question circle icon"></i>
                        </span>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    {{ form.hidden }}
                    <label>{{ form.hidden.label }}
                        <span data-content="{% trans "If selected, the event will only be visible to admin users." %}">
                            <i class="ui yellow question circle icon"></i>
                        </span>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    {{ form.private }}
                    <label>{{ form.private.label }}
                        <span data-content="{% trans "If selected, the event will only be visible to members of MAKE NTNU" %}">
                            <i class="ui yellow question circle icon"></i>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <input class="ui yellow right floated submit button" type="submit" value="{% trans "Save" %}">
        <a href="{% block cancel-url %}{% url "admin-event" form.instance.id %}{% endblock %}" class="ui red right floated button">
            {% trans "Cancel" context "abort action" %}
        </a>
    </form>

    <script>
        $("span[data-content]").popup()
    </script>
{% endblock body %}
