{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'news/css/ticket_card.css' %}"/>
{% endblock head %}

{% block body %}
    <div class="ui container">
        {% if ticket.user == request.user or perms.news.view_eventticket %}
            <h1>{% trans "Ticket for" %} "{% firstof ticket.timeplace.event.title ticket.event.title %}"</h1>
            <div>
                <b>{% trans "Registered to" %}:</b> {{ ticket.name }},
                {{ ticket.email|urlize }}
            </div>

            {% include 'news/ticket_card.html' with ticket=ticket %}
        {% else %}
            <div class="ui error message">
                {% trans "This ticket is registered to another account. Please" %}
                <a href="{% url "login" %}?next={% url "ticket" pk=ticket.uuid %}">{% trans "log in" %}</a>
                {% trans "to the correct account to see your ticket." %}
            </div>
        {% endif %}
    </div>
{% endblock body %}
