{% load i18n %}
{% load datetime_tags %}


{# Linking `ticket.css` is required when including this template #}

<div class="ui ticket card">
    {% if not ticket.active %}
        <div class="ui red cancel label">
            {% trans "Canceled" %}
        </div>
    {% endif %}

    <div class="content">
        <div class="header">
            <a href="{% if ticket.event %}
                        {% url "event" ticket.event.pk %}
                    {% else %}
                        {% url "event" ticket.timeplace.event.pk %}
                    {% endif %}">
                {% firstof ticket.timeplace.event.title ticket.event.title %}
            </a>
        </div>
        <div class="description">
            {% if ticket.event %}
                <div class="ui relaxed list">
                    {% for timeplace in ticket.event.timeplaces.all %}
                        {% if not timeplace.hidden %}
                            <div class="ui item">
                                <div class="time-place content">
                                    <a class="calendar-button" href="{% url 'timeplace-ical' timeplace.pk %}" target="_blank">
                                        <i class="ui make-col-yellow large calendar plus outline icon"></i>
                                    </a>
                                    <div class="header">
                                        {{ timeplace.start_time|long_datetime_no_year }} &ndash; {{ timeplace.end_time|long_datetime_no_year }}
                                    </div>
                                    <div class="place description">
                                        <a href="{{ timeplace.place_url }}" target="_blank">
                                            {{ timeplace.place }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="time-place content">
                    <a class="calendar-button" href="{% url 'timeplace-ical' ticket.timeplace.pk %}" target="_blank">
                        <i class="ui make-col-yellow large calendar plus outline icon"></i>
                    </a>
                    <b>
                        {{ ticket.timeplace.start_time|long_datetime_no_year }} &ndash; {{ ticket.timeplace.end_time|long_datetime_no_year }}
                    </b>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="extra content">
        <div class="right floated">
            <b>{% trans "Ref #" %}:</b>
            <a href="{% url "ticket" pk=ticket.uuid %}">
                {{ ticket.uuid }}
            </a>
        </div>
    </div>
    {% if ticket.active %}
        {% if ticket.user == request.user or perms.news.cancel_ticket %}
            <a class="ui red bottom attached button"
               href="{% url "cancel-ticket" ticket.uuid %}?next={{ request.path }}">
                {% trans "Cancel ticket" %}
            </a>
        {% endif %}
    {% elif perms.news.cancel_ticket %}
        <a class="ui green bottom attached button" href="{% url "cancel-ticket" ticket.uuid %}?next={{ request.path }}">
            {% trans "Reactivate ticket" %}
        </a>
    {% endif %}
</div>
