{% extends "web/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "news/css/ticket.css" %}">
{% endblock %}

{% block body %}
    <div class="ui container">
        {% if object.user == request.user or perms.news.view_eventticket %}
            <h1>{% trans "Ticket for" %} "{{ object.event.title }}{{ object.timeplace.event.title }}"</h1>
            <div>
                <b>{% trans "Registered to" %}:</b> {{ object.name }},
                <a href="mailto:{{ object.email }}">{{ object.email }}</a>
            </div>

            {% include "news/ticket.html" with ticket=object %}
        {% else %}
            <div class="ui error message">
                {% trans "This ticket is registered to another account. Please" %}
                <a href="{% url "login" %}?next={% url "ticket" pk=object.uuid %}">{% trans "login" %}</a>
                {% trans "to the correct account to see your ticket." %}
            </div>
        {% endif %}
    </div>
{% endblock %}
