{% load i18n %}

<div class="ui card">
    <div class="content">
        {% if not ticket.active %}
            <div class="ui red right ribbon label">
                {% trans "Canceled" %}
            </div>
        {% endif %}
        <div class="header">{{ ticket.event.title }}{{ ticket.timeplace.event.title }}</div>
        <div class="description">
            {% if ticket.event %}
                <div class="ui list">
                    {% for timeplace in ticket.event.timeplace_set.all %}
                        {% if not timeplace.hidden %}
                            <div class="ui item">
                                <a class="calendar-link" href="{% url 'timeplace-ical' timeplace.id %}"
                                   target="_blank">
                                    <i class="ui make_col_yellow large calendar plus outline"></i>
                                </a>
                                <div class="content">
                                        <span class="header">
                                            {{ timeplace.start_date|date:"d. M" }} {{ timeplace.start_time|date:"H:i" }} -
                                            {% if timeplace.end_date %}{{ timeplace.end_date|date:"d. M" }}{% else %}
                                                {{ timeplace.start_date|date:"d. M" }}{% endif %}
                                            {{ timeplace.end_time|date:"H:i" }}
                                        </span>
                                    <span class="description">
                                            <a href="{{ timeplace.place_url }}">{{ timeplace.place }}</a>
                                        </span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <a class="calendar-link" href="{% url 'timeplace-ical' ticket.timeplace.id %}" target="_blank">
                    <i class="ui make_col_yellow large calendar plus outline icon"></i>
                </a>
                <b>
                    {{ ticket.timeplace.start_date|date:"d. M" }} {{ ticket.timeplace.start_time|date:"H:i" }} -
                    {% if ticket.timeplace.end_date %}{{ ticket.timeplace.end_date|date:"d. M" }}{% else %}
                        {{ ticket.timeplace.start_date|date:"d. M" }}{% endif %}
                    {{ ticket.timeplace.end_time|date:"H:i" }}
                </b>
            {% endif %}
        </div>
    </div>
    <div class="extra content">
        <div class="right floated" style="font-size: 0.8em;">
            {{ ticket.uuid }}
        </div>
    </div>
</div>