{% extends 'web/base.html' %}
{% load i18n %}
{% load datetime_tags %}


{% block body %}
    <div class="ui container">
        <h1>
            {% trans "Announcements" %}
            {% if perms.announcements.add_announcement %}
                <a href="{% url 'create_announcement' %}">
                    <i class="green plus icon"></i>
                </a>
            {% endif %}
        </h1>
        <div class="ui relaxed divided list">
            {% for announcement in announcements %}
                <div class="item">
                    <div class="content">
                        <div class="ui header">
                            {{ announcement.get_classification_display }}
                            {% if perms.announcements.change_announcement %}
                                <a href="{% url 'edit_announcement' announcement.pk %}">
                                    <i class="make-col-yellow pencil icon"></i>
                                </a>
                            {% endif %}
                            {% if perms.announcements.delete_announcement %}
                                <a class="delete-modal-button"
                                   data-url="{% url 'delete_announcement' announcement.pk %}"
                                   data-obj-name="{{ announcement }}">
                                    <i class="red trash icon"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="meta">
                            {% if announcement.site_wide %}
                                <i class="make-col-yellow globe icon"></i>{% trans "site-wide"|capfirst %}
                            {% else %}
                                <i class="make-col-yellow home icon"></i>{% trans "Front page" %}
                            {% endif %}
                        </div>
                        <div class="description">{{ announcement.content }}</div>
                        <div class="extra">
                            <span class="ui {% if announcement.is_shown %}green{% else %}red{% endif %} text">
                            {% if announcement.display_to %}
                                {{ announcement.display_from|short_datetime }} &ndash; {{ announcement.display_to|short_datetime }}
                            {% else %}
                                {% trans "From" %} {{ announcement.display_from|short_datetime }}
                            {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
