{% extends "web/base.html" %}
{% load static %}
{% load i18n %}


{% block body %}
    <div class="ui text container">
        <h1>
            <strong>{% trans "Committees" %}</strong>
        </h1>
    </div>
    <div class="committees ui divided items text container basic segment">
        {% for committee in committees %}
            <div class="item">
                <a class="image" href="{% url 'committee_detail' committee.id %}">
                    {% if committee.image %}
                        <img src="{{ committee.image.url }}"/>
                    {% endif %}
                </a>
                <div class="content">
                    <div class="header">
                        <a class="make_col_blue" href="{% url 'committee_detail' committee.id %}">
                            {{ committee.name|capfirst }}
                        </a>
                    </div>
                    <div class="meta">
                        <a href="mailto:{{ committee.email }}">
                            {{ committee.email }}
                        </a>
                    </div>
                    <div class="description">
                        {% if committee.clickbait %}
                            {{ committee.clickbait }}
                        {% else %}
                            {{ committee.description|safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
