{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load news_tags %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "news/css/admin_list.css" %}">
{% endblock head %}

{% block body %}
    <div style="height: 50px;"></div>
    <h1 class="ui text-centered make_col_yellow header">
        {% trans "Committees" %}
    </h1>
    <div class="ui text container">
        {% if committees %}
            <div class="ui divided list">
                {% for committee in committees %}
                    <div class="item">
                        <i class="ui icon">
                            {% if committee.image %}
                                <img class="inline square_36" src="{{ committee.image.url }}">
                            {% else %}
                                {# Use a transparent base64 encoded image #}
                                <img class="inline square_36"
                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII="
                                />
                            {% endif %}
                        </i>
                        <div class="content">
                            <div class="header">
                                <a class="inline-block make_col_blue header"
                                   href="{% url 'committee_detail' committee.id %}">{{ committee.name }}</a>
                                <span>
                                    &nbsp;&nbsp;
				    <a class="inline-block make_col_blue" href="{% url 'committee_edit' committee.id %}">
					<i class="ui edit icon"></i>
				    </a>
                                </span>
                            </div>
                            <div class="description">
                                {% if committee.clickbait %}
                                    {{ committee.clickbait }}
                                {% else %}
                                    {{ committee.description }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script>
        $('.ui.accordion').accordion();

        $('.toggle').click(function () {
            toggle_post($(this), $(this).attr('pk'), $(this).attr('model'), $(this).attr('toggle'));
        });

        function toggle_post(element, pk, model, toggle) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
            });
            $.ajax({
                type: "POST",
                url: `/news/admin/toggle/${model}/`,
                data: {
                    'pk': pk,
                    'toggle': toggle,
                },
                success: function (data) {
                    if (!data['color']) {
                        return;
                    }
                    if (toggle === 'private') {
                        if (data['color'] === 'yellow') {
                            element.attr('src', '{% static "web/img/m_yellow.svg" %}');
                        } else {
                            element.attr('src', '{% static "web/img/m_grey.svg" %}');
                        }
                    } else {
                        element.removeClass('yellow grey').addClass(data['color']);
                    }
                },
            });
        }
    </script>

    <div style="height: 50px;"></div>
{% endblock body %}
