{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{% block body %}
    <div class="ui text container">
        {% if committee.image %}
            <img class="ui centered aligned image" src="{{ committee.image.url }}"/>
        {% endif %}

        <h1>
            <strong>{{ committee.name|capfirst }}</strong>
        </h1>

        {% if committee.clickbait %}
            <p>{{ committee.clickbait }}</p>
            <br/>
        {% endif %}

        {{ committee.description|safe }}
    </div>
{% endblock body %}
