{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'groups/css/committee_admin.css' %}"/>
{% endblock extra_head %}

{% block body %}
    <h1 class="ui text-centered make-col-yellow header">
        {% translate "committees"|capfirst %}
    </h1>
    <div class="ui text container">
        {% if committees %}
            <div class="committee-list ui divided list">
                {% for committee in committees %}
                    <div class="item">

                        <a class="image" href="{% url 'committee_detail' committee.pk %}">
                            <img {% if committee.image %}
                                src="{{ committee.image.url }}"
                                alt="{% blocktranslate trimmed with name=committee.name %}{{ name }} committee image{% endblocktranslate %}"
                            {% else %}
                                {# Use a transparent Base64-encoded image #}
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII="
                                alt="{% translate "Placeholder image" %}"
                            {% endif %}
                            />
                        </a>
                        <div class="content">
                            <h3 class="committee-name">
                                <a class="make-col-blue" href="{% url 'committee_detail' committee.pk %}">
                                    {{ committee.name }}
                                </a>
                            </h3>
                            <div class="description">
                                {% firstof committee.clickbait committee.description %}
                            </div>
                        </div>
                        <a class="make-col-blue edit-button" href="{% url 'committee_edit' committee.pk %}">
                            <i class="edit icon"></i>
                        </a>

                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock body %}
