{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load news_tags %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "groups/css/committee_admin.css" %}"/>
{% endblock head %}

{% block body %}
    <h1 class="ui text-centered make-col-yellow header">
        {% trans "Committees" %}
    </h1>
    <div class="ui text container">
        {% if committees %}
            <div class="committee-list ui divided list">
                {% for committee in committees %}
                    <div class="item">

                        <a class="image" href="{% url 'committee_detail' committee.pk %}">
                            {% if committee.image %}
                                <img class="square_36" src="{{ committee.image.url }}">
                            {% else %}
                                {# Use a transparent base64 encoded image #}
                                <img class="square_36"
                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII="
                                />
                            {% endif %}
                        </a>
                        <div class="content">
                            <h3>
                                <a class="make-col-blue" href="{% url 'committee_detail' committee.pk %}">
                                    {{ committee.name }}
                                </a>
                            </h3>
                            <div class="description">
                                {% if committee.clickbait %}
                                    {{ committee.clickbait }}
                                {% else %}
                                    {{ committee.description }}
                                {% endif %}
                            </div>
                        </div>
                        <a class="make-col-blue edit-button" href="{% url 'committee_edit' committee.pk %}">
                            <i class="ui edit icon"></i>
                        </a>

                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script>
        $('.ui.accordion').accordion();

        $('.toggle').click(function () {
            toggle_post($(this), $(this).attr('pk'), $(this).attr('model'), $(this).attr('toggle'));
        });

        function toggle_post(element, pk, model, toggle) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
            });
            $.ajax({
                type: "POST",
                url: `/news/admin/toggle/${model}/`,
                data: {
                    'pk': pk,
                    'toggle': toggle,
                },
                success: function (data) {
                    if (!data['color']) {
                        return;
                    }
                    if (toggle === 'private') {
                        if (data['color'] === 'yellow') {
                            element.attr('src', '{% static "web/img/m_yellow.svg" %}');
                        } else {
                            element.attr('src', '{% static "web/img/m_grey.svg" %}');
                        }
                    } else {
                        element.removeClass('yellow grey').addClass(data['color']);
                    }
                },
            });
        }
    </script>
{% endblock body %}
