{% load i18n %}

<div class="ui search">
    {% include "django/forms/widgets/text.html" %}
    <div class="results" style="width: 100%;"></div>
</div>

<script>
    $('input[name={{ widget.name }}]').parent().search({
        searchDelay: 0,
        fullTextSearch: true,
        apiSettings: {
            // Search for points of interest at given campus
            url: 'https://api.mazemap.com/search/equery/?q={query}' +
                '&withpois=true&withbuilding=false&withtype=false&withcampus=false' +
                '&rows={{ widget.max_results }}' +
                '&campusid={{ widget.campus_id }}',

            // Convert mazemap search results to fit semantic ui search format
            onResponse: (mazemap_response => ({
                results: mazemap_response.result.map(item => ({
                    title: (
                        item.dispPoiNames[0] +
                        (item.dispBldNames[0] ? ", " + item.dispBldNames[0] : "")
                    ).replace(/<[/]?em>/g, ""),
                    description: (item.dispPoiNames[1] ? item.dispPoiNames[1] : "").replace(/<[/]?em>/g, ""),
                    id: item.poiId,
                }))
            })),
        },
        templates: {
            // Template for error messages. Default provided by semantic ui but with translations
            message: (type, message) => (
                `<div class="message empty">
                    <div class="header">
                        {% trans "No Results" %}
                    </div>
                    <div class="description">
                        {% trans "Your search returned no results"%}
                    </div>
                </div>`
            ),
        },
        // Autofill of mazemap-url if url_field is given
        {% if widget.url_field %}
            onSelect: function (result, response) {
                $("input[name={{ widget.url_field }}]").val(
                    `https://use.mazemap.com/?campusid={{ widget.campus_id }}&desttype=poi&dest=${result.id}`
                );
            },
        {% endif %}
    });
</script>
