{% load language_tags %}
{% load i18n %}


<div class="multilingual-input" {% include 'django/forms/widgets/attrs.html' %}>
    <div class="ui right floated pointing secondary menu inline">
        {% for subwidget in widget.subwidgets %}
            <a class="{% if forloop.first %}active{% endif %} item"
               data-tab="{{ subwidget.name }}{{ subwidget.attrs.language }}">
                <i class="{% get_semantic_flag_code_from_language_code subwidget.attrs.language %} flag"></i>
                {% get_local_name_from_language_code subwidget.attrs.language %}
            </a>
        {% endfor %}
    </div>

    {% for subwidget in widget.subwidgets %}
        <div class="ui tab {% if forloop.first %}active{% endif %}"
             data-tab="{{ subwidget.name }}{{ subwidget.attrs.language }}">
            {% render subwidget %}
        </div>
    {% endfor %}
</div>

<script>
    {# The following code is scoped within a block, to avoid variable name collisions when including this template multiple times. #}
    {# Also because CKEditor is set up first after the DOM has loaded. #}
    $(document).ready(function () {
        const $widget = $("#{{ widget.attrs.id }}");
        {# If there were a CSS predecessor element selector (there will be one in CSS4), this could have been solved with pure CSS #}
        const $widgetLabel = $widget.prev("label");
        $widgetLabel.toggleClass("multilingual-label", true);

        $widget.find(".menu .item").tab({
            onVisible: function (tabPath) {
                // Set the label's `for` attribute to the ID of the text input that has been made visible
                const subwidgetInputID = $widget.find(`.tab[data-tab=${tabPath}] > :first-child`).attr("id");
                $widgetLabel.attr("for", subwidgetInputID);
            },
        });

        function isFilled(element, value) {
            /**
             * Checks if the given element has content or not.
             *
             * @value Used to explicitly pass the value of the element, e.g. in the case of CKEditor
             */
            if (value !== undefined) {
                return value !== "";
            }
            return $(element).val() !== "";
        }

        function checkFilled(element, value) {
            /**
             * Checks if the given element has content or not. If there is no content (and value is empty), the
             * menu element connected to the current tab is tagged as not filled.
             *
             * @value Used to explicitly pass the value of the element, e.g. in the case of CKEditor
             */
            const tabValue = $(element).closest(".ui.tab").data("tab");
            $(`.menu > .item[data-tab=${tabValue}]`).toggleClass("language-not-filled", !isFilled(element, value));
        }

        const $tabs = $widget.find(".ui.tab");

        {% if widget.attrs.required %}
            $tabs.find("input, textarea").each(function () {
                checkFilled(this);
                $(this).keyup(function () {
                    checkFilled(this);
                }.bind(this));
            });

            $tabs.find(".django-ckeditor-widget").each(function () {
                $(this).find("textarea").each(function () {
                    CKEDITOR.instances[this.id].on("change", function () {
                        checkFilled(this.element.$, this.getData());
                    });
                });
            });

            $widget.closest("form").find("input[type=submit]").click(() => {
                // The constant check for the color of the tabs will set classes which we can use
                const $languagesNotFilled = $widget.find(".menu .item.language-not-filled");

                // Change to the first non-filled tab
                const $firstLanguageNotFilled = $languagesNotFilled.first();
                $firstLanguageNotFilled.tab("change tab", $firstLanguageNotFilled.data("tab"));

                // Remove old error messages, we are creating a new one if there are still errors
                $widget.find(".ui.red.pointing.label").remove();
                if ($languagesNotFilled.length) {
                    const $languageMissingTextIndicator = $('<div class="ui red pointing label">');
                    const languagePlural = $languagesNotFilled.length > 1 ? {% trans "languages" %} : {% trans "language" %};
                    $languageMissingTextIndicator.text(
                        `{% trans "The field is missing a value for" %} ${$languagesNotFilled.length} ${languagePlural}.`,
                    );
                    $widget.append($languageMissingTextIndicator);
                }
            });
        {% endif %}
    });
</script>
