<div class="ui {% if widget.attrs.disabled %}disabled{% endif %} search selection dropdown">
    <input id="{{ widget.name }}" type="hidden" name="{{ widget.name }}"
            {% for group_name, group_choices, group_index in widget.optgroups %}
                {% for option in group_choices %}
                    {% if option.selected %}
           value="{{ option.value }}"
                    {% endif %}
                {% endfor %}
            {% endfor %}
    />
    <i class="ui dropdown icon"></i>
    <div class="default text">{{ widget.attrs.prompt_text }}</div>
    <div class="menu">
        {% for group_name, group_choices, group_index in widget.optgroups %}
            {% for option in group_choices %}
                {% if option.value %}
                    <div class="item" data-value="{{ option.value }}">
                        {{ option.label }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
<script>
    {# The following code is scoped within a block, to avoid variable name collisions when including this template multiple times #}
    {
        const $input = $("#{{ widget.name }}");
        $input.parent().dropdown({
            fullTextSearch: true,
            forceSelection: {{ widget.attrs.force_selection|lower }}
        });

        {% if widget.attrs.required %}
            $input.closest("form").submit(() => {
                const isSelected = $input.val() !== "";
                $input.closest(".field").toggleClass("error", !isSelected);
                return isSelected;
            });
        {% endif %}
    }
</script>
