{% load i18n %}


<div id="{{ widget.attrs.id }}" class="file-upload ui action input">
    <input type="text" readonly value="{{ widget.value.name }}"/>
    <button id="{{ widget.attrs.id }}-button" class="ui right labeled icon make-bg-yellow button">
        {% trans "Upload image" %} <i class="upload icon"></i>
    </button>
    <input hidden type="file" name="{{ widget.name }}" accept="{{ widget.attrs.accept }}" formnovalidate data-required="{{ widget.attrs.required }}"/>
</div>
{% if widget.value %}
    <a href="{{ widget.value.url }}" target="_blank">{% trans "View old image" %}</a>
{% endif %}
<div id="{{ widget.attrs.id }}-error-message" class="ui red pointing label">
    {% trans "An image is required" %}
</div>
<div id="{{ widget.attrs.id }}-file-size-error-message" class="ui red pointing label">
    {% trans "The image is too big" %} (> {{ FILE_MAX_SIZE|filesizeformat }})
</div>

<script>
    $("#{{ widget.attrs.id }}-error-message").hide();
    $("#{{ widget.attrs.id }}-file-size-error-message").hide();

    // Check that the images are not too big
    $("#{{ widget.attrs.id }} input[type=file]").change((e) => {
        const files = e.target.files;
        const $errorMessage = $("#{{ widget.attrs.id }}-file-size-error-message");
        if (files.length > 0 && files[0].size > {{ FILE_MAX_SIZE }}) {
            e.target.value = "";
            $errorMessage.show();
        } else {
            $errorMessage.hide();
        }
    });

    $("#{{ widget.attrs.id }}-button, #{{ widget.attrs.id }} input[type=text]").click((e) => {
        const $button = $(e.target);
        const $fileInput = $button.parent().find("input[type=file]");
        $fileInput.change((e) => {
            // Set filename in visible readonly text field
            $button.parent().find("input[type=text]").val($(e.target).val().split("\\").pop().split("/").pop());
        });
        $fileInput.click();

        // Make sure that the button does not submit the form
        return false;
    }).closest("form").submit(() => {
        // Toggle an error message. Cannot use the builtin on required, as the readonly field cannot have required,
        // and the other field is hidden. Meaning that required will not work correctly
        const $input = $("#{{ widget.attrs.id }}");
        // Check the value of the text field that holds the filename, as if there is already an old file uploaded,
        // a new file is not required. In that case, the filename will be displayed in the readonly text field
        const hasFile = $input.find("input[type=text]").val() !== "";
        const required = $input.find("input[type=file]").data("required") === "True";
        const $errorMessage = $("#{{ widget.attrs.id }}-error-message");
        const isFilledIn = hasFile || !required;

        if (isFilledIn) {
            $errorMessage.hide();
        } else {
            $errorMessage.show();
        }

        return isFilledIn;
    });
</script>
