{% load i18n %}
{% load static %}
{% load datetime_tags %}


<div id="{{ widget.name }}" class="ui calendar">
    <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" placeholder="{% trans "date"|capfirst %}"
                {% if widget.value %}
               value="{{ widget.value }}"
                {% else %}
               value="{% localdate %}"
                {% endif %} name="{{ widget.name }}"
        />
    </div>
</div>

<script>
    $("#{{ widget.name }}").calendar({
        type: "date",
        firstDayOfWeek: 1,
        monthFirst: false,
        parser: {
            date: function (text, settings) {
                const year = parseInt(text.slice(0, 4));
                const month = parseInt(text.slice(5, 7)) - 1;
                const day = parseInt(text.slice(8, 10));
                return new Date(year, month, day);
            },
        },
        text: {
            {# The referenced constants are defined in `date_utils.js`, which is linked through the Django widget's media #}
            months: MONTH_TRANSLATIONS,
            monthsShort: SHORT_MONTH_TRANSLATIONS,
        },
    });

    $("form").submit(function () {
        const zeroPadDateElement = (val) => (val < 10) ? `0${val}` : val;
        const date = $("#{{ widget.name }}").calendar("get date");
        const year = date.getFullYear();
        const month = zeroPadDateElement(date.getMonth() + 1);
        const day = zeroPadDateElement(date.getDate());
        $("#{{ widget.name }} input").val(`${year}-${month}-${day}`);
    });
</script>
