<form class="set-language-form dont-prevent-leaving ui form" method="POST" action="{% url 'set_language' %}">
    {% csrf_token %}
    {% if CURRENT_LANGUAGE_CODE == "en" %}
        <input name="language" type="hidden" value="nb"/>
        <input name="next" type="hidden" value="{{ request.get_full_path|slice:"3:" }}"/> {# removes "/en" #}
    {% else %}
        <input name="language" type="hidden" value="en"/>
        <input name="next" type="hidden" value="/en{{ request.get_full_path }}"/>
    {% endif %}
    <button class="ui inverted make-col-ligrey button" type="submit">
        {% include 'web/forms/language_form_text.html' %}
        <i class="globe icon"></i>
    </button>
</form>
