.contentbox {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contentbox .edit.button {
    position: absolute;
    top: -50px;
    left: 0;
}

.contentbox img {
    max-width: 100%;
    /* Overrides images' `height` attribute (which is set by CKEditor by default),
       to prevent them from getting skewed when `max-width` takes effect */
    height: auto !important;
}
