
#lore-page {
    position: relative;
}

#lore-wiki-list {
    float: left;
    width: 20%;
    padding: 3rem 0 0 40px;
    position: relative;
}

.lore-article-links a {
    color: black;
}

ul.lore-article-links {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

.lore-article-links .selected-lore-article {
    font-weight: bold;
}

#lore-article {
    float: left;
    width: 80%;
    padding: 1.5rem 25% 0 5%;
    position: relative;
}

#lore-article p {
    text-align: justify;
}

#lore-article .lore-img {
    width: 35%;
    float: right;
    margin: 7px 0 15px 35px;
}

#lore-article .lore-container {
    margin-bottom: 50px;
}

#lore-article .right.floated {
    float: right;
}

#lore-wiki-list .plus.icon {
    font-size: 90%;
}

#lore-burger-icon + h2 .plus.icon {
    font-size: 80%;
}

#lore-article .trash.icon,
#lore-article .pencil.icon {
    font-size: 70%;
}

#burger-input {
    visibility: hidden;
}

#lore-burger-icon {
    visibility: hidden;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    margin-top:6px;
    background: linear-gradient(
        to bottom,
        black, black 20%,
        white 20%, white 40%,
        black 40%, black 60%,
        white 60%, white 80%,
        black 80%, black 100%
    );
    position: absolute;
    top: 3rem;
    left: 15%;
}

#lore-burger-icon + h2 {
    position: absolute;
    top: 3rem;
    left: 15%;
    margin: 0 0 0 30px;
    visibility: hidden;
}

#lore-burger-menu {
    visibility: hidden;
    position: absolute;
    left: 15%;
}

@media screen and (max-width: 992px) {

    #lore-burger-icon {
        visibility: visible;
    }

    #lore-burger-icon + h2 {
        visibility: visible;
    }

    #burger-input:not(:checked) ~ #lore-article {
        position: absolute;
        top: 6rem;
    }

    #burger-input:checked + #lore-burger-icon {
        clip-path: polygon(15% 0%, 0% 15%, 35% 50%, 0% 85%, 15% 100%, 50% 65%, 85% 100%, 100% 85%, 65% 50%, 100% 15%, 85% 0%, 50% 35%);
        background: black;
    }

    #burger-input:checked + #lore-burger-icon ~ #lore-burger-menu {
        visibility: visible;
        top: 6rem;
    }

    #lore-wiki-list {
        visibility: hidden;
        float: none;
        width: 100%;
        padding: 2rem 15% 0 15%;
    }

    #lore-article {
        float: none;
        width: 100%;
        padding: 3rem 15% 2rem 15%;
        position: relative;
    }

    #lore-article .lore-img {
        width: 50%;
        float: right;
        margin: 7px 0 15px 35px;
    }
}

@media screen and (max-width: 450px) {

    #lore-article {
        float: none;
        width: 100%;
        padding: 3rem 15% 2rem 15%;
        position: relative;
    }

    #lore-article .lore-img {
        float: none;
        width: 100%;
        margin: 10px 0 10px 0;
    }
}
