.secret-list .item .content {
    display: grid !important; /* Overrides Fomantic-UI */
}

.secret-list .item .content > .header {
    margin-bottom: 0.5em !important; /* Overrides Fomantic-UI */
}

.secret-list .item .content > .meta {
    margin: 0 !important; /* Overrides Fomantic-UI */
}

.secret-list .item .content .permission-notice .ui.list {
    margin: 0.5em;
}

.secret-list .item .content .secret.description {
    margin-top: 0;
}


/* Desktop layout */
@media screen and (min-width: 992px) {
    .secret-list .item .split.content {
        /* `31em` just about covers the width of the permission notice description (in both English and Norwegian) */
        grid-template-columns: auto 31em;
    }

    .secret-list .item .split.content > * {
        grid-column: 1;
    }

    .secret-list .item .split.content > .permission-notice {
        grid-column: 2;
        grid-row: 1/4;
    }

    .secret-list .item .split.content > .control-buttons {
        align-self: end;
    }

    .secret-list .item .split.content > .secret.description {
        grid-column: 1/3;
    }
}


/* Mobile layout */
@media screen and (max-width: 767.98px) {
    .secret-list .item .content .secret.description {
        margin-bottom: -1em;
    }
}
