{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{% translate "Statistics" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'makerspace/css/statistics.css' %}"/>
    <script defer src="{% static 'makerspace/js/statistics_charts.js' %}"></script>
{% endblock extra_head %}

{% block body%}
<div class="ui container">
    <h1 class="ui text-centered make-col-blue header"> {% translate "Statistics" %}</h1>
    <div class="ui column cards centered">
        <div class="card">
            <div class="content">
                <div class="header">{% translate "Total reservation time for each 3D printer" %}
                    <span class="popup-trigger" data-content="{% translate "This includes 3D printers, Raise3D printers and SLA 3D printers" %}">
                        <i class="make-col-yellow question circle icon"></i>
                    </span>
                </div>
                {{ span_of_printer_reservations|json_script:"span_of_printer_reservations" }}
                <canvas id="span_printer_reservations" width="800" height="550">
                </canvas>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header"> {% translate "Number of reservations pr. 3D-printer" %}
                    <span class="popup-trigger" data-content="{% translate "This includes 3D printers, Raise3D printers and SLA 3D printers" %}">
                        <i class="make-col-yellow question circle icon"></i>
                    </span>
                </div>
                {{ number_of_printer_reservations|json_script:"number_of_printer_reservations" }}
                <canvas id="printer_reservations" width="800" height="550"></canvas>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">{% translate "Total reservation time for each sewing machine" %} </div>
                    {{ span_of_sewing_machine_reservations|json_script:"span_of_sewing_machine_reservations" }}
                <canvas id= "span_sewing_machine_reservations" width="800" height="550"></canvas>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header"> {% translate "Number of reservations pr. sewing machine"%} </div>
                {{ number_of_sewing_machine_reservations|json_script:"number_of_sewing_machine_reservations" }}
                <canvas id= "sewing_machine_reservations" width="800" height="550"></canvas>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">{% translate "Longest printer reservations"%}
                    <span class="popup-trigger" data-content="{% translate "This includes 3D printers, Raise3D printers and SLA 3D printers" %}">
                        <i class="make-col-yellow question circle icon"></i>
                    </span>
                </div>
                {{ longest_printer_reservations|json_script:"longest_printer_reservations" }}
                <canvas id="3_longest_printer_reservations" width="800" height="550"></canvas>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">{% translate "Traffic" %}</div>
                {{ time|json_script:"time" }}
                <canvas id="timespan" width="800" height="550"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}
