{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load css_tags %}



{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "makerspace/css/admin_equipment.css" %}"/>
{% endblock head %}

{% block body %}
    <h1 class="ui text-centered make-col-yellow header">
        {% trans "Equipment" %}
        <a href="{% url 'makerspace-equipment-create' %}" title="{% trans "Add new equipment" %}">
            <i class="ui add icon green"></i>
        </a>
    </h1>
    <div class="ui text container">
        {% if equipment_list %}
            <div class="equipment-list ui divided list">
                {% for equipment in equipment_list %}
                    <div class="item">

                        <a class="image" href="{% url 'makerspace-equipment-edit' equipment.id %}">
                            <img {% thumbnail equipment.image "36x36" crop="center" as image_thumb %}
                                src="{{ image_thumb.url }}"
                            {% empty %}
                                src="{{ equipment.image.url }}"
                            {% endthumbnail %}
                                style="{% img_square 36 %}"
                                alt="{% blocktrans trimmed with equipment=equipment.title %}Image of {{ equipment }}{% endblocktrans %}"
                            />
                        </a>
                        <h3>
                            <a class="make-col-blue" href="{% url 'makerspace-equipment-edit' equipment.id %}">
                                {{ equipment.title }}
                            </a>
                        </h3>
                        {% if perms.makerspace.delete_equipment %}
                            <a class="delete confirm" href="{% url 'makerspace-equipment-delete' equipment.id %}">
                                <i class="ui large delete icon red"></i>
                            </a>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock body %}
