{% extends "web/base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Edit equipment" %}{% endblock title %}

{% block head %}
    <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock head %}

{% block body %}
    <h1 class="ui centered header">
        {% block form_header %}{% trans "Edit equipment" %}{% endblock form_header %}
    </h1>

    <form class="ui form text container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="field">
                {% for error in field.errors %}
                    <div class="ui negative small message">
                        <i class="close icon"></i>
                        {{ error }}
                    </div>
                {% endfor %}

                <label>
                    {{ field.label }}
                    {% if field.help_text %}
                        <span data-content="{{ field.help_text }}">
                            <i class="ui make-col-yellow question circle icon"></i>
                        </span>
                    {% endif %}
                </label>
                {{ field }}
            </div>
        {% endfor %}

        <input class="ui right floated make-bg-yellow submit button" type="submit" value="{% trans "Save" %}"/>
        <a class="ui right floated red button" href="{% url "makerspace-equipment-admin" %}">
            {% trans "Cancel" context "abort action" %}
        </a>
    </form>
{% endblock body %}

{% block scripts %}
    <script>
        $(".message .close").click(function () {
            $(this)
                .closest(".message")
                .transition("fade");
        });

        $("span[data-content]").popup();
    </script>
{% endblock scripts %}
