{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load css_tags %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'makerspace/css/equipment_list.css' %}"/>
{% endblock extra_head %}

{% block body %}
    <h1 class="ui text-centered make-col-blue header">
        {% trans "Some of the available equipment<br/>at Makerverkstedet" %}
    </h1>
    <div class="ui container">

        <div class="accordion-and-list">
            <div class="ui styled accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    {% translate "Contents" %}
                </div>
                <div class="content">
                    <ul class="ui list">
                        {% for equipment in equipment_list %}
                            <li>
                                <a href="#equipment-{{ equipment.pk }}">
                                    {{ equipment.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="equipment-list">
                {% for equipment in equipment_list %}
                    <a id="equipment-{{ equipment.pk }}" class="equipment-img-container"
                       href="{% url 'makerspace_equipment_detail' equipment.pk %}">
                        <img {% thumbnail equipment.image "600x600" crop="center" as image_thumb %}
                            src="{{ image_thumb.url }}"
                        {% empty %}
                            src="{{ equipment.image.url }}"
                        {% endthumbnail %}
                            alt="{% blocktrans with equipment=equipment.title %}Image of {{ equipment }}{% endblocktrans %}"
                        />
                    </a>

                    <div class="word-breaking hyphenated equipment-text
                            {% if forloop.first %}first{% endif %}
                            {% if forloop.last %}last{% endif %}">
                        {% if forloop.first or forloop.last %}
                            <img class="text-border-corner top left" src="{% static 'web/img/top_left.svg' %}" alt=""/>
                            <img class="text-border-corner top right" src="{% static 'web/img/top_right.svg' %}" alt=""/>
                            <img class="text-border-corner bottom left" src="{% static 'web/img/bottom_left.svg' %}" alt=""/>
                            <img class="text-border-corner bottom right" src="{% static 'web/img/bottom_right.svg' %}" alt=""/>
                        {% endif %}
                        <h1 class="equipment-title">
                            <a class="make-col-yellow" href="{% url 'makerspace_equipment_detail' equipment.pk %}">{{ equipment.title }}</a>
                        </h1>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock body %}

{% block extra_scripts %}
    <script>
        $(".ui.accordion").accordion();
    </script>
{% endblock extra_scripts %}
