{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load permission_tags %}


{% block title %}{{ equipment.title }}{% endblock title %}

{% block og_title %}{{ title.title }}{% endblock og_title %}
{% block og_image %}{{ title.image.url }}{% endblock og_image %}

{% block body %}
    <div class="equipment">
        <div class="ui container">
            <div class="ui text container basic segment">
                <img {% thumbnail equipment.image "400" crop="center" as image_thumb %}
                    src="{{ image_thumb.url }}"
                {% empty %}
                    src="{{ equipment.image.url }}"
                {% endthumbnail %}
                    class="ui image center" style="width: 400px;"
                    alt="{% blocktrans trimmed with equipment=equipment.title %}Image of {{ equipment }}{% endblocktrans %}"
                />

                {% block admin-page %}
                    {% if user|has_any_equipment_permissions %}
                        <br/>
                        <a class="ui yellow button" href="{% url "makerspace-equipment-edit" equipment.id %}">
                            <i class="ui edit icon"></i>{% trans "Edit" %}
                        </a>
                    {% endif %}
                {% endblock admin-page %}

                <h1>{{ equipment.title }}</h1>
                <div>
                    {{ equipment.description|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
