{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load permission_tags %}
{% load uri_tags %}


{% block title %}{{ equipment.title }}{% endblock title %}

{% block og_title %}{{ equipment.title }}{% endblock og_title %}
{% block og_image_absolute_uri %}{% get_absolute_uri_for_path request equipment.image.url %}{% endblock og_image_absolute_uri %}
{% block og_image_alt %}
    {% blocktrans trimmed with equipment=equipment.title %}Image of {{ equipment }}{% endblocktrans %}
{% endblock og_image_alt %}

{% block body %}
    <div class="equipment">
        <div class="ui container">
            <div class="ui text container basic segment">
                <img {% thumbnail equipment.image "400" crop="center" as image_thumb %}
                    src="{{ image_thumb.url }}"
                {% empty %}
                    src="{{ equipment.image.url }}"
                {% endthumbnail %}
                    class="ui image center" style="width: 400px;"
                    alt="{% blocktrans trimmed with equipment=equipment.title %}Image of {{ equipment }}{% endblocktrans %}"
                />

                {% if user|has_any_equipment_permissions %}
                    <br/>
                    <a class="ui make-bg-yellow button" href="{% url 'makerspace_equipment_edit' equipment.pk %}">
                        <i class="ui edit icon"></i>{% trans "Edit" %}
                    </a>
                {% endif %}

                <h1>{{ equipment.title }}</h1>
                <div>
                    {{ equipment.description|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
