{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load css_tags %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "makerspace/css/equipment.css" %}"/>
    <script src="{% static "web/js/image_link.js" %}"></script>
{% endblock head %}

{% block body %}
    <h1 class="ui text-centered make_col_blue header">
        {% trans "Available equipment at Makerverkstedet" %}
    </h1>
    <div class="ui container">
        <div class="equipment-list">
            {% for equipment in equipment_list %}

                {# For the images #}
                <a class="equipment-img" href="{% url 'makerspace-equipment' equipment.id %}">
                    <img {% thumbnail equipment.image "250x250" crop="center" as image_thumb %}
                        src="{{ image_thumb.url }}"
                    {% empty %}
                        src="{{ equipment.image.url }}"
                    {% endthumbnail %}
                        style="{% img_square 250 %}"
                        alt="{% blocktrans trimmed with equipment=equipment.title %}Image of {{ equipment }}{% endblocktrans %}"
                    />
                </a>

                {# For the text #}
                <div class="equipment-text
                            {% if forloop.first %}equipment-first{% endif %}
                            {% if forloop.last %}equipment-last{% endif %}">
                    <img class="txtborder tl" src="{% static "web/img/top_left.svg" %}" alt=""/>
                    <img class="txtborder tr" src="{% static "web/img/top_right.svg" %}" alt=""/>
                    <img class="txtborder bl" src="{% static "web/img/bottom_left.svg" %}" alt=""/>
                    <img class="txtborder br" src="{% static "web/img/bottom_right.svg" %}" alt=""/>
                    <h2 class="equipment-title">
                        <a class="make_col_yellow" href="{% url 'makerspace-equipment' equipment.id %}">{{ equipment.title }}</a>
                    </h2>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock body %}
