{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load permission_tags %}
{% load uri_tags %}


{% block title %}{{ equipment.title }}{% endblock title %}

{% block og_title %}{{ equipment.title }}{% endblock og_title %}
{% block og_image_absolute_uri %}{% get_absolute_uri_for_path request equipment.image.url %}{% endblock og_image_absolute_uri %}
{% block og_image_alt %}
    {% blocktrans trimmed with equipment=equipment.title %}Image of {{ equipment }}{% endblocktrans %}
{% endblock og_image_alt %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'makerspace/css/equipment_detail.css' %}"/>
    {% include 'ckeditor/mathjax_render.html' %}
{% endblock extra_head %}

{% block body %}
    <div class="equipment">
        <div class="ui container">
            <div class="ui text container basic segment">
                <div class="equipment-image-container ui container">
                    <img class="ui centered image" src="{{ equipment.image.url }}"
                         alt="{% blocktrans with equipment=equipment.title %}Image of {{ equipment }}{% endblocktrans %}"
                    />
                </div>

                {% if user|has_any_permissions_for:'Equipment' %}
                    <br/>
                    <a class="ui make-bg-yellow button" href="{% url 'makerspace_equipment_edit' equipment.pk %}">
                        <i class="edit icon"></i>{% trans "Edit" %}
                    </a>
                {% endif %}

                <h1>{{ equipment.title }}</h1>
                <div class="equipment-description">
                    {{ equipment.description|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
