{% extends 'news/news_base_detail.html' %}
{% load static %}
{% load i18n %}
{% load datetime_tags %}


{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'news/css/event/detail/event_detail.css' %}"/>
{% endblock extra_head %}

{% block extra_classes %}left-align{% endblock extra_classes %}

{% block admin_page %}
    {% if perms.news.change_event %}
        <div>
            <a class="ui make-bg-yellow button" href="{% url 'admin_event_detail' news_obj.pk %}">
                <i class="sticky note icon"></i>{% translate "Admin page" %}
            </a>
            {% if news_obj.number_of_tickets > 0 and perms.news.change_event %}
                <a class="grey link text" href="{% url 'event_ticket_list' news_obj.pk %}">
                    <i class="ticket icon"></i>
                    {{ news_obj.number_of_active_tickets }} / {{ news_obj.number_of_tickets }}
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock admin_page %}


{% block rail %}
    <div class="time-places ui right attached rail">
        {% include 'news/event/detail/event_detail_old_message.html' %}
        <div class="ui sticky rail-content">
            {% for occurrence in timeplaces %}
                {% include 'news/event/detail/event_detail_occurrence_card.html' %}
            {% endfor %}
            {% include 'news/event/detail/event_detail_standalone_registration_button.html' with extra_classes="ui card" %}
        </div>
    </div>
{% endblock rail %}


{% block accordion %}
    <div class="time-places accordion">
        <div class="accordion-padding"></div>

        {% include 'news/event/detail/event_detail_old_message.html' %}
        {% include 'news/event/detail/event_detail_standalone_registration_button.html' with extra_button_classes="fluid" %}

        <div class="ui styled accordion">
            {% for occurrence in timeplaces %}
                <div class="title">
                    <i class="dropdown icon"></i>
                    {{ occurrence.start_time|year_wise_long_date }}
                </div>
                <div class="content">
                    <div class="transition hidden">
                        {% include 'news/event/detail/event_detail_occurrence_card.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock accordion %}


{% block extra_scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            // Start with the accordion element at index 0 open
            $(".ui.accordion").accordion("open", 0);

            {% comment %}
                Fomantic-UI sticky does not adjust the height of the context element when the sticky part is taller. In the
                cases where this needs to be done, we must make sure that the change is performed after Fomantic-UI has
                performed their own changes. Hopefully this will be fixed at some point in Fomantic-UI, and we can remove
                this stopgap solution. In most cases, the solution will not be needed, as the average number of occurrences
                is low enough that the event content is taller than the sticky part.
            {% endcomment %}
            setTimeout(() => {
                const $sticky = $(".ui.sticky.rail-content");
                const $context = $("#sticky");

                function fixHeight() {
                    // If the height of the sticky is greater than the context (the event content), then increase the
                    // height of the event to be equal (that is, the sticky is simply a single scroll).
                    if ($sticky.height() > $context.height())
                        $context.height(`${$sticky.height()}px`);
                }

                // The sticky code resets the height on each resizing of the window. Thus, the change must be performed
                // each time the window is resized. To catch any other cases as well, we use the "onReposition" action.
                $sticky.sticky("setting", "onReposition", () => {
                    // Use a timeout of 50 to make sure that the Fomantic-UI code is finished
                    setTimeout(fixHeight, 50);
                });
                fixHeight();
            }, 50); // use a timeout of 50 to make sure that the Fomantic-UI code is finished
        });
    </script>
{% endblock extra_scripts %}
