{% extends 'web/base.html' %}
{% load i18n %}


{% block title %}{% translate "Articles" %} | {% translate "Admin panel" %}{% endblock title %}

{% block body %}
    <div class="ui container">
        <h1 class="ui text-centered">
            {% trans "Articles" %}
            <a href="{% url 'article_create' %}">
                <i class="green add icon"></i>
            </a>
        </h1>

        <div class="ui three doubling stackable cards">
            {% for article in articles %}
                <div class="ui card">
                    <a class="image" href="{{ article.get_absolute_url }}">
                        <img src="{{ article.image.url }}"
                             alt="{% blocktrans trimmed with title=article.title description=article.image_description %}
                                 View the article “{{ title }}”; image description: {{ description }}
                             {% endblocktrans %}"
                        />
                    </a>
                    <div class="content">
                        <a class="word-breaking hyphenated header" href="{{ article.get_absolute_url }}">
                            {{ article.title }}
                        </a>
                        <div class="meta">
                            {% if article.featured %}
                                <div class="ui green mini label">
                                    {% trans "featured"|capfirst %}
                                </div>
                            {% endif %}

                            {% if article.hidden %}
                                <div class="ui red mini label">
                                    {% trans "hidden"|capfirst %}
                                </div>
                            {% endif %}

                            {% if article.private %}
                                <div class="ui make-bg-yellow mini label">
                                    {% trans "internal"|capfirst %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="word-breaking hyphenated description">{{ article.clickbait }}</div>
                    </div>
                    <div class="ui two bottom attached buttons">
                        <a class="ui make-bg-yellow button" href="{% url 'article_edit' article.pk %}">
                            <i class="edit icon"></i>{% trans "Edit" %}
                        </a>
                        {% if perms.news.delete_article %}
                            <a class="delete-modal-button ui red button"
                               data-url="{% url 'article_delete' article.pk %}"
                               data-obj-name="{{ article }}">
                                <i class="trash icon"></i>{% trans "Delete" %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
