{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Edit Category" %}{% endblock title %}

{% block extra_head %}
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock extra_head %}

{% block body %}
    <h1 class="ui centered header">
        {% block form_header %}{% trans "Edit Category" %}{% endblock form_header %}
    </h1>
    <form class="ui form text container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="field">
            <label>{{ form.name.label }}</label>
            {{ form.name }}
        </div>

        <input class="ui make-bg-yellow right floated submit button" type="submit" value="{% trans "Save" %}"/>
        <a class="ui right floated red button" href="{% url 'admin_category_list' %}">
            {% trans "Cancel" context "abort action" %}
        </a>
    </form>
{% endblock body %}
