{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}{% trans "Frequently Asked Questions" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'faq/css/faq_list.css' %}"/>
    {% include 'ckeditor/mathjax_render.html' %}
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        <h1 id="page-title" class="ui text-centered make-col-blue header">
            {% trans "Frequently Asked Questions" %}
        </h1>
        <div class="categories ui styled fluid accordion">
            {% for category in categories %}
                <div class="title">
                    <div class="ui header">
                        <i class="dropdown icon"></i>
                        {{ category.name }}
                    </div>
                </div>
                <div class="content">
                    {# The content of the outer accordion contains another accordion. It makes the accordion nested #}
                    <div class="questions styled fluid accordion">
                        {% for question in category.existing_questions %}
                            <div class="title">
                                <div class="ui make-col-blue header">
                                    <i class="dropdown icon"></i>
                                    {{ question.title }}
                                </div>
                            </div>
                            <div class="content">
                                {% if perms.faq.change_question %}
                                    <a class="ui make-bg-yellow button" href="{% url 'question_update' question.pk %}">
                                        <i class="edit icon"></i>{% trans "Edit" %}
                                    </a>
                                {% endif %}
                                {{ question.answer|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock body %}

{% block extra_scripts %}
    <script>
        $(".ui.accordion").accordion();
    </script>
{% endblock extra_scripts %}
