{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'faq/css/faq_list.css' %}"/>
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        <h1 id="page-title" class="ui text-centered make-col-blue header">
            {% trans "Frequently Asked Questions" %}
        </h1>
        <div class="ui styled fluid accordion">
            {% for category in categories %}
                <div class="title">
                    <div class="ui header">
                        <i class="dropdown icon"></i>
                        {{ category.name }}
                    </div>
                </div>
                <div class="content">
                    {# The content of the outer accordion contains another accordion. It makes the accordion nested #}
                    <div class="styled fluid accordion">
                        {% for question in category.questions.all %}
                            <div class="title">
                                <div class="ui make-col-blue header">
                                    <i class="dropdown icon"></i>
                                    {{ question.title }}
                                </div>
                            </div>
                            <div class="content">
                                {{ question.answer|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock body %}

{% block extra_scripts %}
    <script>
        $(".ui.accordion").accordion();
    </script>
{% endblock extra_scripts %}
