{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load permission_tags %}


{% block body %}
    <div class="ui container">
        <h1>{% trans "FAQ panel" %}</h1>
        <div class="ui four doubling stackable cards">
            <div class="ui yellow card">
                <a href="{% url "faq-question-list" %}" class="content">
                    <div class="center aligned header">
                        <i class="ui grey question circle outline icon"></i>{% trans "Questions" %}
                    </div>
                    <div class="description">
                        {% trans "Here you can create, edit and delete questions" %}.
                    </div>
                </a>
            </div>
            <div class="ui yellow card">
                <a href="{% url "faq-category-list" %}" class="content">
                    <div class="center aligned header">
                        <i class="ui grey newspaper outline icon"></i>{% trans "Categories" %}
                    </div>
                    <div class="description">
                        {% trans "Here you can create, edit and delete categories" %}.
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock body %}
