{% extends 'web/base.html' %}
{% load i18n %}


{% block body %}
    <div class="ui container">

        <h1>
            {% trans "Questions" %}
            {% if perms.faq.add_question %}
                <a href="{% url "faq-create" %}">
                    <i class="green plus icon"></i>
                </a>
            {% endif %}
        </h1>
        <div class="ui relaxed divided list">
            {% for question in questions %}
                <div class="item">
                    <div class="content">
                        <div class="ui header">
                            {{ question.title }}
                            {% if perms.faq.change_question %}
                                <a href="{% url "faq-edit" pk=question.pk %}">
                                    <i class="make-col-yellow pencil icon"></i>
                                </a>
                            {% endif %}

                            {% if perms.faq.delete_question %}
                                <a class="delete-modal-button"
                                   data-url="{% url 'faq-question-delete' question.pk %}"
                                   data-obj-name="{{ question }}">
                                    <i class="large red delete icon"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="description">{{ question.answer|safe }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock body %}
