{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}


{% block head %}
    {{ block.super }}
{% endblock %}


{% block body %}
    <div class="ui styled accordion">
        {% for category in categories %}
            <div class="title">
                   <i class="dropdown icon"></i>
                    <p>
                        {{ category.name }}
                    </p>
                </div>
                <div class="content">
                    <div class = "styled accordion">
                        {% for question in category.questions.all %}
                            <div class="active title">
                               <i class="dropdown icon"></i>
                                    {{ question.title }}
                            </div>
                            <div class="content">
                                    {{ question.answer|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

        {% endfor %}
    </div>
    <script>
        $('.ui.accordion').accordion();
    </script>
{% endblock body %}