{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "faq/css/faqlist.css" %}"/>
{% endblock head %}


{% block body %}
    <div class="ui container">
        <h1 class="ui text-centered make_col_blue header" id="pagetitle">
            {% trans "Frequently Asked Questions" %}
        </h1>
        <div class="ui styled accordion" id="outeraccordion">
            {% for category in categories %}
                <div class="active title" id="outeraccordionTitle">
                       <i class="dropdown icon"></i>
                        <p>
                            {{ category.name }}
                        </p>
                </div>
                <div class="content">
                {# The content of the outer accordion contains another accordion. It makes the accordion nested #}
                    <div class ="styled accordion">
                        {% for question in category.questions.all %}
                            <div class="active title" id="innerTitle">
                               <i class="dropdown icon"></i>
                                    <div class="make_col_blue">{{ question.title }}</div>
                            </div>
                            <div class="content">
                                    {{ question.answer|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <script>
        $('.ui.accordion').accordion();
    </script>
{% endblock body %}