{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Edit Question" %}{% endblock title %}

{% block head %}
    <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock head %}

{% block body %}
    <h1 class="ui centered header">
        {% block form_header %}{% trans "Edit Question" %}{% endblock form_header %}
    </h1>
    <form class="ui form text container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="field">
            <label>{{ form.title.label }}</label>
            {{ form.title }}
        </div>
        <div class="field">
            <label>{{ form.answer.label }}
            </label>
            {{ form.answer }}
        </div>
        <div class="field">
            <label>{{ form.categories.label }}
                <span data-content="{% trans "Choose one or multiple categories for the question" %}">
                    <i class="ui yellow question circle icon"></i>
                </span>
            </label>
            {{ form.categories }}
        </div>

        <input class="ui yellow right floated submit button" type="submit" value="{% trans "Save" %}"/>
        <a href="{% url "faq-admin" %}" class="ui red right floated button">
            {% trans "Cancel" context "abort action" %}
        </a>
    </form>

    <script>
        $(".message .close").click(function () {
            $(this)
                .closest(".message")
                .transition("fade");
        });
        $("span[data-content]").popup();
    </script>
{% endblock body %}
