{% load i18n %}


<h3>
    {% translate "Number of tickets" %}: {{ ticket_dicts|length }}
</h3>
<br/>

{% if ticket_dicts %}
    <table>
        <thead>
        <tr>
            <th>{% translate "Ref #" %}</th>
            <th>{% translate "user"|capfirst %}</th>
            <th>{% translate "email"|capfirst %}</th>
            <th>{% translate "comment"|capfirst %}</th>
            <th>{% translate "preferred language"|capfirst %}</th>
        </tr>
        </thead>

        <tbody>
        {% for ticket_dict in ticket_dicts %}
            <tr>
                <td>
                    <b>{{ ticket_dict.ref_link }}</b>
                </td>
                <td>{{ ticket_dict.user_name_link }}</td>
                <td>{{ ticket_dict.user_email|urlize }}</td>
                <td>{{ ticket_dict.comment }}</td>
                <td>{{ ticket_dict.language }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
