{% load i18n %}


{% for quota in user_quotas %}
    <div class="ui card">
        <div class="content">
            <div class="header">
                {% if quota.diminishing %}
                    {% translate "One-time quota" %}
                {% else %}
                    {% translate "Replenishing quota" %}
                {% endif %}
                <a href="{% url 'edit_quota' quota.pk %}">
                    <i class="make-col-yellow pencil icon"></i>
                </a>
                {% if perms.make_queue.delete_quota %}
                    <a class="delete-modal-button"
                       data-url="{% url 'delete_quota' quota.pk %}"
                       data-obj-name="{{ quota }}">
                        <i class="red trash icon"></i>
                    </a>
                {% endif %}
            </div>
            <div class="meta">{{ quota.machine_type.name }}</div>
            <span>
                <b>{% translate "Maximum number of reservations" %}:</b> {{ quota.number_of_reservations }}
            </span>
            {% if quota.ignore_rules %}
                <b>{% translate "ignores rules"|capfirst %}</b>
            {% endif %}
        </div>
    </div>
{% empty %}
    <div class="text-centered">
        <i>{% translate "User has no personal quotas" %}</i>
    </div>
{% endfor %}
