{% load quota %}
{% get_3d_quota user as quota %}

<div class="content">
    <div class="header">3D Printer</div>
    <div class="meta">
        <span>{{ quota.get_active_user_reservations|length }}
            {% if quota.get_active_user_reservations|length == 1 %}aktiv reservasjon
            {% else %}aktive reservasjoner{% endif %}</span>
    </div>
    <div class="full_width quota_field">
        <label class="quota_label">Maksimal lengde per reservasjon</label>
        <div class="ui input full_width right labeled">
            <input id="3d-quota-len-res" name="3d-quota-len-res" class="hidden" type="number" value="{{ quota.max_time_reservation }}"/>
            <div class="ui basic label">
                timer
            </div>
        </div>
    </div>
    <div class="full_width quota_field">
        <label class="quota_label">Maksimalt antall aktive reservasjoner</label>
        <div class="ui input full_width">
            <input id="3d-quota-num-res" name="3d-quota-num-res" class="hidden" type="number" value="{{ quota.max_number_of_reservations }}">
        </div>
    </div>
    <div class="full_width quota_field">
        <div class="ui checkbox {% if quota.can_print %}checked{% endif%}">
            <input id="3d-quota-can-print" name="3d-quota-can-print" type="checkbox" {% if quota.can_print %}checked{% endif %}/>
            <label class="quota_label">Kan printe</label>
        </div>
    </div>
</div>
<div class="ui blue bottom attached button">
    Lagre
</div>