{% load i18n %}


{% for quota in user_quotas %}
    <div class="ui card">
        <div class="content">
            <div class="header">
                {% if quota.diminishing %}
                    {% trans "One-time quota" %}
                {% else %}
                    {% trans "Replenishing quota" %}
                {% endif %}
                <a href="{% url "edit_quota" quota.pk %}">
                    <i class="ui yellow icon pencil"></i>
                </a>
                {% if perms.make_queue.delete_quota %}
                    <a class="delete confirm" href="{% url "delete_quota" quota.pk %}">
                        <i class="ui red icon trash"></i>
                    </a>
                {% endif %}
            </div>
            <div class="meta">{{ quota.machine_type.name }}</div>
            <b>{% trans "Maximum number of reservations" %}:</b> {{ quota.number_of_reservations }}
            {% if quota.ignore_rules %}
                <b>{% trans "Ignores rules" %}</b>
            {% endif %}
        </div>
    </div>
{% empty %}
    <div class="text-centered">
        <i>{% trans 'User has no personal quotas' %}</i>
    </div>
{% endfor %}
