{% extends 'web/base.html' %}
{% load i18n %}


{% block body %}

    <div class="ui container">
        <h1>
            {% block form_title %}
                {% trans "Change quota" %}
            {% endblock form_title %}
        </h1>

        <div id="missing-fields-error-message" class="ui red message close hidden">
            <i class="close icon"></i>
            {% trans "Missing required fields." %}
        </div>

        <div id="select-user-error-message" class="ui red message close hidden">
            <i class="close icon"></i>
            {% trans "Must select specific user or all users." %}
        </div>

        <form class="ui form" method="POST" action="">
            {% csrf_token %}
            <div class="two fields">
                <div id="number-of-reservations-field" class="field">
                    <label>{{ form.number_of_reservations.label }}</label>
                    {{ form.number_of_reservations }}
                </div>
                <div id="machine-type-field" class="field">
                    <label>{{ form.machine_type.label }}</label>
                    {{ form.machine_type }}
                </div>
            </div>
            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <label>{{ form.diminishing.label }}</label>
                        {{ form.diminishing }}
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <label>{{ form.ignore_rules.label }}</label>
                        {{ form.ignore_rules }}
                    </div>
                </div>
                <div class="field">
                    <div id="checkbox-all-users" class="ui checkbox">
                        <label>{{ form.all.label }}</label>
                        {{ form.all }}
                    </div>
                </div>
            </div>
            <div id="user-field" class="field">
                <label>{{ form.user.label }}</label>
                {{ form.user }}
            </div>

            <button class="ui right floated make-bg-yellow button" type="submit">
                {% block submit_button %}
                    {% trans "Submit" context "edit" %}
                {% endblock submit_button %}
            </button>
            <a class="ui right floated red button" href="{% url "quota_panel" %}">
                {% trans "Cancel" context "abort action" %}
            </a>
        </form>
    </div>

    <script>
        const $userField = $("#user-field");

        $(".checkbox").checkbox();
        $("#checkbox-all-users").checkbox({
            fireOnInit: true,
            onChecked: function () {
                $userField.toggleClass("disabled", true).find("div.dropdown").dropdown("clear");
            },
            onUnchecked: function () {
                $userField.toggleClass("disabled", false);
            },
        });

        $("form").submit(function () {
            const $numberOfReservationsField = $("#number-of-reservations-field");
            const $machineTypeField = $("#machine-type-field");

            const user = $userField.find("div.dropdown").dropdown("get value");
            const allUsers = $("#checkbox-all-users").checkbox("is checked");
            const numberOfReservationsEmpty = $numberOfReservationsField.find("input").val() === "";
            const machineTypeEmpty = $machineTypeField.find("div.dropdown").dropdown("get value") === "";
            const userEmpty = !allUsers && user === "";

            $("#select-user-error-message").toggleClass("hidden", !userEmpty);
            $("#missing-fields-error-message").toggleClass("hidden", !numberOfReservationsEmpty && !machineTypeEmpty);

            $machineTypeField.toggleClass("error", machineTypeEmpty);
            $numberOfReservationsField.toggleClass("error", numberOfReservationsEmpty);
            $userField.toggleClass("error", userEmpty);

            return !(userEmpty || machineTypeEmpty || numberOfReservationsEmpty);
        });

        $(".message .close")
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>

{% endblock body %}
