{% load quota %}
{% load i18n %}
{% load l10n %}
{% get_sewing_quota user as quota %}

{% localize off %}
    <div class="content">
        <div class="header">
            {% trans "Sewing" %}
        </div>
        <div class="meta">
        <span>{{ quota.get_active_user_reservations|length }}
            {% blocktrans trimmed count counter=quota.get_active_user_reservations|length %}
                active reservation
            {% plural %}
                active reservations
            {% endblocktrans %}
	</span>
        </div>
        <div class="full_width quota_field">
            <label class="quota_label">{% trans "Maximum length per reservation" %}</label>
            <div class="ui input full_width right labeled">
                <input id="sewing-quota-len-res" name="sewing-quota-len-res" class="hidden" type="number"
                       value="{{ quota.max_time_reservation }}"/>
                <div class="ui basic label">
                    {% trans "hours" %}
                </div>
            </div>
        </div>
        <div class="full_width quota_field">
            <label class="quota_label">{% trans "Maximum number of active reservations" %}</label>
            <div class="ui input full_width">
                <input id="sewing-quota-num-res" name="sewing-quota-num-res" class="hidden" type="number"
                       value="{{ quota.max_number_of_reservations }}">
            </div>
        </div>
    </div>
    <div class="ui blue bottom attached button">
        {% trans "Save" %}
    </div>
{% endlocalize %}
