{% load quota %}
{% load l10n %}
{% get_sewing_quota user as quota %}

{% localize off %}
    <div class="content">
        <div class="header">Sewing</div>
        <div class="meta">
        <span>{{ quota.get_active_user_reservations|length }}
            {% if quota.get_active_user_reservations|length == 1 %}aktiv reservasjon
            {% else %}aktive reservasjoner{% endif %}</span>
        </div>
        <div class="full_width quota_field">
            <label class="quota_label">Maksimal lengde per reservasjon</label>
            <div class="ui input full_width right labeled">
                <input id="sewing-quota-len-res" name="sewing-quota-len-res" class="hidden" type="number"
                       value="{{ quota.max_time_reservation }}"/>
                <div class="ui basic label">
                    timer
                </div>
            </div>
        </div>
        <div class="full_width quota_field">
            <label class="quota_label">Maksimalt antall aktive reservasjoner</label>
            <div class="ui input full_width">
                <input id="sewing-quota-num-res" name="sewing-quota-num-res" class="hidden" type="number"
                       value="{{ quota.max_number_of_reservations }}">
            </div>
        </div>
    </div>
    <div class="ui blue bottom attached button">
        Lagre
    </div>
{% endlocalize %}