{% load announcement_tags %}


{# Linking `announcement_banner.css` is required when including this template #}


{% if announcement.link %}
    <a href="{{ announcement.link }}" target="_blank">
        <div class="word-breaking {% announcement_css_class announcement %} announcement">
            {{ announcement.content }}
        </div>
    </a>
{% else %}
    <div class="word-breaking {% announcement_css_class announcement %} announcement">
        {{ announcement.content }}
    </div>
{% endif %}
