<div class="ui {% if widget.attrs.disabled %}disabled{% endif %} search selection dropdown">
    <input type="hidden" name="{{ widget.name }}"
            {% for group_name, group_choices, group_index in widget.optgroups %}
                {% for option in group_choices %}
                    {% if option.selected %}
           value="{{ option.value }}"
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% include 'django/forms/widgets/attrs.html' %}
    />
    <i class="dropdown icon"></i>
    <div class="default text">{{ widget.prompt_text }}</div>
    <div class="menu">
        {% for group_name, group_choices, group_index in widget.optgroups %}
            {% for option in group_choices %}
                {% if option.value %}
                    <div class="item" data-value="{{ option.value }}">
                        {{ option.label }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

{# Move this code to its own .js file if it gets more complex #}
<script>
    $("#{{ widget.attrs.id }}").closest(".dropdown").dropdown({
        fullTextSearch: true,
        forceSelection: {{ widget.force_selection|lower }},
    });
</script>
