{% extends 'web/base.html' %}
{% load i18n %}


{% block title %}{{ title }}{% endblock title %}

{% block extra_head %}
    {% include 'ckeditor/mathjax_render.html' %}
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        <h1 class="word-breaking hyphenated">
            {{ title }}
        </h1>
        <div style="margin-bottom: 10px">
            <a class="ui blue button" href="{% url 'reservation_rule_list' machine_type.pk %}">
                {% translate "Quota and detailed rules for reservation duration" %}
            </a>

            {% if perms.make_queue.change_machineusagerule %}
                <a class="ui make-bg-yellow button" style="margin-top: 20px"
                   href="{% url 'machine_usage_rule_update' machine_type.pk %}">
                    <i class="edit icon"></i>{% translate "Edit" %}
                </a>
            {% endif %}
        </div>
        <div class="word-breaking hyphenated">
            {{ usage_rules.content|safe }}
        </div>
    </div>

{% endblock body %}
