{% extends 'web/base.html' %}
{% load reservation_extra %}
{% load static %}
{% load i18n %}


{% block title %}{% translate "machines"|capfirst %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'make_queue/css/machine_list.css' %}"/>
    <link rel="stylesheet" href="{% static 'make_queue/css/machine_card.css' %}"/>
    <link rel="stylesheet" href="{% static 'make_queue/css/stream.css' %}"/>
    <script defer src="{% static 'make_queue/js/stream.js' %}"></script>
{% endblock extra_head %}

{% block body %}
    <div class="ui container">
        <div class="ui huge header">
            {% translate "machines"|capfirst %}
            {% if perms.make_queue.add_machine %}
                <a href="{% url 'machine_create' %}" data-tooltip="{% translate "Add" %}">
                    <i class="green plus icon"></i>
                </a>
            {% endif %}
        </div>
        <div class="reservation-management-buttons">
            <a class="ui primary button" href="{% url 'reservation_list' %}?owner={{ ReservationOwner.ME }}">
                {% translate "My reservations" %}
            </a>
            <a class="ui primary button" href="{% url 'reservation_find_free_slots' %}">
                {% translate "Find free reservation slots" %}
            </a>
        </div>

        {% for machine_type in machine_types %}
            {% if machine_type.shown_machines %}
                <div class="machine-type-title-field">
                    <div class="word-breaking hyphenated machine-type-title ui large header">
                        {{ machine_type.name }}
                    </div>
                    <div class="ui content">
                        <a class="ui primary button" href="{{ machine_type.usage_rule.get_absolute_url }}">
                            {% translate "Show rules" %}
                        </a>
                    </div>
                </div>
                <div class="ui cards">
                    {% for machine in machine_type.shown_machines %}
                        {% include 'make_queue/machine_card.html' with machine=machine %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {# Used in `stream.js` #}
    <div id="fader"></div>
    <i id="close-fullscreen-button" class="times icon"></i>
{% endblock body %}
