{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load permission_tags %}


{% block title %}{% translate "FAQ" %} | {% translate "Admin panel" %}{% endblock title %}

{% block body %}
    <div class="ui container">
        <h1 class="ui header">
            <a href="{% url 'admin_panel' %}">
                <i class="blue chevron circle left icon"></i>
            </a>
            {% translate "FAQ Admin Panel" %}
        </h1>
        <div class="ui four doubling stackable cards">
            <div class="ui yellow card">
                <a class="content" href="{% url 'admin_question_list' %}">
                    <div class="center aligned header">
                        <i class="grey question circle outline icon"></i>
                        {% translate "questions"|capfirst %}
                    </div>
                    <div class="description">
                        {% translate "Here you can add, change and delete questions" %}.
                    </div>
                </a>
            </div>
            <div class="ui yellow card">
                <a class="content" href="{% url 'admin_category_list' %}">
                    <div class="center aligned header">
                        <i class="grey newspaper outline icon"></i>
                        {% translate "categories"|capfirst %}
                    </div>
                    <div class="description">
                        {% translate "Here you can add, change and delete categories" %}.
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock body %}
