#header {
    height: 4.75em;
    background-color: rgb(34, 43, 52);
    padding: 1em;
    color: #ffffff;
}

#page-search {
    float: right;
}

#new-page {
    margin: 0.1em 0.5em;
}

#home-button {
    height: 100%;
    display: inline-block;
}

#home-button img {
    height: 100%;
    object-fit: contain;
    display: none;
}

/*** Logo size changes ***/

@media screen and (min-width: 751px) {
    #home-button img.large {
        display: block;
    }
}

@media screen and (max-width: 750px) and (min-width: 601px) {
    #home-button img.medium {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    #home-button img.small {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #page-search input {
        width: 10em;
    }
}
