{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
    <h1 class="ui text-centered make_col_yellow header">
        {% trans "Tools" %}
    </h1>
    <div class="ui text container">
        <a class="ui yellow button" href="{% url 'makerspace-tools-create' %}">
            <i class="ui add icon green"></i>
            {% trans "Add new tool" %}
        </a>
        {% if tools_list %}
            <div class="ui divided list">
                {% for tool in tools_list %}
                    <div class="item">
                        <i class="ui icon"><img class="inline square_36" src="{{ tool.image.url }}"></i>
                        <div class="content">
                            <div class="header">
                                <a class="inline-block make_col_blue header" href="{% url 'makerspace-tools-edit' tool.id %}">
                                    {{ tool.title }}
                                </a>
                                {% if perms.makerspace.delete_tool %}
                                    <a class="delete confirm inline-block make_col_blue explanation-popup"
                                       data-title="{% trans "Delete" %}"
                                       data-content="{% trans "Click to delete." %}"
                                       href="{% url 'makerspace-tools-delete' tool.id %}">
                                        <i class="ui delete icon red"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock body %}