{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load css_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "tools/css/tools.css" %}">
    <script src="{% static "web/js/image-link.js" %}"></script>
{% endblock head %}


{% block body %}
    <h1 class="ui text-centered make_col_blue header">
        {% trans "Available tools at Makerverkstedet" %}
    </h1>
    <div class="ui container">
        <div class="tools">
            {% for tool in tools_list %}

                {# For the images #}
                <a class="tool-img" href="{% url 'makerspace-tool' tool.id %}">
                    <img {% thumbnail tool.image "250x250" crop="center" as image_thumb %}
                        src="{{ image_thumb.url }}"
                    {% empty %}
                        src="{{ tool.image.url }}"
                    {% endthumbnail %}
                        style="{% img_square 250 %}"
                        alt="{% blocktrans trimmed with tool=tool.title %}Image of {{ tool }}{% endblocktrans %}"
                    />
                </a>

                {# For the text #}
                <div class="tool-text
                            {% if forloop.first %}tool-first{% endif %}
                            {% if forloop.last %}tool-last{% endif %}">
                    <img class="txtborder tl" src="{% static "web/img/top_left.svg" %}" alt=""/>
                    <img class="txtborder tr" src="{% static "web/img/top_right.svg" %}" alt=""/>
                    <img class="txtborder bl" src="{% static "web/img/bottom_left.svg" %}" alt=""/>
                    <img class="txtborder br" src="{% static "web/img/bottom_right.svg" %}" alt=""/>
                    <h2 class="tool-title">
                        <a class="make_col_yellow" href="{% url 'makerspace-tool' tool.id %}">{{ tool.title }}</a>
                    </h2>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock body %}
