{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load permission_tags %}

{% block title %}{{ tool.title }}{% endblock title %}

{% block og_title %}{{ title.title }}{% endblock og_title %}
{% block og_image %}{{ title.image.url }}{% endblock og_image %}
{% block og_description %} {% trans "A list of tools" %}{% endblock og_description %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "tools/css/tools.css" %}">
{% endblock head %}

{% block body %}
    <div class="tool">
        <div class="ui container">
            <div class="ui text container basic segment">
                <img {% thumbnail tool.image "400" crop="center" as image_thumb %}
                    src="{{ image_thumb.url }}"
                {% empty %}
                    src="{{ tool.image.url }}"
                {% endthumbnail %}
                    class="ui image center" style="width: 400px;"
                    alt="{% blocktrans trimmed with tool=tool.title %}Image of {{ tool }}{% endblocktrans %}"
                />

                <h1 class="tool-title">
                    <div>
                        {% block admin-page %}
                             {% if user|has_any_tools_permission%}
                                 <a href="{% url "makerspace-tools-admin" %}" class="ui right floated yellow button">
                                     <i class="ui sticky note icon"></i>{% trans "Admin page" %}
                                 </a>
                             {% endif %}
                        {% endblock admin-page %}
                        {{ tool.title }}
                    </div>
                </h1>
                <div>
                    {% autoescape off %}
                        {{ tool.description }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
