@font-face {
    font-family: 'Slack font';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../fonts/slack.ttf") format("truetype")
}

.footer-wrapper {
    display: table-row;
}

.footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 65px 40px 40px;
    min-height: 200px;
    background-color: rgb(12, 66, 106);
}

.footer > div {
    justify-self: center;
    align-self: center;
}

.footer .list {
    margin: 0;
}

.footer .social.list {
    text-align: center;
}

.footer .social.list .item {
    display: inline-block;
    padding: 17px 0 0 4px;
    background-color: rgb(248, 200, 17);
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 4px;
}

.footer .social.list .item.slack-icon {
    padding-left: 0;
}

.footer .social.list .item.slack-icon span {
    font-family: 'Slack font';
}

.footer .social.list i, .footer .social.list span {
    font-size: 28px;
    color: rgb(12, 66, 106) !important;
}

.footer p, .footer a, .footer i {
    color: #FFFFFF !important;
}

.footer .logo {
    align-self: center;
    margin-left: -4px;
}

.footer .logo img {
    object-fit: contain;
    width: 150px;
}

.copyright {
    grid-column-start: 2;
    color: #FFFFFF;
}

.two-cols {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.sit {
    width: 100px;
}

@media screen and (max-width: 900px) {
    .footer {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        text-align: center;
    }

    .footer .logo {
        margin-left: 0;
    }

    .copyright {
        grid-column-start: auto;
    }
}
