.footer-wrapper {
    display: table-row;
}

.footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 65px 40px 40px;
    min-height: 200px;
    background-color: rgb(12, 66, 106);
}

.footer > div {
    justify-self: center;
    align-self: center;
}

.footer .list {
    margin: 0;
}

.footer .social.list {
    text-align: center;
}

.footer .social.list .item {
    display: inline-block;
    padding: 0;
    background-color: rgb(248, 200, 17);
    border-radius: 100px;
    width: 50px;
    height: 50px;
    padding-left: 4px;
    padding-top: 17px;
    margin: 4px;
}

.footer .social.list i {
    font-size: 28px;
    color: rgb(12, 66, 106) !important;
}

.footer p, .footer a, .footer i {
    color: #ffffff !important;
}

.footer .logo {
    align-self: center;
    margin-left: -5px;
}

.footer .logo img {
    object-fit: contain;
    width: 150px;
}

.copyright {
    grid-column-start: 2;
    color: #ffffff;
}

@media screen and (max-width: 900px) {
    .footer {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        text-align: center;
    }

    .copyright {
        grid-column-start: auto;
    }
}
