.footer-wrapper {
    display: table-row;
}

#footer {
    --footer-icon-bubble-diameter: 3.5rem;

    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4rem 2rem;
    min-height: 200px;
}

#footer > div {
    justify-self: center;
    align-self: center;
}

#footer .list {
    margin: 0;
}

#footer .social.list {
    text-align: center;
}

#footer .social.list .item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: calc(2 * var(--footer-icon-bubble-diameter));
    width: var(--footer-icon-bubble-diameter);
    height: var(--footer-icon-bubble-diameter);
    margin: 4px;
}

#footer .social.list {
    padding-left: 0;
}

#footer .social.list i {
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
}

#footer .content {
    text-align: right;
}

#footer p,
#footer a,
#footer i {
    color: #FFFFFF !important;
}

#footer .logo {
    align-self: center;
    margin-left: -4px;
}

#footer .logo img {
    object-fit: contain;
    width: 150px;
}

.copyright {
    grid-column-start: 2;
    color: #FFFFFF;
}

.two-cols {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.sit {
    width: 100px;
}


@media screen and (max-width: 991.98px) {
    #footer {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        text-align: center;
    }

    #footer .logo {
        margin-left: 0;
    }

    #footer .content {
        text-align: center;
    }

    .copyright {
        grid-column-start: auto;
    }
}
