#header {
    --logo-padding: 30px;
    --logo-space: minmax(120px, 360px);

    --burger-margin: 2em;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 120px;
    width: 100%;
    height: 120px;
    background-color: rgb(33, 43, 52);
}

#header div.logo-centering {
    display: none;
}

.lang-link .item .text {
    color: #DCDDDE;
}

.lang-link .item:hover .text {
    color: #FFF;
}

#header .menu {
    align-self: center;
    margin: 0;
}

#header .logo {
    display: grid;
    grid-template-columns: var(--logo-padding) var(--logo-space) minmax(2em, var(--logo-padding));
    align-self: center;
}

#header .logo img {
    margin: auto;
    max-height: 50px;
    object-fit: contain;
}

#header .logo .limg.large {
    display: block;
}

#header .logo .limg.medium {
    display: none;
}

#header .logo .limg.small {
    display: none;
}

#header #burger {
    display: none;
    align-self: center;
    justify-self: end;
    margin-right: var(--burger-margin);
    margin-bottom: -10px;
}

#header #burger:hover {
    cursor: pointer;
}

#header #burger i {
    color: #FFFFFF;
    font-size: 30px;
}

#header #nav .lang-link {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
}

#header #nav .lang-link .link.item {
    margin: 0;
    align-self: start;
}

#header #nav .lang-link .link.item div.text {
    margin-right: 0.5em;
}

#header #nav .lang-link .link.item .globe.icon {
    margin: 0;
}

#header .ui.inverted.menu .item {
    color: rgba(255, 255, 255, .7) !important;
}

.lang-form {
    display: none;
}

@media screen and (max-width: 900px) {
    #header .logo .limg.large {
        display: none;
    }

    #header .logo .limg.medium {
        display: block;
    }

    #header .logo .limg.small {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    #header {
        --burger-space: minmax(calc(4em + var(--burger-margin)), 1fr);

        grid-template-columns: var(--burger-space) auto var(--burger-space);
    }

    #header.active {
        height: auto;
    }

    #header div.logo-centering {
        display: inline;
    }

    #header .logo {
        grid-template-columns: 1em var(--logo-space) 1em;
    }

    #header .logo .limg.large {
        display: block;
    }

    #header .logo .limg.medium {
        display: none;
    }

    #header .logo .limg.small {
        display: none;
    }

    #header .menu {
        display: none;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #header.active .menu {
        display: inline;
        padding-left: 10px;
        padding-bottom: 20px !important;

    }

    #header #burger {
        display: inline;
    }

    #header #nav .lang-link {
        position: static;
    }
}

@media screen and (max-width: 600px) {
    #header .logo .limg.large {
        display: none;
    }

    #header .logo .limg.medium {
        display: block;
    }

    #header .logo .limg.small {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    #header .logo .limg.large {
        display: none;
    }

    #header .logo .limg.medium {
        display: none;
    }

    #header .logo .limg.small {
        display: block;
    }
}
