.top {
    position: relative;
    z-index: -10;
    width: 100%;
    height: calc(50vh - 120px);
    min-height: 150px;
    max-height: 200px;
}

.top-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.top-img.small {
    display: none;
}

.top-logo {
    position: absolute;
    max-width: 80%;
    max-height: 30%;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.article-text,
.article-img {
    position: relative;
}

.clickable {
    cursor: pointer;
}

.article-text h2 a,
.event .header a {
    color: rgb(248, 200, 17);
    text-transform: uppercase;
}

.article-text h2 {
    text-align: center;
}

.txtborder {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
}

.txtborder.tl {
    top: 0;
    left: 0;
}

.txtborder.tr {
    top: 0;
    right: 0;
}

.txtborder.bl {
    bottom: 0;
    left: 0;
}

.txtborder.br {
    bottom: 0;
    right: 0;
}

.events {
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 1fr;
    grid-auto-flow: dense;
    grid-gap: 2em;
}

.events .event.item img {
    object-fit: cover;
    width: 100% !important; /* Overrides Fomantic-UI */
    height: 100% !important; /* Overrides Fomantic-UI */
}

.events .item {
    margin: 0 !important; /* Overrides Fomantic-UI */
}

.events .more-events-link .header {
    display: flex !important; /* Overrides Fomantic-UI */
    justify-content: center;
}

.event-article-border {
    display: none;
    border-style: solid;
    border-color: var(--make-yellow);
}

.articles {
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 1fr;
    grid-auto-flow: dense;
    margin-top: 6em;
    margin-bottom: 3em;
}

.articles .article-img {
    grid-column: 2/3;
}

.articles .article-text {
    overflow-wrap: break-word;
    overflow: hidden;
    display: grid;
    align-items: center;
}

.articles .article-text p {
    padding: 0 3em 3em;
}

.articles h2 {
    margin-bottom: 0.25em;
}

.articles .article-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.noevents {
    text-align: center;
    font-style: italic;
}


/* Events are listed alternatingly left and right */
@media screen and (min-width: 1200px) {
    .events .event:nth-of-type(2n+1) {
        grid-column: 2/3;
    }

    .events .event:nth-of-type(2n) {
        grid-column: 3/4;
    }

    .events .more-events-link {
        grid-column: 2/4;
    }
}


/* Events are listed in one column */
@media screen and (max-width: 1199.98px) {
    .events {
        grid-template-columns: 1fr 20fr 1fr;
        grid-gap: 3em 0;
    }

    .events .item {
        grid-column: 2/3;
    }

    .events .event.item:last-child {
        margin-bottom: 3em !important; /* Overrides Fomantic-UI */
    }
}


/* Articles are listed alternatingly left and right */
@media screen and (min-width: 992px) {
    .articles .float-left {
        grid-column: 3/4;
    }

    .articles .float-right {
        grid-column: 2/3;
    }

    .article-text.article-first .txtborder.tr,
    .article-text.article-last.float-right .txtborder.bl,
    .article-text.article-last.float-left .txtborder.br {
        display: inline;
    }
}


/* Switch to mobile layout; articles are listed in one column */
@media screen and (max-width: 991.98px) {
    .articles {
        grid-template-rows: auto;
        grid-template-columns: 1fr 20fr 1fr;
        margin-bottom: 0;
    }

    .articles .article-text,
    .articles .article-img {
        grid-column: 2/3;
    }

    .top-img.large {
        display: none;
    }

    .top-img.small {
        display: inline;
    }

    .articles .article-text {
        height: auto;
        max-height: 300px;
        align-items: flex-start;
    }

    .article-text h2 {
        text-align: left;
        margin-top: 1em;
    }

    .article-text p,
    .article-text a,
    .article-text h2 {
        margin-left: 0;
        padding: 0 !important; /* Overrides Fomantic-UI */
    }

    .articles .article-text p {
        padding-bottom: 5em !important;
    }
}


@media only screen and (max-width: 767.98px) {
    .event-article-border {
        display: block;
    }
}
