.toplogo {
    position: absolute;
    left: 50%;
    top: calc(35% + 50px);
    transform: translate(-50%, -50%);
}

.top {
    position: relative;
    z-index: -10;
    width: 100vw;
    height: calc(70vh - 100px);
}

.topimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

atxt, aimg {
    position: relative;
}

atxt h2, aimg h2 {
    color: rgb(248, 200, 17);
}

.txtborder {
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    z-index: -10;
}

.txtborder.tl {
    top: 0;
    left: 0;
}

.txtborder.tr {
    top: 0;
    right: 0;
}

.txtborder.bl {
    bottom: 0;
    left: 0;
}

.txtborder.br {
    bottom: 0;
    right: 0;
}

atxt:nth-of-type(2n+1) .txtborder.bl, atxt:nth-of-type(2n+1) .txtborder.tl {
    display: none;
}

atxt:nth-of-type(2n) .txtborder.tr, atxt:nth-of-type(2n) .txtborder.br {
    display: none;
}

.events {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-auto-flow: dense;
    grid-gap: 30px;
    margin: 80px 0;
}

.events img {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}

.events .item:nth-of-type(2n) {
    grid-column: 3/4;
}

.events .item:nth-of-type(2n+1) {
    grid-column: 2/3;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-auto-flow: dense;
    margin: 80px 0;
    grid-gap: 30px;
}

.articles .img, .articles .txt {
    height: 300px;
}

.articles .img {
    grid-column: 2/3;
}

.articles .txt {
    padding: 50px;
}

.articles h2 {
    margin-bottom: 20px;
}

.articles .txt:nth-of-type(2n+1), .articles .img:nth-of-type(2n) {
    grid-column: 3/4;
}

.articles .txt:nth-of-type(2n), .articles .img:nth-of-type(2n+1) {
    grid-column: 2/3;
}

.articles img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 900px) {
    .articles {
        grid-template-columns: 1fr 5fr 1fr;
    }

    .articles .txt, .articles .img {
        grid-column: 2/3 !important;
    }

    .txtborder.tl, .txtborder.tr {
        display: none !important;
    }

    .txtborder.bl, .txtborder.br {
        display: inline !important;
    }
}

@media screen and (max-width: 1200px) {
    .events {
        grid-template-columns: 1fr 5fr 1fr;
        grid-gap: 0;
    }

    .events .item {
        grid-column: 2/3 !important;
        padding-bottom: 30px !important;
    }
}
