main, body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2em;
}

.title {
    font-size: 4.5em;
    margin: 10px;
}

.separator {
    height: 40px;
}

.larger {
    font-size: 1.2em;
}

a {
    color: blue;
}
