html, body {
    height: 100%;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.content {
    display: table-row;
    height: 100%;
}

body {
    display: block;
    flex-direction: column;
}

.removebottommargin {
    margin-bottom: 0 !important;
}

.text-centered {
    text-align: center !important;
}

.square_20 {
    width: 20px;
    height: 20px;
}

.square_36 {
    width: 36px;
    height: 36px;
}

.noshadow {
    text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff !important;
}

.inline-block {
    display: inline-block !important;
}

p, a, h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif !important;
}

.django-ckeditor-widget, #cke_id_content {
    width: 100% !important;
}

.make_bg_yellow {
    background-color: rgb(248, 200, 17) !important;
}

.make_bg_blue {
    background-color: rgb(12, 66, 106) !important;
}

.make_bg_turquoise {
    background-color: rgb(0, 235, 179) !important;
}

.make_bg_dkgray, .ui.black.label.make_bg_dkgray, .ui.black.labels .label.make_bg_dkgray {
    background-color: rgb(74, 75, 76) !important;
}

.make_bg_ligray {
    background-color: rgb(220, 221, 222) !important;
}

.make_col_yellow {
    color: rgb(248, 200, 17) !important;
}

.make_col_blue, .ui.list .list>.item a.header.make_col_blue, .ui.list>.item a.header.make_col_blue {
    color: rgb(12, 66, 106) !important;
}

.make_col_turquoise {
    color: rgb(0, 235, 179) !important;
}

.make_col_dkgray {
    color: rgb(74, 75, 76) !important;
}

.make_col_ligray {
    color: rgb(220, 221, 222) !important;
}
