.removebottommargin {
    margin-bottom: 0 !important;
}

.text-centered {
    text-align: center !important;
}

p, a, h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif !important;
}

.django-ckeditor-widget, #cke_id_content {
    width: 100% !important;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 40px;
    min-height: 200px;
    background-color: rgb(12, 66, 106);
}

.footer > div {
    justify-self: center;
    align-self: center;
}

.footer .list {
    margin: 0;
}

.footer .social.list {
    text-align: center;
}

.footer .social.list .item {
    display: inline-block;
    padding: 0;
    background-color: rgb(248, 200, 17);
    border-radius: 100px;
    width: 50px;
    height: 50px;
    padding-left: 4px;
    padding-top: 17px;
    margin: 4px;
}

.footer .social.list i {
    font-size: 28px;
    color: rgb(12, 66, 106) !important;
}

.footer p, .footer a, .footer i {
    color: #ffffff !important;
}

.footer .logo {
    align-self: center;
}

.footer .logo img {
    object-fit: contain;
    width: 150px;
}

.nav {
    display: grid;
    grid-template-columns: minmax(120px, 1fr) 3fr;
    width: 100%;
    height: 100px;
    background-color: rgb(33, 43, 52);
}

.nav .menu {
    align-self: center;
    margin: 0;
    padding: 0 30px;
}

.nav .logo {
    padding: 30px;
    align-self: center;
}

.nav .logo img {
    object-fit: contain;
    max-height: 50px;
}

.limg {
    display: none;
}

.limg.large {
    display: inline;
}

@media screen and (max-width: 900px) {
    .limg.large {
        display: none;
    }

    .limg.small {
        display: none;
    }

    .limg.medium {
        display: inline;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .limg.medium {
        display: none;
    }

    .limg.large {
        display: none;
    }

    .limg.small {
        display: inline;
    }
}