main, body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.center_make {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2em;
}

.make_collapsed:not(:first-child) {
    padding-left: 0 !important;
}

.make_collapsed:not(:last-child) {
    padding-right: 0 !important;
}

.make_reservation_calendar_time_table {
    height: 40rem;
    background-color: #d3d3d3;
    border: 1px solid #808080;
    border-right: 0;
}

.make_reservation_calendar_time_table_item {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.make_reservation_calendar_time_table_event {
    background-color: #21ba45;
}

.make_reservation_calendar_time_table_non_event {
    background-color: #2185d0;
}

.title {
    font-size: 4.5em;
    margin: 10px;
}

.separator {
    height: 40px;
}

.larger {
    font-size: 1.2em;
}

a {
    color: blue;
}
