.committee-list .item {
    display: flex !important; /* Overrides Fomantic-UI */
    align-items: center;
}

.committee-list .image img {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.committee-list .committee-name {
    margin: 0;
}

.committee-list .edit-button {
    margin-left: auto;
    font-size: 1.25em;
}
