.admin-actions {
    display: inline-block !important; /* Overrides Fomantic-UI */
    margin: 0 !important; /* Overrides Fomantic-UI */
}

.create-new-occurrence {
    clear: both;
    overflow: auto;
}

.toggle.icon {
    cursor: pointer;
}
