{% extends "web/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "inventory/css/inventory.css" %}">
{% endblock head %}

{% block body %}

    {#    {% include "inventory/treemenu.html" %}#}


    <div class="ui container text-centered">
        <div class="five wide field">
            <select class="ui fluid dropdown search" name="items">
                <option value="">{% trans "Select/search" %}</option>
                {% for item in items %}
                    <option value="{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="ui search">
            <div class="ui icon input">
                <input id="item-search" class="prompt" type="text" placeholder="Item...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>

        {#        {% for item in items %}#}
        {#            <div>#}
        {#                {{ item.name|add:" hey" }}#}
        {#            </div>#}
        {#        {% endfor %}#}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.ui.dropdown').dropdown();


        // TODO: Call function on change or return of item-search
        function get_search_query(element, search) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
            });
            $.ajax({
                type: "POST",
                url: '/inventory/search/',
                data: {
                    'search': search,
                },
                success: function (data) {
                    if (data['is_forced']) {
                        element.parents('tr').remove();
                    }
                    element.addClass('green');
                    element.addClass('disabled');
                    element.html('{% trans "Voted!" %}');

                    if (!data['user_exists']) {
                        let incrementedCount = parseInt(element.parent().siblings('#vote-count').html()) + 1;
                        element.parent().siblings('#vote-count').html(incrementedCount);
                    }
                    if (data['skill_passed']) {
                        element.parents('tr').remove();
                    }
                },
            });
        }

    </script>
{% endblock scripts %}
