{% extends "web/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "inventory/css/inventory.css" %}">
{% endblock head %}

{% block body %}

    {% include "inventory/treemenu.html" %}


    <div class="ui container text-centered">
        <div class="five wide field">
            <select class="ui fluid dropdown search" name="items">
                <option value="">{% trans "Select/search" %}</option>
                {% for item in items %}
                    <option value="{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="item" class="ui input">
            <input type="text" placeholder="Add item">
        </div>
        <div id="add-item" class="ui button">Add item</div>

        <div id="container" class="ui input">
            <input type="text" placeholder="Add container">
        </div>
        <div id="add-container" class="ui button">Add container</div>

        {% comment %}<div class='ui search'>
            <div class="ui icon input" id="inventory-search">
                <input class="prompt" type="text" placeholder="Søkeord"  oninput="myFunction()">
                <i class="search icon"></i>
                <button class="ui button">Søk</button>
            </div>
        </div>{% endcomment %}
        {% for item in items %}
            <div>
                {{ item.name|add:" hey" }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.ui.dropdown').dropdown();
    </script>
{% endblock scripts %}
