{% extends 'web/generic_form.html' %}
{% load i18n %}
{% load hosts %}


{% block title %}{{ form_title|striptags }}{% endblock title %}

{% block field_pre_content %}
    {% if field.name == 'content' %}
        {% for error in field.errors.as_data %}
            <div class="ui negative message">
                <i class="close icon"></i>
                {% if error.code == 'required' %}
                    <div class="header">{% translate "Missing language" %}</div>
                    <p>{{ error.message }}</p>
                {% else %}
                    <b>{{ error.message }}</b>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock field_pre_content %}

{% block field_errors %}
    {% if field.name == 'content' %}
        {# Remove the block's content and add it in the `field_pre_content` block above instead #}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock field_errors %}

{% block fields_post_content %}
    {# Don't need to check if the user has the change permissions, as that's handled by the view before this template is rendered #}
    {% if object.extra_change_permissions.exists and request.user.is_staff %}
        <h3>
            <i>
                <a href="{% host_url 'admin:contentbox_contentbox_change' object.pk host 'admin' %}">
                    {% translate "The extra change permissions can be edited in Django admin" %}
                </a>
            </i>
        </h3>
    {% endif %}
{% endblock fields_post_content %}
