.four.wide.column.make_collapsed+.three.wide.column .make_reservation_calendar_time_table_hour:first-of-type {
    border-left: 1px solid grey;
}


.make_reservation_calendar_time_table_hour {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

.make_reservation_calendar_time_table_dashed_line {
    position: absolute;
    margin-left: -1px;
    border-left: 1px dashed #3e3e3e;
    height: 100%;
    z-index: 5;
}

.make_reservation_calendar_time_table_current_time {
    position: absolute;
    margin-left: -1px;
    border-left: 2px solid #ff0000;
    height: 100%;
    z-index: 10;
}

.make_reservation_calendar_time_table_offset_fix {
    margin-left: 1px !important;
}

.make_reservation_calendar_time_table_dashed_line.left {
    left: 25%;
}

.make_reservation_calendar_time_table_dashed_line.middle {
    left: 50%;
}

.make_reservation_calendar_time_table_dashed_line.right {
    left: 75%;
}

.make_reservation_calendar_time_table_event {
    background-color: #21ba45;
}

.make_reservation_calendar_time_table_non_event {
    background-color: #2185d0;
}

.make_reservation_calendar_time_table_my_non_event {
    background-color: rgb(248, 200, 17);
}

.make_reservation_calendar_time_table_full_row {
    border: 1px solid gray;
}

.make_reservation_calendar_time_table_row {
    border-left: 1px solid gray;
    overflow: hidden;
    padding: 0 !important;
}

.make_reservation_calendar_full_width_controller {
    width: 100%;
}

.make_reservation_calendar_center {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.make_reservation_calendar_time_table_full_row:not(:last-child) {
    border-bottom: 0;
}

.make_reservation_calendar_legend_box {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.make_reservation_calendar_legend_box:not(:first-child) {
    margin-left: 20px;
}

.make_reservation_calendar_time_table_calendar_fill {
    width: 100%;
}

.make_reservation_calendar_time_table_item {
    position: absolute;
    text-align: center;
    height: 100%;
    /* -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);*/
}

.make_reservation_calendar_high_z_index {
    z-index: 100;
}

@media screen and (max-width: 500px) {
    .make_reservation_calendar_time_table_hour:nth-child(3n + 2) {
        display: none !important;
    }

    .make_reservation_calendar_time_table_hour:nth-child(3n) {
        display: none !important;
    }
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
    .make_reservation_calendar_time_table_hour:nth-child(2n) {
        display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    .make_reservation_calendar_control_header_large {
        display: none !important;
    }
}

@media screen and (min-width: 1000px) {
    .make_reservation_calendar_control_header_small {
        display: none !important;
    }
}