.make_reservation_calendar_time_table_event {
    background-color: #21BA45;
    border-top: 1px solid #1B8F3A;
    border-bottom: 1px solid #1B8F3A;
}

.make_reservation_calendar_time_table_non_event {
    background-color: #2185D0;
    border-top: 1px solid #1B629D;
    border-bottom: 1px solid #1B629D;
}

.make_reservation_calendar_time_table_my_non_event {
    background-color: #F8C811;
    border-top: 1px solid #D7AB0F;
    border-bottom: 1px solid #D7AB0F;
}

.make_reservation_calendar_time_table_make {
    background-color: #DCDDDE;
    border-top: 1px solid #BABBBC;
    border-bottom: 1px solid #BABBBC;
    z-index: 200;
}

.make_reservation_calendar_time_table_event:hover {
    cursor: pointer;
}

.make_reservation_calendar_legend_box {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.make_reservation_calendar_legend_item {
    display: inline-block;
    padding-right: 0.5em;
}

.make_reservation_calendar_time_table_calendar_fill {
    width: 100%;
}

.make_reservation_calendar_time_table_item {
    position: absolute;
    width: 100%;
}

.make_reservation_calendar_high_z_index {
    z-index: 100;
}

@media screen and (max-width: 1000px) {
    .make_reservation_calendar_long_month {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .make_reservation_calendar_short_month {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .make_reservation_calendar_legend {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.popup {
    position: absolute;
}

.title_large {
    font-size: 1.2em;
    text-align: center !important;
}

.title_medium {
    font-size: 1.1em;
    font-weight: normal;
    text-align: center !important;;
}

.title_small {
    font-size: 0.9em;
    font-weight: normal;
    text-align: center !important;;
}

.day {
    width: 100%;
    height: 100%;
    position: relative;
}

.hour_indication_line {
    width: 100%;
    height: 12.5%;
    border-bottom: 1px solid lightgrey;
    z-index: 0;
    pointer-events: none;
}

.time_selection {
    position: absolute;
    width: 100%;
    background-color: #38CAFF;
    pointer-events: none;
    border-radius: 0.3em;
}

.time_selection > .start_time {
    left: 0;
    top: -0.7em;
}

.time_selection > .end_time {
    right: 0;
    bottom: -0.7em;
}

.time_selection > .end_time, .time_selection > .start_time {
    position: absolute;
    border: 1px solid lightgrey;
    font-size: 0.8em;
    background-color: white;
    border-radius: 1em;
    width: 3em;
    z-index: 200;
}

.time_selection > .extend {
    height: 10px;
    position: absolute;
    width: 100%;
    pointer-events: all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time_selection > .extend:hover {
    cursor: ns-resize;
}

.time_selection > .extend.top {
    top: 0;
    border-radius: 0.3em 0.3em 0 0;
}

.time_selection > .extend.bottom {
    bottom: 0;
    border-radius: 0 0 0.3em 0.3em;
}

.half_height {
    height: 0.5em;
}

td.wrapping {
    text-align: center !important;
    height: 1px !important;
    padding: 0 !important;
}

tr.wrapping {
    height: 100% !important;
}

.current_time_indicator {
    width: 100%;
    height: 2px;
    background-color: #FF0000;
    position: absolute;
    z-index: 300;
}

@supports (-moz-appearance:none) {
    td.wrapping {
        height: 100% !important;
    }
}
