.make-collapsed-header {
    margin-bottom: 0 !important;
}

.large-text {
    font-size: 1.2em;
}

.make-row-fill {
    height: 100%;
}

.make-right-floated {
    float: right;
    display: inline-block;
}

.make-my-reservation-tablet {
    padding: 2em 0 2em 0;
}

.make-my-reservation-tablet .card {
    flex: auto;
}

.make-my-reservation-button-pad {
    margin-top: -2em;
    padding-bottom: 1.2em !important;
}

.make-my-reservation-blue-link {
    color: #4183C4 !important;
}

.error-border {
    border-color: red !important;
}

.float-fix::after {
    content: "";
    display: block;
    clear: both;
    padding-bottom: 1em;
}

.reservation-management-buttons .button {
    margin-top: 0.5em;
}

.machine-title {
    vertical-align: sub;
    display: inline;
}

.machine-title-field {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.action.list > .item {
    border: 1px solid rgba(34, 36, 38, 0.35) !important;
    border-bottom-width: 0 !important;
}

.action.list > .item:first-child {
    border-radius: 5px 5px 0 0 !important;
}

.action.list > .item:last-child {
    border-bottom-width: 1px !important;
    border-radius: 0 0 5px 5px !important;
}

.action.list > .item a {
    color: rgba(0, 0, 0, 0.4);
}

.action.list .item.disable {
    background-color: rgba(34, 36, 38, 0.20) !important;
}

.action.list .item.disable:hover {
    cursor: default;
}

.action.list a.item.disable,
.action.list a.item.disable:hover {
    cursor: default;
}

.large.middle.aligned.list.icon {
    padding: 0;
}

.large.middle.aligned.cogs.icon {
    font-size: 1.3em;
    padding: 0;
}


/* Desktop layout (quota_panel.html) */
@media screen and (min-width: 992px) {
    .quotas .card,
    #user-quotas .card {
        width: max-content; /* 10px wider than Fomantic-UI, to fit the text */
    }

    .quotas .card .content,
    #user-quotas .card .content {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width: 800px) {
    .make-my-reservation-tablet {
        display: none !important;
    }
}


@media screen and (max-width: 800px) {
    .make-my-reservation-desktop {
        display: none !important;
    }
}
