.make_collapsed:not(:first-child) {
    padding-left: 0 !important;
}

.make_collapsed:not(:last-child) {
    padding-right: 0 !important;
}

.make_collapsed_top_bottom:not(:first-child) {
    padding-top: 0 !important;
}

.make_collapsed_top_bottom:not(:last-child) {
    padding-bottom: 0 !important;
}

.make_collapsed_header {
    margin-bottom: 0 !important;
}

.make_collapsed_header_all {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.make_collapsed_top_bottom_all {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.large-text {
    font-size: 1.2em;
}

.make_row_fill {
    height: 100%;
}

.make_hidden {
    display: none !important;
}

/* Tables on mobile have very specific rules that use !important */
@media only screen and (max-width: 767px) {
    .ui.table > tbody > tr.make_hidden {
        display: none !important;
    }
}

.make_non_visible {
    visibility: hidden !important;
}

.make_right_floated {
    float: right;
    display: inline-block;
}

.make_my_reservation_event {
    border-left: 2px solid #008000;
}

@media screen and (max-width: 800px) {
    .make_my_reservation_desktop {
        display: none !important;
    }
}

.make_my_reservation_cards_padding {
    padding: 2em 0 2em 0;
}

.make_my_reservation_button_pad {
    margin-top: -2em;
    padding-bottom: 1.2em !important;
}

.make_my_reservation_blue_link {
    color: #4183C4 !important;
}

.error_border {
    border-color: #FF0000 !important;
}

.float_fix::after {
    content: "";
    display: block;
    clear: both;
    padding-bottom: 1em;
}

@media screen and (min-width: 800px) {
    .make_my_reservation_tablet {
        display: none !important;
    }
}

.machine-title {
    vertical-align: sub;
    display: inline;
}

.machine-title-field {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.action.list > .item {
    border: 1px solid rgba(34, 36, 38, 0.35) !important;
    border-bottom-width: 0 !important;
}

.action.list > .item:first-child {
    border-radius: 5px 5px 0 0 !important;
}

.action.list > .item:last-child {
    border-bottom-width: 1px !important;
    border-radius: 0 0 5px 5px !important;
}

.action.list > .item a {
    color: rgba(0, 0, 0, 0.4);
}

.action.list .item.disable {
    background-color: rgba(34, 36, 38, 0.20) !important;
}

.action.list .item.disable:hover {
    cursor: default;
}

.action.list a.item.disable,
.action.list a.item.disable:hover {
    cursor: default;
}

.large.middle.aligned.list.icon {
    padding: 0;
}

.large.middle.aligned.cogs.icon {
    font-size: 1.3em;
    padding: 0;
}
