.machine-type-title {
    vertical-align: sub;
    display: inline;
}

.reservation-management-buttons .button {
    margin-top: 0.5em;
}

.machine-type-title-field {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
