.machine-title {
    vertical-align: sub;
    display: inline;
}

.machine-title-field {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.machine-info-and-actions {
    display: grid;
    grid-row-gap: 2em;
    margin-bottom: 2em;
}


/* Desktop and tablet layout */
@media screen and (min-width: 768px) {
    .machine-info-and-actions {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .machine-info-and-actions .machine-image {
        justify-self: end;
        align-self: center;
        margin-left: 2em;
    }

    .machine-info-and-actions .actions-list {
        grid-column: 2;
        grid-row: 1;
    }
}


/* Mobile layout */
@media screen and (max-width: 767.98px) {
    .machine-info-and-actions .machine-image {
        margin: 0 auto;
    }
}
