@media screen and (max-width: 1000px) {
    .make_reservation_calendar_control_header_large {
        display: none !important;
    }
}

@media screen and (min-width: 1000px) {
    .make_reservation_calendar_control_header_small {
        display: none !important;
    }
}

.make_reservation_calendar_button_full_width {
    width: 100%;
}

a.wrapped.button {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ui.grid > .column.no.padding {
    padding: 0;
}

.time_selection_button.make_yellow.button {
    width: 100% !important;
    margin-top: 0.75em;
}

.ui.grid.vpad > .column,
.ui.grid.vpad > .column.no.padding {
    padding-bottom: 1em;
}

/* Dropdown should not be overlapped by reservations, which have a maximum z-index of 200 (300 for current_time_indicator) */
.ui.action.list .menu {
    z-index: 301;
    width: 100%;
}
