.username {
    color: grey;
}

.users {
    max-width: 300px;
}

.users > .item {
    padding-left: 0.4em !important;
}

.permissions {
    --sidebar-top-offset: 20px;

    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: var(--sidebar-top-offset);
}

.full_width {
    width: 100%;
}

.machine_card .meta {
    padding-bottom: 0.5em !important;
    border-bottom: 1px solid gray;
    margin-bottom: 0.5em !important;
}

.quota_label {
    font-weight: 700;
}

.quota_field:not(:last-child) {
    margin-bottom: 1em;
}

.success_submit {
    background-color: #008000 !important;
}

.loading_submit {
    background-color: #FFA500 !important;
}

/* Scroll overflow of sidebar when screen is shorter than the sidebar's height + 20px (--sidebar-top-offset) */
@media screen and (max-height: 720px) {
    .permissions {
        height: calc(100vh - var(--sidebar-top-offset));
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .permissions > #quota_user {
        margin-left: 0;
    }
}
