.stream.image {
    cursor: pointer;
}

.stream.image:not(.ui) {
    position: absolute;
    width: 100%;
}

.ui.stream.image:not(.fullscreen) {
    border: 1px solid #A5BBC9;
    border-radius: 0.28571429rem;
}

.stream.image.fullscreen {
    position: fixed !important; /* Overrides Fomantic-UI */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 95vh;
    object-fit: contain;
    z-index: 1000;
}

.stream.image.fullscreen.floated {
    float: none;
    margin: 0;
}

#fader {
    display: none;
}

#fader.fullscreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 990;
    background-color: rgba(0, 0, 0, 1);
}

#close-fullscreen-button {
    display: none;
    cursor: pointer;
}

#close-fullscreen-button.fullscreen {
    display: block;
    color: #FFF;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 32px;
    z-index: 1010;
}
