.stream.image {
    position: absolute;
    width: 100%;
}

.stream.image:hover {
    cursor: pointer;
}

.stream.image.fullscreen {
    position: fixed !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 95vh;
    object-fit: contain;
    z-index: 1000;
}

#fader {
    display: none;
}

#fader.fullscreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 990;
    background-color: rgba(0, 0, 0, 1);
}

#closefullscreen {
    display: none;
}

#closefullscreen.fullscreen {
    display: block;
    color: #ffffff;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 32px;
    z-index: 1010;
}

#closefullscreen:hover {
    cursor: pointer;
}
