{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <script defer src="{% static 'make_queue/js/machine_edit.js' %}"></script>
{% endblock head %}

{% block body %}
    <div class="ui container">
        <h1 class="ui centered header">
            {% block form_title %}
                {% trans "Edit machine" %}
            {% endblock form_title %}
        </h1>
        <form class="ui form container" method="POST">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="ui negative small message">
                            <i class="close icon"></i>
                            <b>{{ error|escape }}</b>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                {% if form.machine_type %}
                    <div class="ui field">
                        <label>{{ form.machine_type.label }}</label>
                        {{ form.machine_type }}
                    </div>
                {% endif %}
            </div>
            <div class="ui two fields">
                {% if form.machine_model %}
                    <div class="ui field">
                        <label>{{ form.machine_model.label }}</label>
                        {{ form.machine_model }}
                    </div>
                {% endif %}
            </div>
            <div class="ui two fields">
                <div class="ui text field">
                    <label>{{ form.location.label }}</label>
                    {{ form.location }}
                </div>
                <div class="ui field">
                    <label>{{ form.location_url.label }}</label>
                    {{ form.location_url }}
                </div>
            </div>
            <div class="ui two fields">
                <div class="ui field">
                    <label>
                        {{ form.priority.label }}
                        <span data-content="{{ form.priority.help_text }}">
                            <i class="ui make-col-yellow question circle icon"></i>
                        </span>
                    </label>
                    {{ form.priority }}
                </div>
                <div class="ui field">
                    <label>{{ form.status.label }}</label>
                    {{ form.status }}
                </div>
            </div>

            <div class="ui two fields">
                <div class="ui text field">
                    <label>{{ form.stream_name.label }}</label>
                    {{ form.stream_name }}
                </div>
            </div>
            
            <input class="ui right floated make-bg-yellow submit button" type="submit" value="{% trans "Save" %}"/>
            <a class="ui right floated red button" href="{% url 'reservation_machines_overview' %}">
                {% trans "Cancel" context "abort action" %}
            </a>
        </form>
    </div>

    <script>
        $(".message .close").click(function () {
            $(this)
                .closest(".message")
                .transition("fade");
        });

        $("span[data-content]").popup();
    </script>
    {{ has_stream_dict |json_script:"has-stream-dict" }}
{% endblock body %}
