#header {
    height: 4.75em;
    background-color: rgb(34, 43, 52);
    padding: 1em;
    color: #FFF;
}

#page-search {
    float: right;
}

#new-page {
    margin: 0.1em 0.5em;
}

#home-button {
    height: 100%;
    display: inline-block;
}

#home-button img {
    display: block;
    height: 100%;
    object-fit: contain;
}


@media screen and (max-width: 500px) {
    #page-search input {
        width: 10em;
    }
}
