{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% load html_tags %}


{% block title %}
    {% blocktranslate with title=event.title %}Tickets for “{{ title }}”{% endblocktranslate %}
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'news/css/event/admin_event_ticket_list.css' %}"/>
    <script defer src="{% static 'news/js/event/ticket/email_copy.js' %}"></script>
{% endblock extra_head %}

{% block body %}

    <div class="ui container">
        <a href="{% url 'admin_event_detail' event.pk %}">
            <i class="angle double left icon"></i>{% translate "Event admin page" %}
        </a>
        <h1 class="word-breaking hyphenated">{{ event.title }}</h1>

        <h3>{% translate "Email Addresses of Ticket Holders" %}</h3>
        <div class="emails-container">
            <div class="copy-button-container">
                <button class="copy-token ui make-bg-yellow icon button"><i class="clipboard icon"></i></button>
                <span class="popup-trigger"
                      data-content="{% translate "Click to copy the email addresses of the active tickets to the clipboard" %}.">
                    <i class="make-col-yellow question circle icon"></i>
                </span>
            </div>
            <input readonly class="copy-input input-monospace" value="{{ ticket_emails }}"/>
        </div>

        <h3>{% translate "tickets"|capfirst %}</h3>
        <b>
            {% blocktranslate trimmed with num_active_tickets=focused_object.number_of_active_tickets num_tickets=focused_object.number_of_tickets %}
                {{ num_active_tickets }}/{{ num_tickets }} tickets reserved
            {% endblocktranslate %}
        </b>
        <div class="ui relaxed divided list">
            {% for ticket in tickets %}
                <div class="item">
                    <span class="right floated">
                        {% if ticket.active %}
                            <span class="ui green label">{% translate "active"|capfirst %}</span>
                        {% else %}
                            <span class="ui red label">{% translate "canceled"|capfirst %}</span>
                        {% endif %}
                    </span>
                    <i class="very large middle aligned {% if ticket.active %}green{% else %}red{% endif %} circle icon"></i>
                    <div class="ui content">
                        <div class="word-breaking hyphenated header">
                            {{ ticket.name }}
                            &ndash; {{ ticket.email|urlize_target_blank }}
                        </div>
                        <div class="description">
                            <div class="word-breaking">
                                <b>{% translate "Ref #" %}:</b>
                                <a href="{{ ticket.get_absolute_url }}">{{ ticket.uuid }}</a>
                            </div>
                            <div>
                                <b>{% translate "language"|capfirst %}:</b> {{ ticket.get_language_display }}
                            </div>
                            {% if ticket.comment %}
                                <div class="word-breaking hyphenated">
                                    <b>{% translate "comment"|capfirst %}:</b> {{ ticket.comment }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                {% translate "No tickets have been registered for this event" %}
            {% endfor %}
        </div>
    </div>

{% endblock body %}
