{% extends 'news/news_base_form.html' %}
{% load static %}
{% load i18n %}


{% block extra_head %}
    {{ block.super }}
    <script defer src="{% static 'news/js/event/event_form.js' %}"></script>
{% endblock extra_head %}

{% block field %}
    {% if field.name == 'event_type' %}
        <div class="ui field">
            <div class="grouped fields">
                <label>{{ field.label }}</label>

                <div class="field">
                    <div class="ui radio checkbox">
                        <input id="repeating" type="radio" name="{{ field.name }}" value="{{ Event.Type.REPEATING }}"
                               {% if field.value == Event.Type.REPEATING %}checked{% endif %}/>
                        <label for="repeating">{% trans "Repeating" %}
                            <span class="popup-trigger" data-content="{% blocktrans trimmed %}
                                Used for repeating events where the user is to register for one of several occurrences.
                                Each occurrence will have its own registration.
                            {% endblocktrans %}">
                                <i class="make-col-yellow question circle icon"></i>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui radio checkbox">
                        <input id="standalone" type="radio" name="{{ field.name }}" value="{{ Event.Type.STANDALONE }}"
                               {% if field.value == Event.Type.STANDALONE %}checked{% endif %}/>
                        <label for="standalone">{% trans "Standalone" %}
                            <span class="popup-trigger" data-content="{% blocktrans trimmed %}
                                Used for events that happen once, e.g. a weekend-long happening.
                                All occurrences of the event will have a common registration.
                            {% endblocktrans %}">
                                <i class="make-col-yellow question circle icon"></i>
                            </span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    {% elif field.name == 'number_of_tickets' %}
        <div class="ui field">
            <div class="ui field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div id="info-message-tickets" class="ui blue pointing basic label">
                    {% trans "A value of zero indicates that no registration is required" %}.
                </div>
            </div>
            <div id="info-message-tickets-repeating" class="ui red pointing basic label">
                {% trans "Only used for standalone events. For repeating events, tickets are administered per occurrence." %}
            </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock field %}
