{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}{% translate "My profile" %} &ndash; {{ request.user.get_full_name }}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'checkin/css/profile_detail.css' %}"/>
    {% if perms.internal.is_internal %}
        <!--suppress ES6ConvertVarToLetConst -->
        <script>
            {# These variables are used in `profile_detail.js` #}
            var csrfToken = "{{ csrf_token }}";
            var registerProfileURL = "{% url 'register_profile' %}";
        </script>
        <script defer src="{% static "checkin/js/profile_detail.js" %}"></script>
    {% endif %}
{% endblock extra_head %}

{% block body %}
    <div class="ui text container">
        <h1 class="word-breaking hyphenated">
            {% translate "My profile" %}
            &ndash; {{ request.user.get_full_name }}
        </h1>

        {% if perms.internal.is_internal %}
            {% include 'checkin/profile_internal.html' %}
            <br/>
        {% endif %}

        <h3>{% translate "Completed courses" %}:</h3>
        <table class="ui compact unstackable celled table">
            <tbody>
            {% for struct in completed_course_message_structs %}
                {% include 'checkin/profile_completion_table_row.html' with completed=struct.completed message=struct.message hint=struct.usage_hint %}
            {% endfor %}
            </tbody>
        </table>
        <p>
            <i>
                {% url 'contact' as contact_url %}
                {% blocktranslate trimmed with link_start='<a href="'|add:contact_url|safe|add:'" target="_blank">' link_end='</a>' %}
                    Please {{ link_start }}contact us{{ link_end }} if any of this information is incorrect,
                    but keep in mind that it might take us a few days to register course participants after a course has ended.
                {% endblocktranslate %}
                <br/>
                {% url 'event_list' as event_list_url %}
                {% blocktranslate trimmed with link_start='<a href="'|add:event_list_url|safe|add:'" target="_blank">' link_end='</a>' %}
                    Otherwise, see {{ link_start }}the events page{{ link_end }} for previous and upcoming courses.
                {% endblocktranslate %}
            </i>
        </p>
    </div>
{% endblock body %}
