{% extends 'internal/base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    {% translate "The wiki of MAKE lore" %}
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'internal/css/lore_list.css' %}"/>
    <script src="{% static 'internal/js/lore_list.js' %}"></script>
{% endblock extra_head %}

{% block body %}
    <div id="lore-page">
        <div id="lore-wiki-list" class="word-breaking hyphenated">
            <h2>{% translate "Topics" %}
                {% if perms.internal.add_lore %}
                    <a href="{% url 'lore_create' %}">
                        <i class="green plus icon"></i>
                    </a>
                {% endif %}
            </h2>
            {% include 'internal/lore/lore_list__article_links.html' %}
        </div>

        {# Checkbox belongs to hamburger menu. Checkbox status decides if hamburger menu will be shown or not #}
        <input type="checkbox" id="burger-input"/>
        <label id="lore-burger-icon" for="burger-input"></label>
        <h2>{% translate "Topics" %}
            {% if perms.internal.add_lore %}
                <a href="{% url 'lore_create' %}">
                    <i class="green plus icon"></i>
                </a>
            {% endif %}
        </h2>
        <div id="lore-burger-menu" class="word-breaking hyphenated">
            {% include 'internal/lore/lore_list__article_links.html' %}
        </div>

        <div id="lore-article">
            {% if show_article %}
                <h1 class="lore-heading word-breaking hyphenated">{{ shown_lore_article.title|capfirst }}</h1>
                {% if perms.internal.delete_lore and shown_lore_article.title != "Dev" %}
                    <a class="delete-modal-button"
                        data-url="{% url 'lore_delete' shown_lore_article.slug %}"
                        data-obj-name="{{ shown_lore_article }}">
                        <i class="red trash icon"></i>
                    </a>
                {% endif %}
                {% if perms.internal.change_lore and shown_lore_article.title != "Dev" %}
                    <a href="{% url 'lore_update' shown_lore_article.slug %}">
                        <i class="make-col-yellow pencil icon"></i>
                    </a>
                {% endif %}
                <div class="lore-container word-breaking hyphenated">
                    <p>{{ shown_lore_article.content|safe }}</p>
                </div>
            {% else %}
                <h1>{% translate "Welcome to the wiki of MAKE lore" %}</h1>
                <p>{% translate "Click a topic in the menu to access a wiki article" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock body %}
