{% extends base_template %}
{% load static %}
{% load i18n %}


{% block title %}{{ form_title }}{% endblock title %}

{% block extra_head %}
    {{ form.media }}
{% endblock extra_head %}

{% block body %}
    <div class="ui {% if narrow %}text{% endif %} container">

        {% block back_button %}
            <a href="{{ back_button_link }}" style="font-size: 1.15rem;">
                <i class="angle double left icon"></i>{{ back_button_text }}
            </a>
        {% endblock back_button %}
        {% block form_header %}
            <h1 class="word-breaking hyphenated ui {% if centered_title %}centered{% endif %} header">
                {{ form_title }}
            </h1>
        {% endblock form_header %}

        {% block extra_pre_content %}{% endblock %}

        <form class="ui form {% if narrow %}text container{% endif %}" method="POST"
              {% if has_file_field %}enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="ui negative message">
                    <i class="close icon"></i>
                    <b>{{ error }}</b>
                </div>
            {% endfor %}

            {% for fieldset in fieldsets %}
                {% if fieldset.type == 'heading' %}
                    <h4 class="ui horizontal divider header">
                        {% if 'icon_class' in fieldset %}<i class="{{ fieldset.icon_class }} icon"></i>{% endif %}{{ fieldset.heading }}
                    </h4>
                {% elif fieldset.type == 'fieldset' %}
                    {% block fieldset %}
                        {% if 'layout_class' in fieldset %}
                            <div class="{{ fieldset.layout_class }}">
                        {% endif %}

                        {% for field in fieldset.fields %}
                            {% block field %}
                                <div class="
                                    {% block field_classes %}
                                        ui {% if field.is_checkbox %}checkbox{% endif %} field
                                        {% if field.errors %}error{% endif %}
                                    {% endblock field_classes %}">

                                    {% block field_pre_content %}{% endblock field_pre_content %}
                                    {# Checkbox fields should have the field before the label #}
                                    {% if field.is_checkbox %}
                                        {{ field }}
                                    {% endif %}
                                    {% block field_label %}
                                        <label for="{{ field.id_for_label }}">
                                            {% block field_label_text %}
                                                {{ field.label }}
                                            {% endblock field_label_text %}
                                            {% if field.help_text %}
                                                <span class="popup-trigger" data-content="{{ field.help_text }}">
                                                    <i class="make-col-yellow question circle icon"></i>
                                                </span>
                                            {% endif %}
                                        </label>
                                    {% endblock field_label %}
                                    {# Non-checkbox fields should have the field after the label #}
                                    {% if not field.is_checkbox %}
                                        {{ field }}
                                    {% endif %}
                                    {% block field_post_content %}{% endblock field_post_content %}

                                    {% block field_errors %}
                                        {% for error in field.errors %}
                                            <div class="ui negative small message">
                                                <i class="close icon"></i>
                                                <b>{{ error }}</b>
                                            </div>
                                        {% endfor %}
                                    {% endblock field_errors %}

                                </div>
                            {% endblock field %}
                        {% endfor %}

                        {% if 'layout_class' in fieldset %}
                            </div>
                        {% endif %}
                    {% endblock fieldset %}
                {% endif %}
            {% endfor %}

            {% block fields_post_content %}{% endblock fields_post_content %}

            <input class="ui {% if right_floated_buttons %}right floated{% endif %} make-bg-yellow submit button"
                   type="submit" value="{{ save_button_text }}"/>
            {% if cancel_button %}
                <a class="ui {% if right_floated_buttons %}right floated{% endif %} red button" href="{{ back_button_link }}">
                    {% translate "Cancel" context "abort action" %}
                </a>
            {% endif %}
        </form>

        {% block extra_post_content %}{% endblock %}

    </div>
{% endblock body %}
