{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load announcement_tags %}


{% block title %}{% translate "Front page" %}{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'news/css/event/event_list_contents.css' %}"/>
    <link rel="stylesheet" href="{% static 'news/css/article/article_list_contents.css' %}"/>
    <link rel="stylesheet" href="{% static 'web/css/index.css' %}"/>
    <script defer src="{% static 'news/js/article/article_list_contents.js' %}"></script>
    <script defer src="{% static 'lib/parallax/parallax.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(".parallax-window").parallax({"speed": 0.5});
        });
    </script>
{% endblock extra_head %}

{% block padding_top %}{% endblock %}

{% block header %}
    {{ block.super }}

    {# Show non-site-wide announcements on the front page #}
    {% non_site_wide_announcements as announcements %}
    {% for announcement in announcements %}
        {% include 'announcements/announcement_banner.html' with announcement=announcement %}
    {% endfor %}
{% endblock header %}

{% block body %}
    <div class="banner-container">
        <div class="banner-img large parallax-window" data-parallax="scroll" data-image-src="{% static 'web/img/topimg_2.jpg' %}"></div>
        <img class="banner-img small" src="{% static 'web/img/topimg_small.jpg' %}" alt=""/>
        <img class="banner-logo" src="{% static 'web/img/logo_allblack.svg' %}" alt="{% translate "MAKE NTNU's logo" %}"/>
    </div>

    <div class="make-content-padding">{# Empty div for spacing #}</div>

    <div class="ui container">
        {% include 'news/event/index_event_list_contents.html' with event_dicts=featured_event_dicts ribbon_extra_classes="yellow make-bg-yellow" %}
        <hr class="make-bg-yellow event-article-border"/>
    </div>

    <div class="ui container">
        {% include 'news/article/article_list_contents.html' with articles=featured_articles %}
    </div>
{% endblock body %}
