{% extends 'web/base.html' %}
{% load i18n %}


{% comment %}
    This is a simple login page only intended to be used when testing locally.
    When running the page in production, we want to only use login through Dataporten,
    as this is safer (we do not need to care about passwords) and most of our accounts
    do not actually have a password registered for our site.
{% endcomment %}

{% block title %}{% translate "log in"|capfirst %}{% endblock title %}

{% block body %}

    <div class="ui container">
        <form class="dont-prevent-leaving ui form" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="ui field">
                    <label>{{ form.password.label }}</label>
                    {{ form.password }}
                </div>
            </div>

            <button class="ui right floated make-bg-yellow button">
                {% translate "log in"|capfirst %}
            </button>
            <a class="ui right floated red button" href="{% url 'index_page' %}">
                {% translate "Cancel" context "abort action" %}
            </a>
        </form>
    </div>

{% endblock body %}
