{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% load datetime_tags %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'make_queue/css/course_registration_list.css' %}"/>
{% endblock extra_head %}

{% block body %}

    <div class="ui container">
        <h1>
            {% trans "Course registrations" %}
            <a href="{% url 'create_course_registration' %}" data-tooltip="{% trans "Add" %}">
                <i class="ui green plus icon"></i>
            </a>
        </h1>

        <form id="download-users" class="ui form" method="POST" action="{% url 'download_course_registrations' %}">
            {% csrf_token %}
            <div class="ui fields">
                <div class="ui six wide field">
                    <label>{% trans "Filter users based on name" %}</label>
                    <input id="search" type="text" placeholder="{% trans "Search name and username" %}"
                           name="search_text"/>
                </div>
                <div class="ui four wide field">
                    <label>{% trans "Filter users based on status" %}</label>
                    <div class="ui selection dropdown">
                        <input id="status-filter" type="hidden" name="status_filter" value=""/>
                        <i class="ui dropdown icon"></i>
                        <div class="default text"></div>
                        <div class="menu">
                            <div class="item" data-value="">{% trans "All" %}</div>
                            {% for value, name in possible_statuses %}
                                <div class="item" data-value="{{ value }}">{{ name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <input id="selected" type="hidden" name="selected"/>
                <div class="ui six wide field">
                    {# Using label with non-blocking space to keep the download button further down #}
                    <label>&nbsp;</label>
                    <button class="ui right floated make-bg-yellow button">
                        {% trans "Download filtered users" %}
                    </button>
                </div>
            </div>
        </form>

        {# Prepopulated area to be shown when one or more rows are selected #}
        <div id="selected-actions" class="display-none ui secondary segment">
            <h4>
                <span id="num-selected"></span> {% trans "user(s) selected" %}
            </h4>
            <div class="ui form">
                <div class="ui fields">
                    <div class="ui six wide field">
                        <label>{% trans "Set status for all selected users" %}</label>
                        <div class="ui selection dropdown">
                            <input id="status-set" type="hidden" name="status_set" value=""/>
                            <i class="ui dropdown icon"></i>
                            <div class="default text">{% trans "Select status" %}</div>
                            <div class="menu">
                                {% for value, name in possible_statuses %}
                                    <div class="item" data-value="{{ value }}">{{ name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="ui ten wide field">
                        <label>&nbsp;</label>
                        <button id="clear-selected-users" class="ui right floated make-bg-yellow button">
                            {% trans "Clear selected users" %}
                        </button>
                        <button id="show-selected-users" class="ui right floated make-bg-yellow button">
                            {% trans "Toggle non-selected users" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# Table of registrations #}
        <table class="ui very simple selectable celled table">
            <thead>
            <tr>
                <th data-column-name="name">{% trans "Name" %}<i class="ui icon sort down"></i></th>
                <th data-column-name="username">{% trans "Username" %}</th>
                <th data-column-name="cardNumber">{% trans "Card number" %}</th>
                <th data-column-name="date">{% trans "Date" %}</th>
                <th data-column-name="status">{% trans "Status" %}</th>
                <th data-column-name="advancedCourse">{% trans "Advanced" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in registrations %}
                <tr class="display-none o v e r r i d e"
                    data-pk="{{ registration.pk }}"
                    data-name="{{ registration.name }}"
                    data-username="{{ registration.username }}"
                    data-card-number="{{ registration.card_number|default:"" }}"
                    data-date="{{ registration.date|iso_date }}"
                    data-status="{{ registration.status }}"
                    data-advanced-course="{{ registration.advanced_course }}"
                >
                    <td>
                        {{ registration.name }}
                        <a href="{% url 'edit_course_registration' registration.pk %}">
                            <i class="ui make-col-yellow pencil icon"></i>
                        </a>
                        {% if perms.make_queue.delete_printer3dcourse %}
                            <a class="delete-modal-button"
                               data-url="{% url 'delete_course_registration' registration.pk %}"
                               data-prompt="{% blocktrans trimmed with user=registration.get_user_display_name %}
                                                Are you sure you want to delete the course registration of {{ user }}?
                                            {% endblocktrans %}">
                                <i class="ui red trash icon"></i>
                            </a>
                        {% endif %}
                        {% if registration.user %}
                            <span data-tooltip="{% trans "Connected to user" %}">
                                <i class="ui icon user"></i>
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        {{ registration.username }}
                    </td>
                    {% if registration.card_number %}
                        <td class="right aligned">
                            {{ registration.card_number }}
                        </td>
                    {% else %}
                        <td class="error"></td>
                    {% endif %}
                    <td>{{ registration.date|iso_date }}</td>
                    <td class="{% if registration.status != "access" %}warning{% endif %}">
                        {{ registration.get_status_display }}
                    </td>
                    <td>
                        {% if registration.advanced_course %}
                            {% trans "Yes" %}
                        {% else %}
                            {% trans "No" %}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div id="pagination-bar" class="ui right floated pagination menu">
            <a id="left-skip" class="item">
                <i class="ui icon double angle left"></i>
            </a>
            <a id="left-change" class="item">
                <i class="ui icon angle left"></i>
            </a>
            <a id="right-change" class="item">
                <i class="ui icon angle right"></i>
            </a>
            <a id="right-skip" class="item">
                <i class="ui icon double angle right"></i>
            </a>
        </div>
        <span>
            {% trans "Filter matches" %}
            <b>
                <span id="num-registrations-filtered">{{ registrations|length }}</span>/{{ registrations|length }}
            </b>
            {% trans "registrations" %}
        </span>
        <br/>
        <span>
            {% trans "Displaying" %}
            <b>
                <span id="displayed-registrations-count">{{ registrations|length }}</span>/{{ registrations|length }}
            </b>
            {% trans "registrations" %}
        </span>
    </div>

    {# Modal for confirmation of bulk status update on selected users #}
    <div id="set-status-modal" class="ui modal">
        <div class="ui icon header">
            <i class="make-col-yellow exclamation icon"></i>
            {% trans "Set status of users to" %} &quot;<i><span id="set-status-text"></span></i>&quot;
        </div>

        <form method="POST" action="{% url 'bulk_status_update' %}">
            {% csrf_token %}
            <input id="status" type="hidden" value="" name="status"/>
        </form>

        <div class="content">
            <p><b>{% trans "You are changing the status for the following users" %}:</b></p>
            <p id="selected-users"></p>
            <p><b>{% trans "Are you sure you want to do this?" %}</b></p>
        </div>

        <div class="actions">
            <div class="ui green ok button">
                {% trans "Set status" %}
            </div>
            <div class="ui red cancel button">
                {% trans "Cancel" context "abort action" %}
            </div>
        </div>
    </div>

    <script src="{% static 'make_queue/js/course_registration_list.js' %}"></script>
{% endblock body %}
