{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% load form_utility %}


{% block extra_head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'make_queue/css/course_registration_edit.css' %}"/>
{% endblock extra_head %}

{% block body %}

    <div class="ui container">
        <h1>
            {% block form_title %}
                {% trans "Edit course registration" %}
            {% endblock form_title %}
        </h1>

        {% block messages %}
            <div id="username-not-found-warning" class="ui warning message hidden">
                <i class="close icon"></i>
                <div class="header">
                    {% trans "Could not find the user in the NTNU database" %}
                </div>
                <p>{% trans "Are you sure you entered the correct username?" %}</p>
            </div>
            {% form_has_error form field="username" error_code="unique" as unique_error %}
            {% if unique_error %}
                <div class="ui error message">
                    <i class="close icon"></i>
                    <div class="header">
                        {% trans "A user with this username is already registered" %}
                    </div>
                    <p>{% trans "Either the user has already taken the course, or the username of another user has been entered" %}.</p>
                </div>
            {% endif %}
        {% endblock messages %}
        {% for error in form.card_number.errors %}
            <div class="ui error message">
                <i class="close icon"></i>
                <div class="header">
                    {{ error }}
                </div>
            </div>
        {% endfor %}


        <form class="ui form" method="POST" action="{% block form_action %}{% endblock %}">
            {% csrf_token %}

            <div class="ui horizontal divider">
                {% trans "User information" %}
            </div>

            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="ui field">
                    <label>{{ form.card_number.label }}</label>
                    {{ form.card_number }}
                </div>

            </div>
            <div class="ui two fields">
                <div class="ui field">
                    <label>
                        {{ form.user.label|capfirst }}
                        <span class="clear-dropdown">{% trans "Clear selection" %}</span>
                    </label>
                    {{ form.user }}
                </div>
                <div class="ui field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
            </div>

            <div class="ui horizontal divider">
                {% trans "Registration status" %}
            </div>

            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.date.label }}</label>
                    {{ form.date }}
                </div>
                <div class="ui field">
                    <label>{{ form.status.label }}</label>
                    {{ form.status }}
                </div>
            </div>

            <div class="ui one field">
                <div class="ui field">
                    <label>{{ form.advanced_course.label }}</label>
                    <div class="ui checkbox">
                        {{ form.advanced_course }}
                        <label>{% trans "Yes" %}</label>
                    </div>
                </div>
            </div>

            <button class="ui right floated make-bg-yellow button">
                {% block submit_button %}
                    {% trans "Submit" context "edit" %}
                {% endblock submit_button %}
            </button>
            <a class="ui right floated red button" href="{% url 'course_registration_list' %}">
                {% trans "Cancel" context "abort action" %}
            </a>
        </form>
    </div>

    <script>
        $(".clear-dropdown").click(function () {
            $(this).closest("div.ui.field").find("div.dropdown")
                .dropdown("clear")
                .find("input.search").val("");
        });

        $("input[name='username']").focusout((event) => {
            $.ajax(`${LANG_PREFIX}/reservation/json/${$(event.target).val()}/`, {
                success: function (data) {
                    const fullName = data["full_name"];
                    if (fullName)
                        $("input[name='name']").val(fullName);
                    $("#username-not-found-warning").fadeOut();
                },
                error: function () {
                    $("#username-not-found-warning").fadeIn();
                },
            });
            $("#user").closest(".dropdown").dropdown("set selected", $(event.target).val());
        });
    </script>
{% endblock body %}
