{% extends "web/base.html" %}
{% load i18n %}
{% load static %}

{% block body %}

    <style>
        .make_hidden {
            display: none;
        }
    </style>

    <div class="ui container">
        <h1>
            {% trans "Course registrations" %}
            <a href="{% url "create_course_registration" %}" data-tooltip="{% trans "Add" %}">
                <i class="ui green plus icon"></i>
            </a>
        </h1>

        <form class="ui form" method="POST" action="download/">
            {% csrf_token %}
            <div class="ui fields">
                <div class="ui six wide field">
                    <input type="text" placeholder="{% trans "Search name and username" %}" id="search"
                           name="search_text">
                </div>
                <div class="ui four wide field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="status_filter" value="">
                        <i class="ui dropdown icon"></i>
                        <div class="default text"></div>
                        <div class="menu">
                            <div class="item" data-value="">{% trans "All" %}</div>
                            {% for choice in possible_statuses %}
                                <div class="item" data-value="{{ choice.0 }}">{{ choice.1 }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button class="ui right floated yellow button">
                    {% trans "Download displayed users" %}
                </button>
            </div>
        </form>

        <div>
            <div class="ui inverted dimmer" id="loader">
                <div class="ui text loader">{% trans "Sorting" %}</div>
            </div>
            <p></p>
        </div>

        <div>
            <span>
                {% trans "Displaying" %}
                <b><span id="number-displayed">{{ registrations|length }}</span>/{{ registrations|length }}</b>
                {% trans "registrations" %}
            </span>
        </div>
        <table class="ui very simple selectable celled table">
            <thead>
            <tr>
                <th data-column-name="name">{% trans "Name" %}<i class="ui icon sort down"></i></th>
                <th data-column-name="username">{% trans "Username" %}</th>
                <th data-column-name="cardNumber">{% trans "Card number" %}</th>
                <th data-column-name="date">{% trans "Date" %}</th>
                <th data-column-name="status">{% trans "Status" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in registrations %}
                <tr data-name="{{ registration.name }}" data-username="{{ registration.username }}"
                    data-card-number="{{ registration.card_number|default:"" }}"
                    data-date="{{ registration.date|date:"Y-m-d" }}"
                    data-status="{{ registration.status }}" class="make_hidden">
                    <td>
                        {{ registration.name }}
                        <a href="{% url "edit_course_registration" registration.pk %}">
                            <i class="ui yellow pencil icon"></i>
                        </a>
                        {% if perms.delete_printer3dcourse %}
                            <a class="delete confirm" href="{% url "delete_course_registration" registration.pk %}">
                                <i class="ui red trash icon"></i>
                            </a>
                        {% endif %}
                        {% if registration.user %}
                            <span data-tooltip="Connected to user">
                                <i class="ui icon user"></i>
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        {{ registration.username }}
                    </td>
                    {% if registration.card_number %}
                        <td class="right aligned">
                            {{ registration.card_number }}
                        </td>
                    {% else %}
                        <td class="error"></td>
                    {% endif %}
                    <td>{{ registration.date|date:"Y-m-d" }}</td>
                    <td class="{% if registration.status != "access" %}warning{% endif %}">
                        {{ registration.get_status_display }}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <div class="ui right floated pagination menu" id="pagination-bar">
            <a class="item" id="left-skip">
                <i class="ui icon double angle left"></i>
            </a>
            <a class="item" id="left-change">
                <i class="ui icon angle left"></i>
            </a>
            <a class="item" id="right-change">
                <i class="ui icon angle right"></i>
            </a>
            <a class="item" id="right-skip">
                <i class="ui icon double angle right"></i>
            </a>
        </div>
    </div>


    <script src="{% static "make_queue/js/course_panel.js" %}"></script>
{% endblock %}