{% extends 'make_queue/course/course_registration_edit.html' %}
{% load i18n %}


{% block form_title %}
    {% trans "Add course registration" %}
{% endblock form_title %}

{% block submit_button %}
    {% trans "Submit" %}
{% endblock submit_button %}

{% block messages %}
    {{ block.super }}
    {% if is_next %}
        <div class="ui positive message">
            <i class="ui close icon"></i>
            {% trans "Registration of course participation successful" %}
        </div>
    {% endif %}
{% endblock messages %}

{% block form_action %}
    {% url 'create_course_registration' %}
{% endblock form_action %}
