{% extends "web/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "make_queue/css/course_registration.css" %}">
{% endblock %}

{% block body %}

    <div class="ui container">
        <h1>
            {% block form_title %}
                {% trans "Edit course registration" %}
            {% endblock %}
        </h1>

        {% block messages %}
            <div class="ui warning message hidden" id="username_not_found_warning">
                <i class="close icon"></i>
                <div class="header">
                    {% trans "Could not find the user in the NTNU database" %}
                </div>
                <p> {% trans "Are you sure you entered the correct username?" %} </p>
            </div>
        {% endblock %}


        <form class="ui form" action="{% block form_action %}{% endblock %}" method="post">
            {% csrf_token %}

            <div class="ui horizontal divider">
                {% trans "User information" %}
            </div>

            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="ui field">
                    <label>{{ form.card_number.label }}
                        <span id="card_number_count">{{ form.card_number.initial|stringformat:"i"|length }}</span>
                    </label>
                    {{ form.card_number }}
                </div>

            </div>
            <div class="ui two fields">
                <div class="ui field">
                    <label>
                        {{ form.user.label }}
                        <span class="clear-dropdown">{% trans "Clear selection" %}</span>
                    </label>
                    {{ form.user }}
                </div>
                <div class="ui field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
            </div>

            <div class="ui horizontal divider">
                {% trans "Registration status" %}
            </div>

            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.date.label }}</label>
                    {{ form.date }}
                </div>
                <div class="ui field">
                    <label>{{ form.status.label }}</label>
                    {{ form.status }}
                </div>
            </div>
            <button class="ui right floated yellow button">
                {% block submit_button %}
                    {% trans "Submit" context "edit" %}
                {% endblock %}
            </button>
            <a href="{% url "course_panel" %}" class="ui right floated yellow button">
                {% trans "Cancel" context "abort action" %}
            </a>
        </form>
    </div>

    <script>
        $(".message .close").click(function () {
            $(this)
                .closest(".message")
                .transition("fade");
        });

        $(".clear-dropdown").click(function () {
            $(this).closest("div.ui.field").find("div.dropdown")
                .dropdown("clear")
                .find("input.search").val("");
        });

        $("input[name='username']").focusout((event) => {
            $.ajax(`${langPrefix}/reservation/json/${$(event.target).val()}/`, {
                success: function (data) {
                    $("input[name='name']").val(data["full_name"]);
                    $('#username_not_found_warning').fadeOut();
                },
                error: function () {
                    $('#username_not_found_warning').fadeIn();
                },
            });
            $("#user").closest(".dropdown").dropdown("set selected", $(event.target).val())
        });

        let cardNumberLengthCount = $("#card_number_count");
        $("input[name={{ form.card_number.name }}]").on("keyup paste", (event) => {
            cardNumberLengthCount.text(event.target.value.length);
        })
    </script>
{% endblock %}
