{% extends "web/base.html" %}
{% load i18n %}
{% load util_tags %}

{% block head %}
    {{ block.super }}
    <style>
        .clear-dropdown {
            color: #0E6EB8;
            float: right;
        }

        .clear-dropdown:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="ui container">
        <h1>
            {% block form_title %}
                {% trans "Edit course registration" %}
            {% endblock %}
        </h1>

        {% block messages %}
            <div class="ui warning message hidden" id="username_not_found_warning">
                <i class="close icon"></i>
                <div class="header">
                    {% trans "Could not find the user in the NTNU database" %}
                </div>
                <p> {% trans "Are you sure you entered the correct username?" %} </p>
            </div>
            {% form_has_error form "username" "unique" as unique_error %}
            {% if unique_error %}
                <div class="ui error message">
                    <i class="close icon"></i>
                    <div class="header">
                        {% trans "Username already exists" %}
                    </div>
                    <p>{% trans "Are you sure you entered the correct username?" %}</p>
                </div>
            {% endif %}
        {% endblock %}


        <form class="ui form" action="{% block form_action %}{% endblock %}" method="post">
            {% csrf_token %}
            <div class="ui two fields">
                <div class="ui field">
                    <label>{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="ui field">
                    <label>
                        {{ form.user.label }}
                        <span class="clear-dropdown">{% trans "Clear selection" %}</span>
                    </label>
                    {{ form.user }}
                </div>
            </div>
            <div class="ui four fields">
                <div class="ui field">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <div class="ui field">
                    <label>{{ form.card_number.label }}</label>
                    {{ form.card_number }}
                </div>
                <div class="ui field">
                    <label>{{ form.date.label }}</label>
                    {{ form.date }}
                </div>
                <div class="ui field">
                    <label>{{ form.status.label }}</label>
                    {{ form.status }}
                </div>
            </div>
            <button class="ui right floated yellow button">
                {% block submit_button %}
                    {% trans "Submit" context "edit" %}
                {% endblock %}
            </button>
            <a href="{% url "course_panel" %}" class="ui right floated yellow button">
                {% trans "Cancel" %}
            </a>
        </form>
    </div>

    <script>
        $(".message .close").click(function () {
            $(this)
                .closest(".message")
                .transition("fade");
        });

        $(".clear-dropdown").click(function () {
            $(this).closest("div.ui.field").find("div.dropdown")
                .dropdown("clear")
                .find("input.search").val("");
        });

        $("input[name='username']").focusout(function () {
            $.ajax(langPrefix + "/reservation/json/" + $("input[name='username']").val() + "/", {
                success: function (data) {
                    $("input[name='name']").val(data["full_name"]);
                    $('#username_not_found_warning').fadeOut();
                },
                error: function () {
                    $('#username_not_found_warning').fadeIn();
                },
            });
        });
    </script>
{% endblock %}
