{% extends 'web/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Edit" %}{% endblock title %}

{% block head %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock head %}

{% block body %}
    <h1 class="ui centered header">
        {% block form_header %}{% trans "Edit Makerverkstedet" %}{% endblock form_header %}
    </h1>
    <form class="ui form text container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <label>{{ form.title.label }}</label>
            {{ form.title }}
        </div>
        <div class="field">
            <label>{% trans "Content" %}</label>
            {{ form.content }}
        </div>
        <input class="ui blue submit button" type="submit" value="{% trans "Save" %}">
    </form>
{% endblock body %}