{% extends "contentbox/display.html" %}
{% load i18n %}
{% load static %}


{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "makerspace/css/makerspace.css" %}"/>
{% endblock head %}

{% block extra_post_content %}
    <br/>

    <div class="makerspace-sub-pages">
        <p>
            <span class="title">
                <a href="{% url 'makerspace-equipment-list' %}">{% trans "Equipment" %}</a>
            </span> &nbsp;&ndash;&nbsp; {% trans "an overview of the various equipment at the workshop, and instructions on how to use it" %}.
        </p>

        <p>
            <span class="title">
                <a href="{% url 'rules' %}">{% trans "Rules" %}</a>
            </span> &nbsp;&ndash;&nbsp; {% trans "you must follow these to be allowed to use the workshop" %}.
        </p>
    </div>
{% endblock extra_post_content %}
