{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block body %}
    <div class="make_content_padding"></div>
    <div class="ui text container" style="position: relative; margin: 100px 0 ;">
        {% if user.is_superuser %}
            <p></p>
            <a href= "{{ latest_makerspace_announce.id}}/edit" class="ui yellow button">
               Rediger
            </a>
        {% endif %}
        <h1>
            <strong>
                {{ latest_makerspace_announce.title }}
            </strong>
        </h1>
        {% autoescape off %}
            {{ latest_makerspace_announce.content }}
        {% endautoescape %}
        {% if LANGUAGE_CODE == "en" %}
            <a href="{% url 'makerspace-tools' %}" style="font-size: large; text-align: start"> Go to tools </a>
        {% else %}
            <a href="{% url 'makerspace-tools' %}" style="font-size: large; text-align: start"> Gå til ustyrliste </a>
        {% endif %}

    </div>






{% endblock body %}
