{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block body %}
    <h1 class="ui text-centered make_col_blue header">{% trans "The page doesn't exist" %}</h1>
    <div class="ui text container" style="position: relative; margin: 100px 0;font-size: 20px">
        <p style="font-family:Ubuntu">
            {% blocktrans trimmed %}
                <em>Not all those who wander are lost</em>
                <br/>
                -Bilbo Baggins
                <br/><br/>
                But you are.
            {% endblocktrans %}
        </p>
    </div>
{% endblock body %}
