{% extends "contentbox/display.html" %}
{% load i18n %}
{% load static %}


{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "web/css/about.css" %}"/>
{% endblock head %}

{% block extra_post_content %}
    <br/>

    <div class="about">
        <p>
            <span class="title">
                <a href="{% url 'contact' %}">{% trans "Email list" %}</a>
            </span> &nbsp;&ndash;&nbsp; {% trans "a list of relevant email addresses where you can contact us" %}.
        </p>
    </div>
{% endblock extra_post_content %}
