{% extends "web/base.html" %}
{% load staticfiles %}
{% load permission_tags %}


{% block body %}
    <div class="ui text container">
        {% if user|has_any_news_permissions or user.is_superuser %}
            <a class="ui yellow button" href="/news/admin/">Artikler og arrangementer</a>
        {% endif %}
        {% if perms.make_queue.can_create_event_reservation %}
            <a class="ui yellow button" href="{% url 'admin_reservation' %}">Reservasjoner</a>
        {% endif %}
        {% if perms.make_queue.can_edit_quota %}
            <a class="ui yellow button" href="{% url 'quota_panel' %}">Kvote</a>
        {% endif %}
    </div>
{% endblock body %}
