{% extends "web/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load permission_tags %}


{% block body %}
    <div class="ui text container">
        {% if user|has_any_news_permissions or user.is_superuser %}
            <a class="ui yellow button" href="{% url 'admin' %}">{% trans "Articles and events" %}</a>
        {% endif %}
        {% if perms.make_queue.can_create_event_reservation %}
            <a class="ui yellow button" href="{% url 'admin_reservation' %}">{% trans "Reservations" %}</a>
        {% endif %}
        {% if perms.make_queue.can_edit_quota %}
            <a class="ui yellow button" href="{% url 'quota_panel' %}">{% trans "Quota" %}</a>
        {% endif %}
	{% if perms.groups.can_edit_group %}
            <a class="ui yellow button" href="{% url 'committee_admin' %}">{% trans "Committees" %}</a>
	{% endif %}
    </div>
{% endblock body %}
