{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "web/css/footer.css" %}">

<div class="footer">
    <div>
        <div class="logo">
            <img src="{% static "web/img/logo_allwhite.svg" %}">
        </div>
        <a href="http://s.mazemap.com/2zleDaH">Makerverkstedet<br>Realfagbygget U1<br>7034 Trondheim</a>
    </div>
    <div class="ui social list">
        <div class="item">
            <a href="http://www.facebook.com/MAKENTNU/"><i class="facebook f icon"></i></a>
        </div>
        <div class="item">
            <a href="http://makentnu.slack.com/"><i class="slack icon"></i></a>
        </div>
        <div class="item">
            <a href="http://github.com/MAKENTNU"><i class="github alternate icon"></i></a>
        </div>
        <div class="item">
            <a><i class="twitter icon"></i></a>
        </div>
        <div class="item">
            <a><i class="snapchat ghost icon"></i></a>
        </div>
        <div class="item">
            <a href="mailto:styret@makentnu.no"><i class="mail icon"></i></a>
        </div>
    </div>
    <div class="ui list">
        <div class="item">
            <div class="content">
                <a>Opptak</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a>Reglement</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a>Meld skade</a>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <a>Cookies</a>
            </div>
        </div>
    </div>
</div>
