{% load staticfiles %}
{% load i18n %}
{% load string_tags %}
{% load permission_tags %}
{% get_current_language as LANGUAGE_CODE %}

<link rel="stylesheet" type="text/css" href="{% static "web/css/header.css" %}">

<div class="nav">
    <div class="burger">
        <i class="sidebar icon"></i>
    </div>
    <div class="logo">
        <a href="{% url 'front-page' %}">
            <img class="limg large" src="{% static "web/img/logo_white.svg" %}">
            <img class="limg medium" src="{% static "web/img/logo_make.svg" %}">
            <img class="limg small" src="{% static "web/img/logo_m.svg" %}">
        </a>
    </div>
    <div class="ui secondary inverted menu">
        <a class="item" href="{% url 'front-page' %}">
            {% trans "Home" %}
        </a>
        <a class="item" href="{% url 'events' %}">
            {% trans "Events" %}
        </a>
        <a class="item" href="{% url 'articles' %}">
            {% trans "Articles" %}
        </a>
        <a class="item" href="{% url 'makerspace' %}">
            {% trans "Makerverkstedet" %}
        </a>
        <a class="item" href="{% url 'reservation_machines_overview' %}">
            {% trans "Reservations" %}
        </a>
        {% if user.is_authenticated %}
            <div class="ui dropdown item">
                <div class="text">{{ user.first_name|first_word }}</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% if user|has_any_permissions or user.is_superuser %}
                        <a class="item" href="{% url 'adminpanel' %}">
                            {% trans "Administration" %}
                        </a>
                    {% endif %}
                    <a class="item" href="{% url 'profile' %}">
                        {% trans "Profile" %}
                    </a>
                    <a class="item" href="{% url 'logout' %}">
                        {% trans "Logout" %}
                    </a>
                </div>
            </div>
            {% block scripts %}
                <script>$('.dropdown').dropdown();</script>
            {% endblock scripts %}
        {% else %}
            <a class="item" href="{% url 'login' %}">
                {% trans "Login" %}
            </a>
        {% endif %}
        <!--div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <a class="ui item">
                Logout
            </a>
        </div-->
        <a class="item lang-link" href="">
	    {% if LANGUAGE_CODE == "en" %}
		Norsk
	    {% else %}
		English
	    {% endif %}
        </a>
    </div>
</div>

{# This form is hidden, but is submitted through JQuery #}
<form class="lang-form" action="{% url 'set_language' %}" method="POST">
    {% csrf_token %}
    {% if LANGUAGE_CODE == "en" %}
	<input name="language" type="hidden" value="nb"/>
	<input name="next" type="hidden" value="{{ request.get_full_path|slice:"3:" }}"/>
    {% else %}
	<input name="language" type="hidden" value="en"/>
	<input name="next" type="hidden" value="/en{{ request.get_full_path }}"/>
    {% endif %}
    <input type="submit" />
</form>

<script>
    $(".lang-link").click(function(event) {
        event.preventDefault();
	$(".lang-form").submit();
    })
    $('.burger').click(function () {
	$('.nav').toggleClass('active');
    });
</script>
