{% load staticfiles %}
{% load string_tags %}

<link rel="stylesheet" type="text/css" href="{% static "web/css/header.css" %}">

<div class="nav">
    <div class="burger">
        <i class="sidebar icon"></i>
    </div>
    <div class="logo">
        <img class="limg large" src="{% static "web/img/logo_white.svg" %}">
        <img class="limg medium" src="{% static "web/img/logo_make.svg" %}">
        <img class="limg small" src="{% static "web/img/logo_m.svg" %}">
    </div>
    <script>
        $(function() {
            $('.burger').click(function () {
                $('.nav').toggleClass('active');
            });
            $('.logo').click(function () {
                 window.location.href = '/';
            });
        });
    </script>
    <div class="ui secondary inverted menu">
        <a class="item" href="/">
            Hjem
        </a>
        <a class="item" href="/news/events/">
            Arrangementer
        </a>
        <a class="item" href="/news/articles/">
            Artikler
        </a>
        <a class="item" href="/makerspace/">
            Makerverkstedet
        </a>
        <a class="item" href="/about/">
            Om oss
        </a>
        {% if user.is_authenticated %}
            <div class="ui dropdown item">
              <div class="text">{{ user.first_name|first_word }}</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="/logout/">
                Logout
            </a>
              </div>
            </div>
            <script>$('.dropdown').dropdown();</script>
        {% else %}
            <a class="item" href="/login/">
                Login
            </a>
        {% endif %}
        <!--div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <a class="ui item">
                Logout
            </a>
        </div-->
    </div>
</div>
