{% load staticfiles %}
{% load i18n %}
{% load string_tags %}
{% load permission_tags %}
{% get_current_language as LANGUAGE_CODE %}

<link rel="stylesheet" type="text/css" href="{% static "web/css/header.css" %}">

<header id="header">
    <div class="logo-centering">{# Empty div for centering logo (on mobile), specified with grid-template-columns #}</div>

    <div class="logo">
        <div>{# Empty div for spacing left of logo, specified with grid-template-columns #}</div>
        <a href="{% url 'front-page' %}">
            <img class="limg large" src="{% static "web/img/logo_white.svg" %}">
            <img class="limg medium" src="{% static "web/img/logo_make.svg" %}">
            <img class="limg small" src="{% static "web/img/logo_m.svg" %}">
        </a>
    </div>

    <div id="burger">
        <i class="sidebar icon"></i>
    </div>

    <nav id="nav" class="ui secondary inverted menu">
        <a class="item" href="{% url 'events' %}">
            <div class="text">{% trans "Events" %}</div>
            <div class="bubble-background"></div>
        </a>
        <a class="item" href="{% url 'articles' %}">
            <div class="text">{% trans "Articles" %}</div>
            <div class="bubble-background"></div>
        </a>
        <a class="item" href="{% url 'reservation_machines_overview' %}">
            <div class="text">{% trans "Reservations" %}</div>
            <div class="bubble-background"></div>
        </a>
        <a class="item" href="{% url 'makerspace' %}">
            <div class="text">{% trans "Makerverkstedet" %}</div>
            <div class="bubble-background"></div>
        </a>
        <a class="item" href="{% url 'about' %}">
            <div class="text">{% trans "About us" %}</div>
            <div class="bubble-background"></div>
        </a>
    </nav>

    <div id="side-nav" class="ui secondary menu">
        {% if user.is_authenticated %}
            <div id="nav-user-dropdown" class="ui dropdown item">
                <div class="text">{{ user.first_name|first_word }}</div>
                <i class="dropdown icon text" tabindex{# For disabling focus on click #}></i>
                <div class="bubble-background"></div>

                <div class="menu transition hidden">
                    {% if user|has_any_permissions or user.is_superuser %}
                        <a class="item" href="{% url 'adminpanel' %}">
                            <div class="text">{% trans "Administration" %}</div>
                        </a>
                    {% endif %}
                    <a class="item" href="{% url 'profile' %}">
                        <div class="text">{% trans "Profile" %}</div>
                    </a>
                    <a class="item" href="{% url 'logout' %}">
                        <div class="text">{% trans "Logout" %}</div>
                    </a>
                </div>

            </div>
        {% else %}
            <a class="item" href="{% url 'login' %}">
                <div class="text">{% trans "Login" %}</div>
                <div class="bubble-background"></div>
            </a>
        {% endif %}

        <div class="lang-link ui inverted secondary menu">
            <div class="ui language link item">
                <div class="text">
                    {% if LANGUAGE_CODE == "en" %}
                        Norsk
                    {% else %}
                        English
                    {% endif %}
                </div>
                <i class="globe icon text"></i>
            </div>
        </div>

    </div>
</header>

{# This form is hidden, but is submitted through jQuery #}
<form id="lang-form" action="{% url 'set_language' %}" method="POST" style="display:none">
    {% csrf_token %}
    {% if LANGUAGE_CODE == "en" %}
        <input name="language" type="hidden" value="nb"/>
        <input name="next" type="hidden" value="{{ request.get_full_path|slice:"3:" }}"/>
    {% else %}
        <input name="language" type="hidden" value="en"/>
        <input name="next" type="hidden" value="/en{{ request.get_full_path }}"/>
    {% endif %}
    <input type="submit"/>
</form>

<script>
    $('#nav-user-dropdown').dropdown({action: "nothing"});

    $(".lang-link").click(function (event) {
        event.preventDefault();
        $("#lang-form").submit();
    });

    $('#burger').click(function () {
        $('#header').toggleClass('active');
    });
</script>
