{% extends "web/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "web/css/index.css" %}">
{% endblock head %}

{% block body %}
    <div class="ui container">
        <img class="logo" src="{% static "web/img/logo.svg" %}">
    </div>
    <div class="ui text-centered text container">
        <p><i>Nettsiden er for øybelikket under utvikling</i></p>
        <h2 class="ui header removebottommargin">Lurer du på noe?</h2>
        <p><a href="mailto:leder@makentnu.no">Kontakt</a>
        eller <a href="http://s.mazemap.com/2zleDaH">besøk</a> oss</p>
        <br>
        <a href="http://www.kurspaamelding.no/ntnu-ub/makerspace">Påmelding til 3D-printerkurs</a>
    </div>
{% endblock body %}
