{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>MAKE NTNU</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static "web/css/style.css" %}">
	</head>
	<body>
		<main>
            <div class="center">
                <h1 class="title">MAKE NTNU</h1>
                <div class="information">
                    <i>Nettsiden er for øybelikket under utvikling. </i><br/>
                    <div class="separator"></div>
                    <div class="larger"><b>Lurer du på noe?</b></div>
                    <a href="" onclick="window.open(atob('bWFpbHRvOnN0eXJldEBtYWtlbnRudS5ubw=='), '_blank'); return 0">Kontakt</a> eller <a href="http://s.mazemap.com/2zleDaH">besøk</a> oss
		            <div class="separator"></div>
                    <a href="http://www.kurspaamelding.no/ntnu-ub/makerspace">Påmelding til 3D-printerkurs</a>
                </div>
            </div>
		</main>
	</body>
</html>
