.announcement {
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.info.announcement {
    background-color: #DFF0FF;
    border-top-color: #2185D0;
    border-bottom-color: #2185D0;
}

.info.announcement, .info.announcement a {
    color: #2B66AA;
}

.warning.announcement {
    background-color: #FFF8DB;
    border-top-color: #B58105;
    border-bottom-color: #B58105;
}

.warning.announcement, .warning.announcement a {
    color: #B58112;
}

.critical.announcement {
    background-color: #FFE8E6;
    border-top-color: #DB2828;
    border-bottom-color: #DB2828;
}

.critical.announcement, .critical.announcement a {
    color: #912D2B;
}
