.edit-button {
    margin-top: 1em !important; /* Overrides Fomantic-UI */
    margin-bottom: 1em !important; /* Overrides Fomantic-UI */
}

.edit-button.hidden {
    visibility: hidden;
}

.contentbox {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.contentbox .edit.button {
    position: absolute;
    top: -3rem;
    left: 0;
}

.contentbox img {
    max-width: 100%;
    /* Overrides images' `height` attribute (which is set by CKEditor by default),
       to prevent them from getting skewed when `max-width` takes effect */
    height: auto !important;
}
