.machine-type-title {
    vertical-align: sub;
    display: inline;
}

.reservation-management-buttons .button {
    margin-top: 0.5em;
}

.machine-type-title-field {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.reservation-machine-shortcut-buttons {
    margin: 2rem 0 1rem 0;
}

.reservation-machine-shortcut-buttons h4 {
    display: inline;
    margin-right: 0.5rem;
}

.reservation-machine-shortcut-buttons .button {
    color: black !important;
}

@media only screen and (max-width: 700px) {
    .reservation-machine-shortcut-buttons h4 {
        display: block;
        margin-right: unset;
    }

    .reservation-machine-shortcut-buttons .button {
        margin-bottom: 0.5rem;
    }
}
