name: CI

on: [ push, pull_request ]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          uv-sync-extra-args: "--group ci"

      - name: Create `.env`
        shell: bash
        run: cp .env.example .env

      - name: Run Django Tests
        run: |
          uv run manage.py collectstatic --no-input
          uv run coverage run manage.py test
          uv run coverage xml

      - name: Upload to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
